{% extends "mail/_notification_email.html" %}

{% load i18n %}
{% load account_tags %}
{% load content_utils %}

{% block body_title %}
  <h4><a href="{{ follower_url }}">{{ follower_name }}</a> {% trans "is now following you on NewCo!" %}
{% endblock %}

{% block body_answer %}
  <a href="{{ follower_url }}">
    <h4>{% profile_pic follower 36 %} {{ follower_name }}</h4>
  </a>

  {% include "profiles/_profile_info.html" with profile=follower.get_profile display="email_html" %}

  <br>
  <br>

  {% blocktrans %}To follow back <a href="{{ follower_url }}">{{ follower_name }}</a>, go on <a href="{{ follower_url }}">his profile</a>.{% endblocktrans %}
{% endblock %}
