{% load i18n %}

<html>
<head><title>{{ message_subject }}</title></head>

<body>

<table style="width: 595px;">
	<tr>
		<td style="width: 95px; vertical-align: middle; padding: 10px; background-color: #000000;">
            <table style="width: 95px; height: 37px;">
                <tr>
                    <td style="width: 95px; padding: 10px; vertical-align: middle; background-color: #000000;">
                        <center><a href="http://www.newco-project.fr/" style="color: #ffffff; text-decoration: none; font-size: 20px; font-weight: 200; font-family: Helvetica Neue, Helvetica, Arial, sans-serif;">NewCo</a></center>
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 500px; padding: 0 10px 0 10px; vertical-align: top; background-color: #e8e8e8;">
            {% block body_title %}{% endblock %}
        </td>
    </tr>
    <tr>
        <td style="width: 95px;">
        </td>
        <td style="width: 500px; padding: 5px 0 10px 10px; vertical-align: top; background-color: #f2f2f2;">
            <div style="font-family: verdana,serif;">{% block body_answer %}{% endblock %}</div>
	    </td>
    </tr>
    <tr>
    	<td style="width: 95px;">
        </td>
    	<td style="width:585px; padding: 10px 0 0 10px; border-top: 1px = solid #EAEAEA">
    	    <br>
            Thanks,<br>
            The NewCo Project team<br>
            <hr>
            <small>
                {% blocktrans %}
                    This email has been sent because you allowed it in your account configuration. If you want to change it, please go <a href="{{ settings_url }}" >here</a> (available soon, please forgive us for the emails you didn't want in the mean time).
                {% endblocktrans %}
    	    </small>
	    </td>
    </tr>
</table>
</body></html>
