{% load content_utils %}
{% load i18n %}

<form class="controls_2 vote" action="" method="POST">
  {% csrf_token %}
  <button type="submit" class="icon-chevron-up" name="vote_button" title="{% trans "Vote up: this contribution shows effort on quality; it is usefull and clear (click again to undo)" %}" value="{% if vote.is_upvote %}clear{% else %}up{% endif %}" data-vote="{{ vote.is_upvote }}"></button><br>
  <button type="submit" class="icon-chevron-down" name="vote_button" title="{% trans 'Vote down: this contribution does&#39;t show effort on quality; it is not useful or unclear (click again to undo)' %}" value="{% if vote.is_downvote %}clear{% else %}down{% endif %}" data-vote="{{ vote.is_downvote }}"></button>
  <input type="hidden" name="class_name" value="{{ object|full_class_name }}">
  <input type="hidden" name="id" value="{{ object.id }}">
  {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
</form>
