{% load content_utils %}

<form class="controls_2 vote" action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="icon-chevron-up" name="vote_button" value="{% if vote.is_upvote %}clear{% else %}up{% endif %}" data-vote="{{ vote.is_upvote }}"></button><br>
    <button type="submit" class="icon-chevron-down" name="vote_button" value="{% if vote.is_downvote %}clear{% else %}down{% endif %}" data-vote="{{ vote.is_downvote }}"></button>
    <input type="hidden" name="app_label" value="{{ object|to_app_label }}"/>
    <input type="hidden" name="object_name" value="{{ object|to_class_name }}"/>
    <input type="hidden" name="id" value="{{ object.id }}"/>
</form>
