{% load i18n %}

<html>
<head><title>{{ message_subject }}</title></head>

<body>
    <strong>{{ askee }}</strong>,<br><br>
    <a href="{{ asker_url }}">{{ asker }}</a> {{ txt_request }}
    <br><br><hr>
    <small>
        {% blocktrans %}
            This email has been sent because you allowed it in your account configuration. If you want to change it, please go <a href="{{ settings_url }}" >here</a> (available soon).
            <br><br>
            Thanks,
            The NewCo team
        {% endblocktrans %}
    </small>
</body>
</html>
