[submodule "newco/static/external/select2"]
	path = newco/static/external/select2
	url = git://github.com/ivaynberg/select2.git
[submodule "newco/static/external/bootstrap-image-gallery"]
	path = newco/static/external/bootstrap-image-gallery
	url = git://github.com/blueimp/Bootstrap-Image-Gallery.git
[submodule "newco/static/external/javascript-load-image"]
	path = newco/static/external/javascript-load-image
	url = git://github.com/blueimp/JavaScript-Load-Image.git
[submodule "newco/static/external/jquery-expander"]
	path = newco/static/external/jquery-expander
	url = git://github.com/kswedberg/jquery-expander.git
[submodule "newco/static/external/mustache.js"]
	path = newco/static/external/mustache.js
	url = git://github.com/janl/mustache.js.git
[submodule "newco/static/external/bootstrap-ajax"]
	path = newco/static/external/bootstrap-ajax
	url = git://github.com/eldarion/bootstrap-ajax.git
