# use glob syntax.
syntax: glob

# Mercurial
.hg

# Temp files
*~
*.pyc
*.swp

#dev file
*.db

#IDE files
.settings/**
.settings

#setup files
build/

# Apple relou
.DS_Store

# Opendiff
opendiff-w

# Pydev
.pydevproject

# Redis dumps
*.rdb

# D4 Catalog update log
*decathlon_db_log.txt

# static files
*/site_media/*

# ignore images in project root folder (pycallgraph)
*.png