[submodule "newco/static/external/select2"]
	path = newco/static/external/select2
	url = git://github.com/ivaynberg/select2.git
[submodule "newco/static/external/bootstrap-image-gallery"]
	path = newco/static/external/bootstrap-image-gallery
	url = git://github.com/blueimp/Bootstrap-Image-Gallery.git
[submodule "newco/static/external/javascript-load-image"]
	path = newco/static/external/javascript-load-image
	url = git://github.com/blueimp/JavaScript-Load-Image.git
[submodule "newco/static/external/jquery-expander"]
	path = newco/static/external/jquery-expander
	url = git://github.com/kswedberg/jquery-expander.git
[submodule "newco/static/external/masonry"]
	path = newco/static/external/masonry
	url = git://github.com/desandro/masonry.git
[submodule "newco/static/external/joyride"]
	path = newco/static/external/joyride
	url = git://github.com/zurb/joyride.git
