## web framework
Django==1.4.1

## Pinax ecosystem (from pinax basic project requirements/base.txt)
--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/
Pinax==0.9b1.dev10
django-user-accounts==1.0b6

django-extensions==0.9
django-debug-toolbar==0.9.4
django-staticfiles==1.2.1
django-compressor==1.2a1

django-timezones==0.2
pytz==2012d
django-openid==0.3a1
python-openid==2.2.5
Babel==0.9.6

django-announcements==0.2.1
django-pagination==1.0.7
django-notification==0.3a1.dev9
idios==0.2a2.dev2
metron==0.2.dev3
django-model-utils==1.1.0
django-tastypie==0.9.11

django-admin-tools==0.4.1
git+git://github.com/blaze33/django-gravatar.git@6fa71ad05bd57126966a09570138f66746c408b4#egg=django-gravatar

# Amazon
python-amazon-product-api==0.2.5

# lxml required by amazon api (3.0 alpha 2 released)
lxml==2.3.4

## pinax-theme-bootstrap
# pinax-theme-bootstrap==2.0.4
git+git://github.com/pinax/pinax-theme-bootstrap.git@c12c88471ee591e17e3fe1d0b223afdf0acbb538#egg=pinax_theme_bootstrap
pinax-theme-bootstrap-account==1.0b2

## schema and data migrations
South==0.7.6

## AWS interface & storage backend
boto==2.5.2
django-storages==1.1.4  ##TODO 1.1.5 released => needs to be tested
## dateutil needed to only upload updated files
python-dateutil==2.1

## memcache interface
pylibmc==1.2.3
django-pylibmc-sasl==0.2.4
## memcache configuration for heroku
django-heroku-memcacheify==0.2  ## 0.3 "Fixing broken memcachier support"

## production webserver
gunicorn==0.14.6
gevent==0.13.7
greenlet==0.3.4

## Database backends
## PostgreSQL adapter for Python
psycopg2==2.4.5
## Database configuration for heroku
django-heroku-postgresify==0.2
git+git://github.com/aino/django-hstore.git

## monitoring
newrelic==1.3.0.289
raven==1.9.4

## utils
requests==0.13.3

## tagging + autosuggest
django-taggit==0.9.3
django-taggit-autosuggest==0.2

## voting application
django-voting==0.2

## queryset handling for generic relations
django-generic-aggregation==0.3.1

## Following application
django-follow==0.6

## Chosen
git+git://github.com/theatlantic/django-chosen.git@b230dd5fe2d42c0bae9b4c3c61ae0eb964a118ea#egg=django_chosen
# django-chosen==0.1

## Redis + complete
redis==2.6.2
redis-completion==0.4

## template loader
django-apptemplates==0.0.1

## The following requirements were added by pip --freeze:
BeautifulSoup==3.2.1
argparse==1.2.1
distribute==0.6.24
dj-database-url==0.1.2
django-appconf==0.5
django-email-confirmation==0.2
django-forms-bootstrap==2.0.3.post1
django-mailer==0.2a1
simplejson==2.4.0
versiontools==1.9.1
wsgiref==0.1.2

#NewCo_bw_editor
hg+https://hg@bitbucket.org/sebastien_worms/newco_bw_editor@0d1451ac8a46#egg=newco_bw_editor
