--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/
--extra-index-url=http://dist.pinaxproject.com/fresh-start/

Django==1.4
MySQL-python==1.2.3
Pinax==0.9b1.dev10
South==0.7.4
boto==2.3.0
distribute==0.6.19
django-announcements==0.1.2
django-appconf==0.5
django-compressor==1.1.2
django-debug-toolbar==0.9.4
django-email-confirmation==0.2
django-mailer==0.2a1
django-notification==0.2
django-openid==0.3a1
django-pagination==1.0.7
django-staticfiles==1.2.1
django-storages==1.1.4
django-timezones==0.2
-e git://github.com/pinax/django-user-accounts.git@696bc6b2bee755ff0146eb24ceaa348864b47c20#egg=django_user_accounts-dev
gunicorn==0.14.2
idios==0.2a1
metron==0.1
-e git://github.com/pinax/pinax-theme-bootstrap.git@cff4f5bbe9f87f0c67ee9ada9aa8ae82978f9890#egg=pinax_theme_bootstrap-dev
-e git://github.com/pinax/pinax-theme-bootstrap-account.git@7d9fae11e4328c128aaa4df6a6dc02877e207f7f#egg=pinax_theme_bootstrap_account-dev
psycopg2==2.4.5
python-openid==2.2.5
pytz==2012b
wsgiref==0.1.2

