{% load i18n %}
{% load content_utils %}
{% load date_utils %}

{% if display == "mini_feed" %}
    <blockquote{% if content.is_draft %} class="draft"{% endif %}>
        <h5><a href="{{ author.get_absolute_url }}">{% profile_pic author 18 %}</a> {% include prof_tpl with object=author display=display %} {% blocktrans with url=content.get_absolute_url %}posted a <a href="{{ url }}">link</a> about{% endblocktrans %} {% include prod_tpl with object=content.items.all.0 display=display %}{% trans ":" %}</h5>

        <p{% if question.is_draft %} class="draft"{% endif %}>
            <small class="black" style="font-size: 11px !important; font-weight: normal !important; line-height: 11px; text-rendering: optimizelegibility;">{% autoescape off %}{{ content.content }}{% endautoescape %}
            </small>
            <span class="pull-right" style="color: #999; font-size: 11px; line-height: 11px; position: relative; top: -1px; left: 0px">{{ content.pub_date|datediff:"SHORT_DATE_FORMAT" }}</span>
        </p>
    </blockquote>
{% elif display == "thumbnail" %}
    {% include prof_tpl with object=content.author display=display color="black" %} {% blocktrans with url=content.get_absolute_url %}posted a <a href="{{ url }}" class="black">link</a> about{% endblocktrans %} {% include prod_tpl with object=item display=display color="black" %}
{% elif display == "text" %}
    <div class="row"><div class="span7">
        <h4>{% include prof_tpl with object=author display=display %} {% trans "posted a link about" %} {% include prod_tpl with object=content.items.all.0 display=display %}</h4>
    </div></div>

    <div class="row {% if content.is_public %}one_row{% elif content.is_draft %}draft{% endif %}">
        <div class="span4"><p>
            <a href="{{ content.get_absolute_url }}">{% trans "L:" %}</a>&nbsp;<a href="{{ content.url }}" target="_blank" {% if score.score < 2 %}rel="nofollow"{% endif %}>{{ content.content }}</a>
            {% if user.is_superuser or author == user %}
                {% with name=content|to_class_name %}{% edit name content.id path %}{% endwith %}
            {% endif %}
        </p></div>
        <div class="span1 right"><h3>{% if score %}{{ score.score }}{% else %}0{% endif %}</h3></div>
        <div class="span2 right">{% include "items/_author.html" with object=content %}</div>
    </div>
{% endif %}
