{% load i18n %}
{% load account_tags %}
{% load url from future %}
{% load content_utils %}

<div class="pull-right">
  <ul class="nav" role="navigation">
    {% if debug and templates %}<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" data-target="#" href=""><i class="icon-file icon-white"></i> {{ templates|length }}</a>
    <ul class="dropdown-menu pull-right" role="menu">{% for name, title in templates.items %}
      <li{% if name == template %} class="active"{% endif %}><a href="{{ request.path }}?{% for k, v in request.GET.items %}{% if not k == 'template' %}{{ k }}={{ v }}&amp;{% endif %}{% endfor %}template={{ name }}">{{ title }}</a></li>
      {% endfor %}</ul>
    </li>{% endif %}
    <li class="dropdown">
      <a class="dropdown-toggle" id="add-dropdown" data-toggle="dropdown" role="button" data-target="#" href=""> {% trans "Add +" %}</a>
      <ul class="dropdown-menu pull-right" role="menu">
        <li><a href="{% url 'item_create' 'item' %}"><i class="icon-list-alt"></i> {% trans "Add a product" %}</a></li>
        <li><a href="{% url 'item_create' 'question' %}"><i class="icon-question-sign"></i> {% trans "Ask a question" %}</a></li>
        <li><a class="tooltip-left" title="{% trans 'We are still working on it' %}"><span class="muted"><i class="icon-file"></i> {% trans "Add a story" %}</span></a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" id="help-dropdown" data-toggle="dropdown" role="button" data-target="#" data-original-title="{% trans 'Reload the tutorial here' %}" data-trigger="manual" data-placement="bottom" href=""> ?</a>
      <ul class="dropdown-menu pull-right" role="menu">
        <li><a id="link-tuto" onclick="$.launchJoyride()" href="#"><i class="icon-comment"></i> {% trans "Tutorial" %}</a></li>
        <li><a href="{% url 'faq' %}"><i class="icon-question-sign"></i> {% trans "FAQ" %}</a></li>
      </ul>
    </li>
  </ul>

  {% if request.user.is_authenticated %}
  <ul class="nav btn-group" role="navigation">
    <li class="btn btn-inverse well_auth">
      <a href="{% url 'dash' %}" style="font-size: 12px;">{% profile_pic request.user 26 %} {% user_display request.user %}</a>
    </li>
    <li class="btn btn-inverse" id="reputation-btn">
      <a href="/about/faq/#reputation" title="{% trans "Your reputation" %}">{{ request.user.reputation.reputation_incremented }}</a>
    </li>
    <li class="dropdown btn btn-inverse">
      <a class="dropdown-toggle" data-toggle=dropdown data-target="#" title="Menu" href=""><b class="caret"></b></a>
      <ul class="dropdown-menu pull-right">
        <li{% if page == "dashboard" %} class="active"{% endif %}><a href="{% url 'dash' %}"><i class="icon-eye-open"></i> <b>{% trans "Dashboard" %}</b> </a></li>
        <li{% if is_me %} class="active"{% endif %}><a href="{{ user.get_absolute_url }}" ><i class="icon-user"></i> <b>{% trans "My profile" %}</b> </a></li>
        <li><a href="{% url 'account_settings' %}"><i class="icon-wrench"></i> {% trans "Settings" %}</a></li>
        {% if request.user.is_staff %}
          <li><a href="{% url THEME_ADMIN_URL|default:'admin:index' %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{% url 'account_logout' %}"><i class="icon-off"></i> {% trans "Log out" %}</a></li>
      </ul>
    </li>
  </ul>
  {% else %}
  <ul class="nav btn-group">
    <li class="btn btn-inverse"><a href="{% url 'account_login' %}"><strong>{% trans "Log in" %}</strong></a></li>
    {% if ACCOUNT_OPEN_SIGNUP %}
    <li class="btn btn-danger non_auth"><a href="{% url 'account_signup' %}"><strong>{% trans "Sign up" %}</strong></a></li>
    {% endif %}
  </ul>
  {% endif %}
</div>
