{% extends "homepage_base.html" %}

{% load url from future %}
{% load i18n %}
{% load content_utils %}
{% load account_tags %}
{% load pagination_tags %}
{% load staticfiles %}

{% block body %}
<br><br><br>  
<div class="row">
	<div class="span4 offset1">
		<h2>{% trans "Answer questions" %}</h2>
		<h5> {% trans "Category" %} {{ category }}</h5>
		<hr>
	</div>
    <div class="span4">
    <form action="" method="POST" class="form-horizontal">{% csrf_token %}
        <input name="select_category_tag" type="text" autocomplete="off" placeholder="{% trans 'Filter by Category' %}" data-provide="typeahead" data-items="3" data-source="{{ data_source_tags }}" style="width:120px">
        <button type="submit" class="btn btn-primary" name="cat_tag" value="add">{% trans "Select" %}</button>
    </form>
    </div>
</div>


<div class="row"><div class="offset1 span8">{% if object_list %}{% for content in object_list %}
	{% include "items/root_display/_question.html" with display="unanswered_questions" %}
	
{% endfor %}
{% else %}
{% trans "No unanswered questions on this category." %}
<h3><a href="{% url 'item_create' 'question' %}" class="btn btn-large">{% trans "Ask your own awesome question then!" %}</a></h3>
{% endif %}
</div></div>

{% if is_paginated %}{% paginate %}{% endif %}

{% endblock %}
