{% extends "homepage_base.html" %}

{% load url from future %}
{% load i18n %}
{% load content_utils %}
{% load account_tags %}
{% load pagination_tags %}
{% load staticfiles %}

{% block extra_style %}
    {{ block.super }}
    <link href="{% static 'css/homepage_questions.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<br>
<div class="row">
<div class="span3">
  {% include "questions_subnav.html" %}
</div>

<div class="span9">
  <div class="row">
    <div class="span6">
      <h2>{% trans "Answer questions" %}</h2>
      {% if category_name %}<h5>{% trans "Category" %} {{ category_name }}</h5>{% endif %}
      <br><hr>
    </div>
  </div>
  
  <div class="row">
    <div class="span9">
      {% if object_list %}{% for content in object_list %}
        {% include "items/feed_display/_question.html" with display="unanswered" %}
        {% if content.items.all %}
          {% for item in content.items.all %}
            <div class="span1 content-item-mini">
            {% include "items/feed_display/_image.html" with image=item.image display="unanswered_questions" %}
            </div>
          {% endfor %}
        {% elif content.tags.all %}
          {% for tag in content.tags.all %}
            <div class="span1 content-item-mini">
              <a href="{{ content.get_absolute_url }}"><img src='http://www.kwe-tech.com/img/general/cardboard-box.png' width='60' height='60'>
              <h6 class="black" align="center">{{ tag.name }}</h6></a>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% else %}
      {% trans "No unanswered questions on this category." %}
      <h3><a href="{% url 'item_create' 'question' %}" class="btn btn-large">{% trans "Ask your own awesome question then!" %}</a></h3>
      {% endif %}
    </div>
  </div>

</div></div>
{% if is_paginated %}{% paginate %}{% endif %}

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            var labels, mapped
            $("#global_search_cat").typeahead({
                source: function (query, process) {
                    $.get('{% url "redis" "tags" %}', {q: query}, function (data) {
                        labels = []
                        mapped = {}

                        $.each(data, function (i, item) {
                            mapped[item.title] = item
                            labels.push(item.title)
                        })
                        process(labels)
                    })
                }
            });
        });
    </script>
{% endblock %}

{# TITLE: Sort Questions with Subnav #}
