{% extends "homepage_base.html" %}

{% load url from future %}
{% load i18n %}
{% load content_utils %}
{% load account_tags %}
{% load pagination_tags %}
{% load staticfiles %}

{% block extra_style %}
    <link href="{% static 'css/homepage_questions.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<br>
<div class="row"><div class="span10 offset1">
  <div class="row">
    <div class="span10">
      {% if '/popular' in request.path %}<h2>{% trans "Popular questions" %}</h2>
      {% elif '/las' in request.path %}<h2>{% trans "Last added questions" %}</h2>
      {% else %}<h2>{% trans "Questions without answer" %}</h2>{% endif %}
      {% if category_name %}<h5>{% trans "Category" %} {{ category_name }}</h5>{% endif %}
      <br><hr>
    </div>
  </div>

  <div class="row">
    <div class="span10">
      {% if object_list %}
        {% include "items/feed_display/_content_list.html" with contents=object_list display="text" display_ctx="False" display_img="True" display_a="no" display_linked_contt="False" user=user path=request.path scores=scores votes=votes csrf_token=csrf_token empty_msg=empty_msg only %}
      {% else %}
        {% trans "No unanswered questions on this category." %}
        <h3><a href="{% url 'item_create' 'question' %}" class="btn btn-large">{% trans "Ask your own awesome question then!" %}</a></h3>
      {% endif %}
    </div>
  </div>

</div></div>
{% if is_paginated %}{% paginate %}{% endif %}

{% endblock %}

{# TITLE: Original #}
