{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load staticfiles %}

{% block head_title %}
    {% if user.is_authenticated %}{% user_display user as username %}{% blocktrans %}Home: {{ username }}{% endblocktrans %}{% else %}{% trans "Home" %}{% endif %}
{% endblock %}


{% block extra_style %}
    {{ block.super }}
    <link type="text/css" href="{{ STATIC_URL }}css/global.css" rel="stylesheet">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}


{% block body_base %}
  <div id="why_NewCo" class="collapse{% if request.GET.welcome %} in{% else %} out{% endif %}" style="background-image: url({% static 'img/bg/apple_bg_linen_light_grey.jpeg' %});">
    <div class="container" style="position: relative; z-index: +2;">

      <header class="jumbotron subhead" id="newco" style="border-top: 30px solid transparent;">
        <div class="row">
          <center>
            <h1 style="font-size: 60px; line-height: 18px;">{% trans "NewCo" %}<br><small><i>{% trans "Empowering you to buy better" %}</i></small></h1>
            <p class="lead muted">{% blocktrans %}NewCo helps you choose with confidence and share your advice between users.{% endblocktrans %}</p>
          </center>
        </div>
      </header>

      <div class="row">
        <div class="span6">
          <div class="well well-large WhyNC-col" id="info" style="margin-bottom: 5px; position: relative;">
            <h2 style="text-align: center; font-size: 30px;"><em>{% trans "Get information" %}</em></h2>
            <br>
            <p class="lead" style="margin-bottom: 0px; opacity: 0;">
              <i class="icon-search" style="margin-right: 3px; vertical-align: middle;"></i> {% trans "Find products or tags in the search bar" %}...
              <br><br>
              {% url "item_index" as index_url %}
              {% blocktrans %}...or <a href="#" class="btn btn-primary"><em><i class="icon-play" style="margin-right: 3px; vertical-align:middle;"></i>explore NewCo</em></a>{% endblocktrans %}
            </p>
            <img class="arrow-search-bar-hidden" src="{% static 'img/arrows_top_right.png' %}" type="image/png" id="arrow_search_bar" style="position: absolute; top: -140px; left: +0px;">
            <p class="lead" style="margin-bottom: 0px; position: absolute; bottom: 24px;">
              <a class="arrow_search_bar_trigger" href="#"><i class="icon-search" style="margin-right: 3px; vertical-align: middle;"></i> {% trans "Find products or tags in the search bar" %}</a>...
              <br><br>
              {% blocktrans %}...or <a href="#" class="btn btn-primary" id="explore" style="font-size: 18px; font-weight: 200; position:relative; top: -3px;"><em><i class="icon-play" style="margin-right: 3px; vertical-align:middle;"></i>explore NewCo</em></a>{% endblocktrans %}
            </p>
          </div>
        </div>
        <div class="span6">
          <div class="well well-large WhyNC-col" id="contribute" style="position: relative;">
            <h2 style="text-align: center; font-size: 30px;"><em>{% trans "Share knowledge" %}</em></h2>
            <br>
            <p class="lead" style="margin-bottom: 0px; opacity: 0;">
              {% url 'dash' 'contribution' as url_contrib %}{% blocktrans %}Find where to <em><a class="btn btn-primary" href="{{ url_contrib }}" style="font-size: 18px; font-weight: 200; position:relative; top: -3px;"><i class="icon-pencil" style="margin-right: 3px; vertical-align: middle;"></i> contribute</a></em>...{% endblocktrans %}{# change contribution center to a page "give me things to do ?" #}
              <br><br>
              {% blocktrans %}...and build your reputation from others' votes{% endblocktrans %}
            </p>
            <p class="lead" style="margin-bottom: 0px; position:absolute; bottom: 24px; opacity: 1;">
              {% url 'dash' 'contribution' as url_contrib %}{% blocktrans %}Find where to <em><a class="btn btn-primary" href="{{ url_contrib }}" style="font-size: 18px; font-weight: 200; position:relative; top: -3px;"><i class="icon-pencil" style="margin-right: 3px; vertical-align: middle;"></i> contribute</a></em>...{% endblocktrans %}{# change contribution center to a page "give me things to do" ? #}
              <br><br>
              {% url 'faq' as url_faq %}
              {% blocktrans %}...and build your <a id="reputation-trigger" href="{{ url_faq }}#reputation">reputation</a> from others' votes{% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="create_typeahead" class="modal fade hide">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>{% trans "Create..." %}</h3>
    </div>
    <div class="modal-body">
    	<div class="row" style="margin-left: 50px">
    	    <div class="span2" align="center"><a href="{% url 'item_create' 'item' %}"><img src="{% static 'img/gears.png' %}" type="image/png"><br><br><h3 class="black">Add a product</h3></a></div>
    	    <div class="span2" align="center"><a href="{% url 'item_create' 'question' %}"><img src="{% static 'img/bulb.png' %}" type="image/png"><br><br><h3 class="black">Ask a question</h3></a></div>
    	</div>
    </div>
  </div>


<!-- New Template on Homepage  -->
<div class="row">
    <div class="span4 tutorial" align="center">
    <a href="#" data-toggle="collapse" data-target="#why_NewCo">
    	<img src="{% static 'img/arrow_tutorial.png' %}" type="image/png"></a>
    </div>
    <div class="span8" style="margin-top: 0px; margin-left:0px; height: 120px; background-color: #FFF9B1; text-align: center;">
        <h3>Discover the NewCo community</h3>
        <br><a href="{% url 'account_signup' %}" id="mixpanel_signup_page"><button class="btn btn-danger" style="height:40px; width:160px; font-color:#FFF"><h3> {% trans "Join NewCo" %}<i class="icon-forward" style="margin-left:5px; "></i></h3></button></a>
        <a href="{% url 'account_login' %}"><button class="btn btn-default" style="margin-left:10px; height:40px; width:100px;"><h3> {% trans "Login" %}</h3></button></a>
    </div>
</div>


{% if user.is_authenticated %}
  <div class="subnav" rel="subnav">
{% else %}
  <div class="subnav subnav-fixed" rel="subnav">
{% endif %}
  	<ul class="nav nav-pills">
    <li style="padding:10px"><b><a class="black tooltip-tutorial" title="{% trans "Click here to close the tutorial" %}" data-toggle="collapse" data-target="#why_NewC" href="#">{% trans "NewCo empowers you to buy better" %}</a></b></li>
    <li{% if cat == "home" %} class="active"{% endif %} id="popular"><a class="black" href="{% url 'home' %}" id="mixpanel_popular">{% trans "Popular products" %}</a></li>
    <li {% if cat == "questions" %}class="active"{% endif %}><a class="black" href="{% url 'home' 'questions' %}" id="mixpanel_questions">{% trans "Answer questions" %}</a></li>
    {% if user.is_authenticated %}
    <li><a class="black" href="{% url 'dash' 'feed' %}" id="mixpanel_mynewsfeed">{% trans "My newsfeed" %}</a></li>
    {% endif %}
  </ul></div>

  {{ block.super }}
{% endblock %}

{% block extra_script %}
    {{ block.super }}

    {# ##### Equalize columns height ##### #}
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript">
        $('.WhyNC-col').height(function () {
            var h = _.max($(this).closest('.row').find('.WhyNC-col'), function (elem, index, list) {
                return $(elem).height();
            });
            return $(h).height();
        });
    </script>
    {# ##### End of Equalize columns height ##### #}
    <script type ="text/javascript">
	    $(document).ready(function(){
	        if ($('div').hasClass('alert-success')){mixpanel.track("Signup Success");};
	    });
	</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/homepage.js"></script>
    <script type="text/javascript">
        $(function(){
          {% if request.GET.welcome %}
              setTimeout("$('.tooltip-tutorial').tooltip('show')", 1000);
              subnav2move.addClass('subnav-moved');
              $('body').addClass('body-less-padding');
          {% endif %}
        });
    </script>
{% endblock %}