{% extends "homepage_base.html" %}

{% load i18n %}
{% load content_utils %}
{% load account_tags %}
{% load pagination_tags %}

{% block body %}


<br>
<br>
<h1>Documentation for the "template trial tool"</h1>

<br>
<br>
<ul>
	<li>
		<span style="font-size:16px;"><strong>What the &quot;template trial tool&quot; does :</strong></span>
		<ul>
			<li>
				You can create templates that the team will be able to view, without touching the visible part for visitors (here you can make trials on the &quot;default&quot; branch)<br />
				&nbsp;</li>
			<li>
				Team can view and access the templates from the &quot;nav bar&quot;<br />
				<br />
				<br />
				&nbsp;</li>
		</ul>
	</li>
	<li>
		<span style="font-size:16px;"><strong>What you have to do to create trial templates :</strong></span><br />
		<ul>
			<li>
				<strong>Create a template in the same directory as the original:</strong> &quot;original_template_&lt;Template_Name&gt;.html&quot;<br />
				<br />
				&nbsp;</li>
			<li>
				<p><strong><u>If &quot;template trial tool&quot; not implemented in your view:</u></strong><br /></p>
				<ul>
					<li>
						<p>
							<strong>Views.py:</strong></p>
						<ul>
							<li>
								<p>
									Add:<br> `from utils.views.trial_template import TrialTemplateMixin`
									<br>
								</p>
							</li>
							<li>
								<p>
									Add the class `TrialTemplateMixin` to your view's arguments<br />
									<br />
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
<p>
	&nbsp;</p>


{% endblock %}

{# TITLE: TrialTemplates_Documentation #}