{% extends "homepage_base.html" %}

{% load i18n %}
{% load content_utils %}
{% load account_tags %}

{% block extra_style %}
  <style type="text/css">
    .select2-results {
      max-height: none;
    }
    .top-categories .title {
      text-align: center;
      margin: 2em 0;
    }
    .top-categories .thumbnail {
      margin-bottom: 0.75em;
      padding: 0em 1em 1em;
      color: #222;
    }
    .thumbnail:hover {color: #000;}
    .thumbnail .images-list {
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      margin-top: 1em;
    }
    .thumbnail .images-list:hover {text-decoration: none;}
    .thumbnail .images-list img {width: 64px; height: 64px}
    .thumbnail .images-list img:last-child {margin-right: 0;}

    .top-categories img {
      display: inline-block;
      margin: 0 8px 0 0;
    }
    span.pull-right {
      font-size: 13px;
      color: #999;
      margin: 10px 0;
    }
    .top-categories .thumbnail:hover .cat-controls {
      text-decoration: underline;
    }
  </style>
{% endblock %}

{% block body %}
<section class="top-categories">
<div class="row title">
  <b><a class="black tooltip-tutorial" title="{% trans 'Click here to close the tutorial' %}" data-trigger="manual" data-placement="top" data-animation="true" data-toggle="collapse" data-target="#why_NewCo" href="#">{% trans "NewCo empowers you to buy better" %}</a></b><br>
  {% trans "Browse what our top communities said or search for a specific product" %}<br>
</div>
<div class="row">
    {% for community in top_communities.object_list %}
    <div class="{% cycle 'offset1 ' '' %}span5">
      <a class="thumbnail" href="/?communities={{ community }}">
        <span class="pull-right">{{community.weight}} contributions • <span class="cat-controls">See more</span></span>
        <h4>{{ community|capfirst }}</h4>
        {% spaceless %}
        <div class="images-list">
          {% for p in top_products|getitem:community %}
            <img src="{{ p.image.data.thumbnailLink }}" title="{{ p }}">
          {% endfor %}
        </div>
        {% endspaceless %}
      </a>
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
</script>
{% endblock %}

{# TITLE: Categories/Communities mockup #}