{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/homepage.js"></script>
{% endblock %}

{% block head_title %}{% user_display user as username %}{% blocktrans %}Home: {{ username }}{% endblocktrans %}{% endblock %}

{% block body_base %}
    <div class="container"><header class="jumbotron subhead" id="overview"><div class="subnav subnav-fixed"><ul class="nav nav-pills">
        <li style="padding:10px"><b>{% trans "NewCo empowers people to buy better" %}</b></li>
        <li class="dropdown{% if not '/last/' in request.path and not '/newsfeed/' in request.path %} active{% endif %}" id="popular"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'home' %}" style="color:#222222">{% trans "Popular" %}</a></li>
        <li class="dropdown{% if '/last/' in request.path %} active{% endif %}" id="last"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'home' 'last' %}" style="color:#222222">{% trans "Last Added" %}</a></li>
        <li class="dropdown{% if '/newsfeed/' in request.path %} active{% endif %}" id="contrib"><a class="dropdown-toggle" data-toggle="dropdown" href="#contrib" style="color:#222222">{% trans "Community" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li {% if "/newsfeed/" in request.path %}class="active"{% endif %}><a href="{% url 'home' 'newsfeed' %}">{% trans "Latest Contributions" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'dash' 'feed' %}">{% trans "My newsfeed" %}</a></li>
            </ul>
        </li>
    </ul></div></header></div>
    {{ block.super }}
{% endblock %}
