{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load staticfiles %}

{% block head_title %}
    {% if user.is_authenticated %}{% user_display user as username %}{% blocktrans %}Home: {{ username }}{% endblocktrans %}{% else %}{% trans "Home" %}{% endif %}
{% endblock %}


{% block extra_style %}
    {{ block.super }}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}


{% block body_base %}
    <div id="why_NewCo" class="collapse{% if request.GET.welcome %} in{% else %} out{% endif %}">
        <div class="container">

            <header class="jumbotron subhead" id="newco" style="border-top: 17px solid transparent;">
                <div class="row">
                    <center><h1 style="font-size: 60px; line-height: 18px;">{% trans "NewCo" %}<br>
                        <small><i>{% trans "Empowering you to buy better" %}</i><small></h1>
                    <p class="lead muted">{% blocktrans %}NewCo helps you choose with confidence and share your advice between users.{% endblocktrans %}</p></center>
                </div>
            </header>

            <div class="row">
                <div class="span6">
                    <div class="well well-large WhyNC-col" id="info" style="margin-bottom: 5px;">
                        <h1 style="text-align: center; font-size: 50px;"><em>{% trans "Get information" %}</em></h1>
                        <br>
                        <p class="lead" style="margin-bottom: 0px;">
                            <span class="arrow_search_bar_trigger" style="position: relative; cursor: pointer; cursor: hand;"><i class="icon-search" style="margin-right: 3px; vertical-align: middle;"></i> {% trans "Find products or tags in the search bar..." %}<img src="{% static 'img/arrows_top_right.png' %}" type="image/png" class="arrow_search_bar" style="position: absolute; bottom: -60px; right: +0px;"></span>
                            <br><br>
                            {#i class="icon-screenshot" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-road" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-globe" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-star" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-cog" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-chevron-right" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-forward" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-move" style="margin-right: 3px; vertical-align: middle;"></i>#}

                            {% comment %}
                            {% url "item_index" as index_url %}{% blocktrans %}... Or <a href="{{ index_url }}" class="btn btn-large btn-primary" id="explore"><i class="icon-play" style="margin-right: 3px; "></i> <b>Explore</b> </a> NewCo{% endblocktrans %}
                            <br><br>
                            {% url "item_index" as index_url %}{% blocktrans %}... Or <a href="{{ index_url }}" class="black" id="explore"><i class="icon-play" style="margin-right: 3px; vertical-align: middle;"></i><b>Explore</b> </a> NewCo{% endblocktrans %}
                            {% endcomment %}

                            {% url "item_index" as index_url %}{% blocktrans %}...or <a href="{{ index_url }}" class="black" id="explore"><em><b><i class="icon-play" style="margin-right: 3px; vertical-align:middle;"></i> explore NewCo</b></em></a>{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="span6">
                    <div class="well well-large WhyNC-col" id="contribute">
                        <h1 style="text-align: center; font-size: 50px;"><em>{% trans "Share knowledge" %}</em></h1>
                        <br>
                        <p class="lead" style="margin-bottom: 0px;">
                            {% url 'dash' 'contribution' as url_contrib %}{% blocktrans %}Find where to <em><b><a href="{{ url_contrib }}" class="black"><i class="icon-pencil" style="margin-right: 3px; vertical-align: middle;"></i> contribute</a></b></em>...{% endblocktrans %}{# change contribution center to a page "give me things to do ?" #}
                            <br><br>
                            {#<i class="icon-resize-full" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-arrow-up" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-chevron-up" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-pencil" style="margin-right: 3px; vertical-align: middle;"></i><i class="icon-fullscreen" style="margin-right: 3px; vertical-align: middle;"></i>#}
                            {% url 'faq' as url_faq %}{% blocktrans %}...and build your <em><b><a class="black" id="reputation-trigger" href="{{ url_faq }}#reputation">reputation</a></b></em> from others' votes{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="subnav subnav-fixed" rel="subnav"><ul class="nav nav-pills">
        <li style="padding:10px"><b><a title="{% trans "Click here to close the tutorial" %}" data-toggle="collapse" data-target="#why_NewCo" href="#" class="black tooltip-tutorial">{% trans "NewCo empowers you to buy better" %}</a></b></li>
        <li{% if not '/last' in request.path and not '/newsfeed' in request.path %} class="active"{% endif %} id="popular"><a href="{% url 'home' %}" class="black">{% trans "Popular" %}</a></li>
        <li {% if '/last' in request.path %} class="active"{% endif %} id="last"><a href="{% url 'home' 'last' %}" class="black">{% trans "Last Added" %}</a></li>
        <li class="dropdown{% if '/newsfeed' in request.path %} active{% endif %}" id="contrib"><a class="black dropdown-toggle" data-toggle="dropdown" href="#contrib">{% trans "Community" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li {% if "/newsfeed" in request.path %}class="active"{% endif %}><a href="{% url 'home' 'newsfeed' %}">{% trans "Latest Contributions" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'dash' 'feed' %}">{% trans "My newsfeed" %}</a></li>
            </ul>
        </li>
    </ul></div>

    {{ block.super }}
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript"> // script can't go to '/static' : needs to translate text
        $(function(){
            var why_NewCo_div = $('#why_NewCo');
            var subnav2move = $('.subnav-fixed');

            why_NewCo_div.on('show', function () {
                subnav2move.addClass('subnav-moved');
                $('body').addClass('body-less-padding');
            })

            why_NewCo_div.on('shown', function () {
                setTimeout("$('.tooltip-tutorial').tooltip('show')", 1000);
            })

            why_NewCo_div.on('hide', function () {
                $('.tooltip-tutorial').tooltip('hide');
            })

            why_NewCo_div.on('hidden', function () {
                subnav2move.removeClass('subnav-moved');
                $('body').removeClass('body-less-padding');
            })

            $('.tooltip-tutorial').tooltip({
                trigger: 'manual',
                placement: 'top',
                animate: true,
                // delay: 500,
            });

            $('#explore').click(function(){
                why_NewCo_div.collapse('hide');
                return false;
            });

            $('.arrow_search_bar_trigger').click(function () {
                $('#main_autocomplete').focus();
            });

            $('#reputation-trigger').mouseover(function () {
                $('#reputation-btn').addClass('btn-glow');
            });

            $('#reputation-trigger').mouseout(function () {
                $('#reputation-btn').removeClass('btn-glow');
            });

        {% if request.GET.welcome %}
            setTimeout("$('.tooltip-tutorial').tooltip('show')", 1000);
            subnav2move.addClass('subnav-moved');
            $('body').addClass('body-less-padding');
        {% endif %}

        });

    </script>

    {# ##### Equalize columns height ##### #}
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript">
        // credit: comes from:http://stackoverflow.com/questions/9143971/using-twitter-bootstrap-2-0-how-to-make-equal-column-heights
        $('.WhyNC-col').height(function () {
            var h = _.max($(this).closest('.row').find('.WhyNC-col'), function (elem, index, list) {
                return $(elem).height();
            });
            return $(h).height();
        });

        // $('.Struct_col').height(function () {
        //     var h = _.max($(this).closest('.row').find('.Struct_col'), function (elem, index, list) {
        //         return $(elem).height();
        //     });
        //     return $(h).height();
        // });

        // $(window).load(function(){
        //     var new_css = {
        //       'position' : 'absolute',
        //       'bottom' : '',
        //     }
        //     $('#know_more').css(new_css);
        //     //$('#know_more').css("position","absolute");
        //     //$('#know_more').html("TEXT TEST");
        //     //alert("test");
        // });
    </script>
    {# ##### End of Equalize columns height ##### #}

    <script type="text/javascript" src="{{ STATIC_URL }}js/homepage.js"></script>
{% endblock %}