{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load staticfiles %}

{% block head_title %}
    {% if user.is_authenticated %}{% user_display user as username %}{% blocktrans %}Home: {{ username }}{% endblocktrans %}{% else %}{% trans "Home" %}{% endif %}
{% endblock %}


{% block extra_style %}
    {{ block.super }}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
{% endblock %}


{% block body_base %}
  <div id="why_NewCo" class="collapse{% if request.GET.welcome %} in{% else %} out{% endif %}" style="background-image: url({% static 'img/bg/apple_bg_linen_light_grey.jpeg' %});">
    <div class="container" style="position: relative; z-index: +2;">

      <header class="jumbotron subhead" id="newco" style="border-top: 30px solid transparent;">
        <div class="row">
          <center>
            <h1 style="font-size: 60px; line-height: 18px;">{% trans "NewCo" %}<br><small><i>{% trans "Empowering you to buy better" %}</i></small></h1>
            <p class="lead muted">{% blocktrans %}NewCo helps you choose with confidence and share your advice between users.{% endblocktrans %}</p>
          </center>
        </div>
      </header>

      <div class="row">
        <div class="span6">
          <div class="well well-large WhyNC-col" id="info" style="margin-bottom: 5px; position: relative;">
            <h2 style="text-align: center; font-size: 30px;"><em>{% trans "Get information" %}</em></h2>
            <br>
            <p class="lead" style="margin-bottom: 0px; opacity: 0;">
              <i class="icon-search" style="margin-right: 3px; vertical-align: middle;"></i> {% trans "Find products or tags in the search bar" %}...
              <br><br>
              {% url "item_index" as index_url %}
              {% blocktrans %}...or <a href="#" class="btn btn-primary"><em><i class="icon-play" style="margin-right: 3px; vertical-align:middle;"></i>explore NewCo</em></a>{% endblocktrans %}
            </p>
            <img class="arrow-search-bar-hidden" src="{% static 'img/arrows_top_right.png' %}" type="image/png" id="arrow_search_bar" style="position: absolute; top: -140px; left: +0px;">
            <p class="lead" style="margin-bottom: 0px; position: absolute; bottom: 24px;">
              <a class="arrow_search_bar_trigger" href="#"><i class="icon-search" style="margin-right: 3px; vertical-align: middle;"></i> {% trans "Find products or tags in the search bar" %}</a>...
              <br><br>
              {% blocktrans %}...or <a href="#" class="btn btn-primary" id="explore" style="font-size: 18px; font-weight: 200; position:relative; top: -3px;"><em><i class="icon-play" style="margin-right: 3px; vertical-align:middle;"></i>explore NewCo</em></a>{% endblocktrans %}
            </p>
          </div>
        </div>
        <div class="span6">
          <div class="well well-large WhyNC-col" id="contribute" style="position: relative;">
            <h2 style="text-align: center; font-size: 30px;"><em>{% trans "Share knowledge" %}</em></h2>
            <br>
            <p class="lead" style="margin-bottom: 0px; opacity: 0;">
              {% url 'dash' 'contribution' as url_contrib %}{% blocktrans %}Find where to <em><a class="btn btn-primary" href="{{ url_contrib }}" style="font-size: 18px; font-weight: 200; position:relative; top: -3px;"><i class="icon-pencil" style="margin-right: 3px; vertical-align: middle;"></i> contribute</a></em>...{% endblocktrans %}{# change contribution center to a page "give me things to do ?" #}
              <br><br>
              {% blocktrans %}...and build your reputation from others' votes{% endblocktrans %}
            </p>
            <p class="lead" style="margin-bottom: 0px; position:absolute; bottom: 24px; opacity: 1;">
              {% url 'dash' 'contribution' as url_contrib %}{% blocktrans %}Find where to <em><a class="btn btn-primary" href="{{ url_contrib }}" style="font-size: 18px; font-weight: 200; position:relative; top: -3px;"><i class="icon-pencil" style="margin-right: 3px; vertical-align: middle;"></i> contribute</a></em>...{% endblocktrans %}{# change contribution center to a page "give me things to do" ? #}
              <br><br>
              {% url 'faq' as url_faq %}
              {% blocktrans %}...and build your <a id="reputation-trigger" href="{{ url_faq }}#reputation">reputation</a> from others' votes{% endblocktrans %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnav subnav-fixed" rel="subnav"><ul class="nav nav-pills">
    <li style="padding:10px"><b><a class="black tooltip-tutorial" title="{% trans "Click here to close the tutorial" %}" data-toggle="collapse" data-target="#why_NewCo" href="#">{% trans "NewCo empowers you to buy better" %}</a></b></li>
    <li{% if cat == "home" %} class="active"{% endif %} id="popular"><a class="black" href="{% url 'home' %}">{% trans "Popular" %}</a></li>
    <li {% if cat == "last" %} class="active"{% endif %} id="last"><a class="black" href="{% url 'home' 'last' %}">{% trans "Last Added" %}</a></li>
    <li {% if cat == "questions" %}class="active"{% endif %}><a class="black" href="{% url 'home' 'questions' %}">{% trans "Unanswered Questions" %}</a></li>
    <li class="divider"></li>
    <li><a class="black" href="{% url 'dash' 'feed' %}">{% trans "My newsfeed" %}</a></li>
  </ul></div>

  {{ block.super }}
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript"> // script can't go to '/static' : needs to translate text
        $(function(){
            var why_NewCo_div = $('#why_NewCo');
            var subnav2move = $('.subnav-fixed');

            why_NewCo_div.on('show', function () {
                subnav2move.addClass('subnav-moved');
                $('body').addClass('body-less-padding');
            })

            why_NewCo_div.on('shown', function () {
                // Give time to load for subnav displacement : slow sometimes
                setTimeout("$('.tooltip-tutorial').tooltip('show')", 1500);
            })

            why_NewCo_div.on('hide', function () {
                $('.tooltip-tutorial').tooltip('hide');
            })

            why_NewCo_div.on('hidden', function () {
                subnav2move.removeClass('subnav-moved');
                $('body').removeClass('body-less-padding');
                setTimeout("$('.tooltip-tutorial').tooltip('hide')", 1500); // in case of double click on 'why_NewCo_div'
            })

            $('.tooltip-tutorial').tooltip({
                trigger: 'manual',
                placement: 'top',
                animate: true,
                // delay: 500,
            });

            $('.navbar-fixed-top').addClass('reduced-margin-navbar');

            //"Find products or tags in the search bar... "
            $('.arrow_search_bar_trigger').mouseover(function () {
                $('#arrow_search_bar').removeClass('arrow-search-bar-hidden');
                $('#arrow_search_bar').addClass('arrow-search-bar-shown');
            });
            $('.arrow_search_bar_trigger').mouseout(function () {
                $('#arrow_search_bar').removeClass('arrow-search-bar-shown');
                $('#arrow_search_bar').addClass('arrow-search-bar-hidden');
            });
            $('.arrow_search_bar_trigger').click(function () {
                $('#main_autocomplete').focus();
            });

            // "explore NewCo"
            $('#explore').click(function(){
                why_NewCo_div.collapse('hide');
                return false;
            });

            // "build your reputation ..."
            $('#reputation-trigger').mouseover(function () {
                $('#reputation-btn').addClass('btn-glow');
            });

            $('#reputation-trigger').mouseout(function () {
                $('#reputation-btn').removeClass('btn-glow');
            });

        {% if request.GET.welcome %}
            setTimeout("$('.tooltip-tutorial').tooltip('show')", 1000);
            subnav2move.addClass('subnav-moved');
            $('body').addClass('body-less-padding');
        {% endif %}

        });

    </script>

    {# ##### Equalize columns height ##### #}
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript">
        // credit: comes from:http://stackoverflow.com/questions/9143971/using-twitter-bootstrap-2-0-how-to-make-equal-column-heights
        $('.WhyNC-col').height(function () {
            var h = _.max($(this).closest('.row').find('.WhyNC-col'), function (elem, index, list) {
                return $(elem).height();
            });
            return $(h).height();
        });

        // $('.Struct_col').height(function () {
        //     var h = _.max($(this).closest('.row').find('.Struct_col'), function (elem, index, list) {
        //         return $(elem).height();
        //     });
        //     return $(h).height();
        // });

        // $(window).load(function(){
        //     var new_css = {
        //       'position' : 'absolute',
        //       'bottom' : '',
        //     }
        //     $('#know_more').css(new_css);
        //     //$('#know_more').css("position","absolute");
        //     //$('#know_more').html("TEXT TEST");
        //     //alert("test");
        // });
    </script>
    {# ##### End of Equalize columns height ##### #}

    <script type="text/javascript" src="{{ STATIC_URL }}js/homepage.js"></script>
{% endblock %}