{% extends "homepage_base.html" %}

{% load i18n %}
{% load content_utils %}
{% load account_tags %}
{% load pagination_tags %}

{% block body %}

<div class="row" id="contents_list1">{% for item in object_list %}<div class="content-item thumbnail">
    <div class="name"><a href="{{ item.get_absolute_url }}"><img src="http://lorempixel.com/260/260/technics/?{{ item.id }}" alt=""></a></div>
    <div class="details" style="font-family:helvetica;font-size:11px">
        <a href="{{ item.get_absolute_url }}" style="font-size:12px; color:#222222">{{ item.name }}</a>
        {% if item.tags %}{% for tag in item.tags.all %}<a href="{% url tagged_items tag.slug %}" class="label">{{ tag.name }}</a>{% if not forloop.last %} &nbsp;{% endif %}{% endfor %}{% endif %}
    </div>
</div>{% endfor %}</div>

{% if is_paginated %}{% paginate %}{% endif %}

{% endblock %}
