{% extends "homepage_base.html" %}

{% load url from future %}
{% load i18n %}
{% load content_utils %}
{% load account_tags %}
{% load pagination_tags %}
{% load staticfiles %}

{% block extra_style %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/homepage_questions.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/help.css">
{% endblock %}

{% block body %}
<br>
<div class="row"><div class="span10 offset1">
  <h2>
    {% if filter == "popular" %}
      {% trans "Popular questions" %}
    {% elif filter == "last" %}
      {% trans "Last added questions" %}
    {% else %}
      {% trans "Questions without answer" %}
    {% endif %}
  </h2>

  <br><hr>

  {% include "items/feed_display/_content_list.html" with contents=object_list display="list" options="parents" %}

  {% if is_paginated %}{% paginate %}{% endif %}
</div></div>

{% include "help/_ask_modal.html" %}

{% endblock %}

{% block extra_script %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/help.js"></script>
{% endblock %}

{# TITLE: Original #}
