{% extends "theme_bootstrap/base.html" %}

{% load url from future %}
{% load metron_tags %}
{% load i18n %}
{% load staticfiles %}

{% block extra_style %}
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
<!--
We may need to use font-awesome. Won't replace glyphicons for the moment
due to bad pixel fitting of small icons.
<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
-->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    {% include "feedback/header.html" %}
{% endblock %}

{% block extra_head_base %}
    {{ block.super }}

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30326927-1']);
    _gaq.push(['_setDomainName', 'newco-project.fr']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
{% endblock %}

{% block navbar_class %}navbar-fixed-top navbar-inverse{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <ul class="nav">
            <li id="tab_typeahead"><form class="navbar-search" action="{% url 'content_search' %}" method="POST">{% csrf_token %}<div class="input-append"><input type="text" class="search-query span3" name="item_search" id="main_autocomplete"><button class="btn" type="submit" style="margin:0;height:28px;"><i class="icon-search"></i> {% trans "Search" %}</button></div></form></li>
        </ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}

    {{ block.super }}
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.masonry.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.21.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/expand.js' %}"></script>
    <script type="text/javascript">
    function TriggerMasonry(){
    	$('#thumbnails_list').masonry({
			itemSelector : '.content-item',
	        isAnimated: true,
	        isFitWidth: true,
            // columnWidth: 180,
            columnWidth: function( containerWidth ) {
                return containerWidth / 40; // Seb: this thing is a mess... Maybe it's a matter of denominator ? (colunms/size of page)...
            },
		});
    }
    $(document).ready(function() {
       // simple example, using all default options unless overridden globally
	  TriggerMasonry();
      setTimeout(TriggerMasonry,4000); // retrigger masonry in case the .js were very long to load - happens often when loading is long
	  $('div.expandable').expander({
				afterExpand:function() {TriggerMasonry();},
				//Timer to relaunch Masonry after the onCollapse event
				onCollapse:function(byUser) {timeout=setTimeout(TriggerMasonry,500);
				}
	 	});
    });
    </script>

    {% include "autocomplete_light/static.html" %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('input#main_autocomplete').yourlabsAutocomplete({
            url: "{% url 'autocomplete' %}",
            zindex: 99999,
            id: 'main_autocomplete',
            iterablesSelector: 'li:has(a)',
            defaultValue: "{% trans 'Search an item, a tag...' %}",
            placeholder : "{% trans 'What are you looking for?' %}",
        });
    });
    </script>

    <script type="text/javascript">
    $(document).ready( function() {
        var form = $('#answer_form');
        var icon_change = $('#icons');
        var text_change = $('#text_to_change');
        form.on('shown', function () {
            icon_change.removeClass('icon-share-alt').addClass('icon-remove');
            text_change.html("Close");
        })
        form.on('hidden', function () {
            icon_change.removeClass('icon-remove').addClass('icon-share-alt');
            text_change.html("Add an answer");
        })
    });
    </script>

    <script type="text/javascript">
	$(document).ready(function() {
		$('#Carousel_Tag').carousel({
		  interval: 20000
		});
	});
	</script>
{% endblock %}

{% block extra_body_base %}
    {{ block.super }}

    {% analytics %}

    {% block extra_body %}{% endblock %}

    {% include "feedback/button.html" %}
{% endblock %}
