{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load staticfiles %}

{% block extra_style %}
    <link href="{% static 'css/global.css' %}" rel="stylesheet">
<!--
We may need to use font-awesome. Won't replace glyphicons for the moment
due to bad pixel fitting of small icons.
<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
-->
    <link rel="icon" href="{% static "img/favicon.png" %}" type="image/png" />
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />

    {% include "feedback/header.html" %}
{% endblock %}

{% block extra_head_base %}
    {{ block.super }}

    <!--Google Analytics-->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30326927-1']);
    _gaq.push(['_setDomainName', 'newco-project.fr']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <!--End of Google Analytics-->
{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <ul class="nav">{% spaceless %}
            <li id="tab_profile"><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
            <li id="tab_index"><a href="{% url item_index %}">{% trans "Products index" %}</a></li>
            {% comment %}<li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>{% endcomment %}
        {% endspaceless %}
            <li id="tab_typeahead"> <form class="navbar-search" action="/content/" method="POST">{% csrf_token %}
            <div class="input-append"><input type="text" class="search-query span3" name="item_search" id="main_autocomplete"><button class="btn" type="submit" style="margin:0;height:28px;"><i class="icon-search"></i> {% trans "Search" %}</button></div>
      </form></li>
        
        </ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}

    {{ block.super }}
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/expand.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
  // simple example, using all default options unless overridden globally
	  $('div.expandable p').expander( 
		  {afterExpand:function() {
		  $('#contents_list1').masonry({
		  	itemSelector : '.content-item',
            isAnimated: true,
            isFitWidth: true,
		  });
	  }
	  });
	  
    });
    </script>
    <script type="text/javascript" src="{% static 'js/jquery.masonry.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.21.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
   
   <script type="text/javascript">
    $(document).ready(function() {
        $('input#main_autocomplete').yourlabsAutocomplete({
            url: '{% url autocomplete %}',
            zindex: 99999,
            id: 'main_autocomplete',
            iterablesSelector: 'li:has(a)',
            defaultValue: "{% trans 'Search an item, a tag...' %}",
            placeholder : "{% trans 'What are you looking for?' %}",
        });
    });
    </script>
   
    <script type="text/javascript">
	$(document).ready( function() {
		var form = $('#answer_form');
	    var icon_change = $('#icons');
	    var text_change = $('#text_to_change');	   
	    form.on('shown', function () {
		    icon_change.removeClass('icon-share-alt').addClass('icon-remove');
		    text_change.html("Close");
	    })
	    form.on('hidden', function () {
	    	icon_change.removeClass('icon-remove').addClass('icon-share-alt');
	    	text_change.html("Add an answer");
	    })
    });
    </script>
    <script type="text/javascript">
	$(document).ready(function() {
		$('#Carousel_Tag').carousel({
		  interval: 40000
		});
	});
	</script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block extra_body_base %}
    {{ block.super }}

    {% analytics %}

    {% block extra_body %}{% endblock %}

    {% include "feedback/button.html" %}
{% endblock %}
