
{% for content in contents_nf|slice:":20" %}
	<br>
	<hr>
    {% if content.question %}
		
		<h4><a href="{% url profile_detail content.author %}">{{ content.author }}</a> a repondu a une question sur le produit <a href="{{ content.question.items.all.0.get_absolute_url }}">{{ content.question.items.all.0 }}</a><small> le {{ content.pub_date }}</small></h4>
		
		<div class="row">
			<div class="span1">
    			<p><small>{{ content.question.author }} : </small></p>
	    	</div>
	    	<div class="span6">
	    		<p><small><a href="{{ content.question.get_absolute_url }}">{{ content.question.content }}</a></small></p>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="span6 offset1">
	    		<p>...</p>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="span1">
	    		<p><small>{{ content.question.author }} : </small></p>
	    	</div>
	    	<div class="span6">
	    		<p><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></p>
	    	</div>
	    </div>
	    <div class="row">
    		<div class="span6 offset1 block_controls">
    			<a href='{% url item_create "answer" %}?question_id={{ content.question.id }}' class="btn btn-mini">
        		<i class="icon-share-alt"></i>Ajouter une reponse
    			</a>
			</div>
    	</div>
    	
	{% else %}
		<h4><a href="{% url profile_detail content.author %}">{{ content.author }}</a> a pose une question sur le produit <a href="{{ content.items.all.0.get_absolute_url }}">{{ content.items.all.0 }}</a><small> le {{ content.pub_date }}</small></h4>
		<div class="row">
			<div class="span1">
				<p><small>{{ content.author }} : </small></p>
			</div>
			<div class="span6">
				<p><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></p>
			</div>
		</div>
		<div class="row">
			<div class="span6 offset1 block_controls">
				<a href='{% url item_create "answer" %}?question_id={{ content.id }}' class="btn btn-mini"><i class="icon-share-alt"></i>Repondre a cette question</a>
			</div>
		</div>
		
	{% endif %}

{% endfor %}
    