{% load i18n %}
{% load content_utils %}

{% if not content.is_published %}<div class="well">{% endif %}
{% with question=content.question %}
<div class="row one_row"><div class="span5">
    <h4>{% include p_link_tpl with object=content.author %} {% trans "answered a question about" %} {% include i_link_tpl with object=question.items.all.0 %}</h4>
</div>{% if user == author %}<div class="span3">{% include "items/_status_form.html" %}</div>{% endif %}
</div>

<div class="row one_row">
    <div class="span5"><p><small><a href="{{ question.get_absolute_url }}">{% trans "Q:" %}</a> {{ question.content }}</small>
    	{% if user.is_superuser or question.author == request.user %}
                {% with name=question|to_class_name %}{% edit name question.id %}{% endwith %}
        {% endif %}
    </p></div>
    <div class="span3 right">{% include "items/_author.html" with object=question %}{% if not question.is_published %}<p><small>{% trans "This question has been un-published by its author, your answer will thus not be visible by others than you" %}</p></small>{% endif %}</div>
</div>

<div class="row one_row">
    <div class="span1"><p><a href="{{ content.get_absolute_url }}">{% trans "A:" %}</a></p></div>
    <div class="span3"><p>{{ content.content }}
    	{% if user.is_superuser or content.author == request.user %}
                {% with name=content|to_class_name %}{% edit name content.id %}{% endwith %}
        {% endif %}
    </p></div>
    <div class="span1" style="text-align:right;"><h3>{% if score %}{{ score.score }}{% else %}0{% endif %}</h3></div>
    <div class="span3 right">{% include "items/_author.html" with object=content %}</div>
</div>
{% if user != author %}
    <div class="row one_row"><div class="span4 offset3 block_controls"><a href='{% url item_create "answer" %}?question_id={{ content.question.id }}' class="btn btn-mini"><i class="icon-share-alt"></i> {% trans "Add an answer" %}</a></div></div>
{% endif %}
{% endwith %}
{% if not content.is_published %}</div>{% endif %}
