{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}

<p>
  {% if user.is_authenticated %}
    {% with about=user.get_profile.about %}
      <b>{% user_display user %}<span id="user-about">{% if about %}, {{ about }}{% endif %}</span></b>&nbsp;&nbsp;{% include "profiles/_profile_edit_about.html" with about=about %}
    {% endwith %}
  {% else %}
    {% trans "Please login before answering." %}
  {% endif %}
</p>

<form id="answer-form" method="POST" action="#answer-form">{% csrf_token %}
  {{ form|as_bootstrap }}
  <button class="btn btn-primary btn-small" name="answer" type="submit" value="{{ statuses.public }}"><i class="icon-share-alt icon-white"></i> {% trans "Answer and publish" %}</button>
  <button class="btn btn-small" name="answer" type="submit" value="{{ statuses.draft }}"><i class="icon-pencil"></i> {% trans "Save as draft" %}</button>
  <input type="hidden" name="question-id" value="{{ question.id }}"/>
</form>
