{% load i18n %}
{% load account_tags %}
{% load content_utils %}

<div class="modal fade hide" id="modal-ask">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>{% trans "Ask..." %}</h3>
  </div>
  <div class="modal-body">
    {% if experts.count > 0 %}
      {% for expert in experts %}
        {% if forloop.first %}<h4>{% trans "...an expert:" %}</h4>{% endif %}
        <div class="row">
          <div class="span2 left"><a href="{{ expert.get_absolute_url }}" target="_blank" class="label label-success">{% user_display expert %}</a></div>
          <div class="span3 right"><form method="POST">{% csrf_token %}
            <button class="btn" name="ask" value="expert" type="submit">{% trans 'Ask' %}</button>
            <input name="expert-id" value="{{ expert.id }}" type="hidden">
            <input id="question-id_{{ expert.id }}" name="question-id" type="hidden">
          </form></div>
        </div>
        <br>
      {% endfor %}
    {% endif %}
    <h4>{% trans "...some users you may know:" %}</h4>
    <form class="form-inline" method="POST">{% csrf_token %}
      <input class="input-xlarge" id="id_profiles" type="text" name="profile-ids">
      <button class="btn right" name="ask" value="users" type="submit">{% trans 'Ask' %}</button>
      <input id="question-id_users" name="question-id" type="hidden">
    </form>
    <br>
    <h4>{% trans "...a non-member:" %}</h4>
    <form class="form-inline" method="POST">{% csrf_token %}
      <input class="input-xlarge" id="id_email" name="email" type="email" placeholder="{% trans 'Email address' %}" required>
      <button class="btn right" name="ask" value="email" type="submit">{% trans 'Ask' %}</button>
      <input id="question-id_email" name="question-id" type="hidden">
    </form>
    <br><br>
  </div>
</div>
