{% load i18n %}
{% load voting %}
{% load content_utils %}

{% if item %}{% get_content_url content display item as next %}{% endif %}{# Seb: ToDo: find what to do when there's no "item" (i.e. in tag page / item_list ) #}

{% spaceless %}

{% vote_form content vote next %}
<div class="score">
  <span class="value">{{ score.score }}</span><br><span class="title">{% trans "Score" %}</span>
</div>
<div class="pull-right">{% edit_buttons user content edit_next=next delete_next=delete_next %}</div>

{% endspaceless %}
