{% load i18n %}
{% load voting_tags %}
{% load voting_utils %}
{% load content_utils %}
{% load staticfiles %}

{% num_range 2 as range %}

<div class="row">{% for index in range %}{% cycle feat_pos feat_neg as feats silent %}<div class="{% if forloop.last %}offset1 {% endif %}span3">

    <div style="text-align:center;"><h5>{% if forloop.first %}{% trans "Positive Features" %}{% else %}{% trans "Negative Features" %}{% endif %}</h5></div>

    <hr>

    {% for feat in feats.queryset %}<div class="row one_row" id="f-{{ feat.id }}">
        {% dict_entry_for_item feat from feats.votes as vote %}
        {% dict_entry_for_item feat from feats.scores as score %}

            <div class="span2">
                <b>{% if score %}{{ score.score }}{% else %}0{% endif %}{% vote_form feat vote %}</b>
                {{ feat.content }}
                {% if user.is_superuser or feat.author == request.user %}
                    {% with name=feat|to_class_name %}{% edit name feat.id %}{% endwith %}
                {% endif %}
            </div>
            <div class="span1 right">{% content_info feat "signature-author" %}</div>

    </div><hr>{% endfor %}

    <div class="row one_row"><div class="span3" style="text-align:center;"><a href="{% url item_create 'feature' %}?item_id={{ item.id }}&positive={{ forloop.first }}" class="btn btn-mini" name="add_feature">
        <i class="icon-share-alt"></i>{% if forloop.first %}{% trans "Add a positive feature" %}{% else %}{% trans "Add a negative feature" %}{% endif %}</a></div></div>

</br>

</div>{% endfor %}</div>
