{% load i18n %}
{% load content_utils %}

{% if content.status.id == 1 %}<div class="well">{% endif %}
<div class="row one_row"><div class="span5">
    <h4>{% include p_link_tpl with object=author %} {% trans "suggested a feature on" %} {% include i_link_tpl with object=content.items.all.0 %}</h4>
</div>{% if user == author %}{% include "items/_status_form.html" %}{% endif %}
</div>
<div class="row one_row">
    <div class="span4"><a href="{{ content.get_absolute_url }}"><i class="icon-thumbs-{% if content.positive %}up{% else %}down{% endif %}"></i></a>&nbsp;&nbsp;{{ content.content }}</p></div>
    <div class="span1" style="text-align:right;"><h3>{% if score %}{{ score.score }}{% else %}0{% endif %}</h3></div>
    <div class="span3 right">{% include "items/_author.html" with object=content %}</div>
</div>