{% load i18n %}

{% if contents %}
  <div class="row nc_transition_add" data-toggle="collapse" data-target="#question_form">
    <div class="span1" style="line-height: 60px;"><button class="btn btn-small btn-success"><i rel="add_icon" class="icon-plus"></i></button></div>
    <div class="span8"><h2 class="muted" rel="add_q_text">{% trans "Ask a new question!" %}</h2></div>
  </div>
{% else %}
  <div class="row"><h2 class="span8 offset1 muted">{% trans "No question yet! Ask the first one here!" %}</h2></div>
{% endif %}

<div class="row"><div id="question_form" class="span8 offset1{% if contents %} collapse out{% endif %}"{% if contents %} style="position: relative; top: -75px;"{% endif %}>
  <form method="POST" class="form-inline"><br>
    {% csrf_token %}
    {% with field=question_form.content %}<div id="div_{{ field.auto_id }}" class="control-group {% if field.errors %}error{% endif %} {% if field.css_classes %} {{ field.css_classes }}{% endif %}"><div class="controls">
      <div class="input-prepend input-append">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<span class="add-on" style="margin-left: 10px;"><i class="icon-question-sign"></i></span>{{ field }}<button type="submit" class="btn" name="question"><i class="icon-share-alt"></i></button></div>
      {% include "bootstrap/_field_errors.html" %}
      {% include "bootstrap/_field_help_text.html" %}
    </div></div>{% endwith %}
    <input type="hidden" name="next" value="{{ item.get_absolute_url }}">
  </form>
</div></div>