{% load i18n %}
{% load content_utils %}

{% if content.status.id == 1 %}<div class="well">{% endif %}
<div class="row one_row"><div class="span5">
    	<h4>{% include p_link_tpl with object=author %} {% trans "asked a question about" %} {% include i_link_tpl with object=content.items.all.0 %}</h4>
	</div>
	{% if user == author %}<div class="span3">{% include "items/_status_form.html" %}</div>{% endif %}
</div>
<div class="row one_row">
    <div class="span4"><p><a href="{{ content.get_absolute_url }}">{% trans "Q:" %}</a> {{ content.content }}</p></div>
    <div class="span1" style="text-align:right;"><h3>{% if score %}{{ score.score }}{% else %}0{% endif %}</h3></div>
    <div class="span3 right">{% include "items/_author.html" with object=content %}<br></div>
</div>

{% if user != author %}
    <div class="row one_row"><div class="span4 offset3 block_controls"><a href='{% url item_create "answer" %}?question_id={{ content.id }}' class="btn btn-mini"><i class="icon-share-alt"></i> {% trans "Answer this question" %}</a></div></div>
{% endif %}
{% if content.status.id == 1 %}</div>{% endif %}