{% load i18n %}
{% load content_utils %}
{% load bootstrap_tags %}


{% include "items/feed_display/_content_list.html" with contents=questions display="text" display_ctx="False" display_img="False" display_answer="True" display_q_form="True" q_form=q_form item=item user=user path=request.path csrf_token=csrf_token empty_msg=empty_msg only %}
{% comment %}
{% for question in questions %}

  <div class="question" itemscope itemtype="http://schema.org/Article">{% include "items/feed_display/_question.html" with display="text" display_img=display_img display_ctx="False" display_answer="True" content=question author=question.author score=score user=user path=request.path csrf_token=csrf_token only %}</div>

  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endcomment %}




<h1>For checking purposes, former list below:</h1>
{% for question in questions %}

  <div class="question" itemscope itemtype="http://schema.org/Article">{% include "items/root_display/_question.html" with item=item question=question vote=vote score=score display="list" %}</div>

  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
