{% load i18n %}
{% load voting_tags %}
{% load voting_utils %}
{% load content_utils %}
{% load ask_utils %}
{% load staticfiles %}
{% load account_tags %}
{% load follow_tags %}

{% votes_by_user user on questions as question_vote_dict %}
{% scores_for_objects questions as question_score_dict %}

{% for question in questions %}
<div class="row question">
<div class="span7">
    {% dict_entry_for_item question from question_vote_dict as vote %}
    {% dict_entry_for_item question from question_score_dict as score %}

    <div class="row one_row" id="q-{{ question.id }}">
        <div class="span1"><h3 class="right">{% if score %}{{ score.score }}{% else %}0{% endif %}{% vote_form question vote %}</h3></div>
        <div class="span4"><h3>
            {{ question.content }}
            {% if user.is_superuser or question.author == request.user %}
                {% with name=question|to_class_name %}{% edit name question.id %}{% endwith %}
            {% endif %}
        </h3></div>
        <div class="span2 right">{% include "items/_author.html" with object=question %}</div>
    </div>
    {% votes_by_user user on question.answer_set.all as answer_vote_dict %}
    {% scores_for_objects question.answer_set.all as answer_score_dict %}

    {% for answer in question.answer_set.all %}{% if answer.is_public %}
        {% dict_entry_for_item answer from answer_vote_dict as vote %}
        {% dict_entry_for_item answer from answer_score_dict as score %}
        <div class="row one_row" id="a-{{ answer.id }}" rel="popover">
            <div class="span1"><h3 class="right">{% if score %}{{ score.score }}{% else %}0{% endif %}{% vote_form answer vote %}</h3></div>
            <div class="span4"><p>
                {{ answer.content }}
                {% if user.is_superuser or answer.author == request.user %}
                    {% with name=answer|to_class_name %}{% edit name answer.id %}{% endwith %}
                {% endif %}
            </p></div>
            <div class="span2 right">{% include "items/_author.html" with object=answer %}</div>
        </div>
    {% endif %}{% endfor %}
    <div class="row"><div class="span2 offset1 block_controls"><a href='{% url item_create "answer" %}?question_id={{ question.id }}' class="btn btn-mini" name="add_answer">
        <i class="icon-share-alt"></i>{% if question.answer_set.all %}{% trans "Add a better answer" %}{% else %}{% trans "Answer this question" %}{% endif %}
    </a></div>
        <div class="span2 offset1 block_controls">
        <button data-toggle="modal" data-target="#ask{{ question.id }}">
        <i class="icon-user"></i>{% if question.answer_set.all %}{% trans "Ask someone to answer" %}{% else %}{% trans "Ask someone to answer" %}{% endif %}
        </button>
	    
	    </div>
	    
	    <div id="ask{{ question.id }}" class="modal fade hide">
		    <div class="modal-header">
	        	<button class="close" data-dismiss="modal">×</button>
	        	<h3>Ask them to answer (10 points each)&nbsp;:</h3>
    		</div>
    		<div class="modal-body form-horizontal">
		    	{% if prof_list.count > 0 %}
		    	{% for prof in prof_list %}
    			<br>
			   	<div class="row">
				    <div class="span1 left">
				    	<a href="{{ prof.user.get_absolute_url }}"><span class="label label-success">{% user_display prof.user %} </span></a> 
				    </div>
				    <div class="span1">
					    {% ask_form question %}
			        </div>
		        </div>
		    	{% endfor %}
		    	{% else %}We're sorry, no one can help you for now. Please wait or edit the product tags.<br> Thank you!.{% endif %}
	    	</div>
	    	<div class="modal-footer">
	        	You could also push your question in Homepage for 50 points :
		        <button class="btn btn-primary" type="submit">
		        	Push !
		        </button>
    		</div>
	    </div>
    
    
    </div>
    <hr>
</div></div>
{% endfor %}

