{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block extra_style %}
  {{ form.media.css }}
{% endblock %}

{% block head_title %}{% trans "Answer" %}{% endblock %}

{% block body %}

<h1 class="text-center">{{ form.question.content }}</h1>
<br>
<form method="POST">{% csrf_token %}
  {{ form|as_bootstrap }}
  <button type="submit" class="btn btn-primary" name="answer" value="{{ statuses.public }}">{% if answer.is_public %}{% trans "Update" %}{% else %}{% trans "Publish" %}{% endif %}</button>
  <button type="submit" class="btn" name="answer" value="{{ statuses.draft }}">{% if answer.is_public %}{% trans "Unpublish and save as draft" %}{% else %}{% trans "Save as draft" %}{% endif %}</button>
  <input type="hidden" name="question-id" value="{{ form.question.id }}">
  {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
</form>

{% endblock %}

{% block extra_script %}
  {{ form.media.js }}
{% endblock %}
