{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block extra_style %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block head_title %}{% trans "Answer" %}{% endblock %}

{% block body %}

<h1>{% block form_header %}{% blocktrans with question=form.question.content %}Your answer to <i>{{ question }}</i>:{% endblocktrans %}{% endblock %}</h1>

</br>

<form action="." method="POST">{% csrf_token %}
    {{ form|as_bootstrap }}
    <input type="submit" name="add_answer" class="btn" value='{% trans "Submit" %}'/>
    <input type="hidden" name="question_id" value="{{ form.question.id }}"/>
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>

{% endblock %}

{% block extra_body_base %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}