{% load i18n %}
<div class="row">
    <div class="span7"><h1>{{ item }}</h1></div>
</div>
<br>
<div>
{% for tag in item.tags.all %}<a href="{% url tagged_items tag.slug %}"><span class="label">{{ tag.name }}</span></a> {% endfor %}
</div>
<div>{% if affs %}<br>
    {% for aff in affs %}<p>
        {% blocktrans %}Buy <a href='{{ aff.url }}'>{{ aff.item }} @ {{ aff.store }}</a> for {{ aff.price }} {{ aff.price_currency }}{{ aff.price|pluralize }}.{% endblocktrans %}
    </p>{% endfor %}
{% endif %}</div>
