{% load i18n %}
{% load account_tags %}
<div class="row">
    <div class="span7"><h1>{{ item }}</h1></div>
</div>
<br>


<div class="row">
	
    <div class="span4">

    Tags Produits:
    {% for tag in item.tags.all %}<a href="{% url tagged_items tag.slug %}"><span class="label">{{ tag.name }}</span></a> {% endfor %}
    </div>
    
    <div class="span4">
    Tags Experts:
    {% for user in list_users %}<a href="{% url profile_detail user %}"><span class="label label-success">{{ user }}</span></a>{% endfor %}
    </div>
     
    <div class="span4">
    <button class="btn btn-success" data-toggle="collapse" data-target="#demo">
 
   <h3>Comparer les prix</h3></button>
   
   <div id="demo" class="collapse out">
    {% if affs %}
        {% for aff in affs %}
                {% blocktrans with aff.item as item and aff.store as store and aff.url as url and aff.price as price and aff.price_currency as price_currency and aff.price|pluralize as price|pluralize%} Acheter {{ item }} chez:
                <p><a href='{{ url }}'>{{ store }}</a> {{ price }} {{ price_currency }}{{ price|pluralize }}</p> 
                <p><a href='{{ url }}'>{{ store }}</a> {{ price }} {{ price_currency }}{{ price|pluralize }}</p>
                {% endblocktrans %}
                &nbsp;
        {% endfor %}
    {% else %}
	{% endif %}
	</div>
	</div>
	
