{% load i18n %}
{% load voting_tags %}
{% load content_utils %}
{% load staticfiles %}
{% load account_tags %}

<div class="row">{% for feat_list in feat_lists %}<div class="span4">

    {% votes_by_user user on feat_list as vote_dict %}
    {% scores_for_objects feat_list as score_dict %}

    <div style="text-align:center;"><h5>{% if forloop.first %}{% trans "Positive Features" %}{% else %}{% trans "Negative Features" %}{% endif %}</h5></div>

    <hr>

    {% for feat in feat_list %}<div class="row one_row" id="f-{{ feat.id }}">
        {% dict_entry_for_item feat from vote_dict as vote %}
        {% dict_entry_for_item feat from score_dict as score %}

            <div class="span1">
                <h5 class="right">{% if score %}{{ score.score }}{% else %}0{% endif %}
                <form class="controls vote" action='{% url object_voting feat|to_class_name feat.id %}' method="POST">
                    {% csrf_token %}
                    <button type="submit" class="icon-chevron-up" name="vote_button" value="{% if vote.is_upvote %}clear{% else %}up{% endif %}" data-vote="{{ vote.is_upvote }}"></button><br>
                    <button type="submit" class="icon-chevron-down" name="vote_button" value="{% if vote.is_downvote %}clear{% else %}down{% endif %}" data-vote="{{ vote.is_downvote }}"></input>
                </form></h5>
            </div>
            <div class="span2">
                {{ feat.content }}
                {% if user.is_superuser or feat.author == request.user %}
                    {% with name=feat|to_class_name %}{% edit name feat.id %}{% endwith %}
                {% endif %}
            </div>
            <div class="span1 right"><p class="signature"><small>
                <b>{{ feat.pub_date|date:"M j 'y" }}</b> {% trans "by" %} <a href='{{ feat.author.get_absolute_url }}'>{% user_display feat.author %}</a>
            </small></p></div>

    </div><hr>{% endfor %}

    <div class="row one_row"><div class="span4" style="text-align:center;"><a href='{% url item_create "feature" %}?item_id={{ item.id }}&positive={{ forloop.first }}' class="btn btn-mini" name='add_feature'>
        <i class="icon-share-alt"></i>{% if forloop.first %}{% trans "Add a positive feature" %}{% else %}{% trans "Add a negative feature" %}{% endif %}</a></div></div>

</br>

</div>{% endfor %}</div>
