{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Feature" %}{% endblock %}

{% block body %}


<h1>{% block form_header %}{% blocktrans with item=form.item.name way=form.way %}Add a {{ way }} feature to <i>{{ item }}</i>:{% endblocktrans %}{% endblock %}</h1>

</br>

<form action="" method="POST">{% csrf_token %}
    {{ form|as_bootstrap }}
    <input type="submit" name="add_link" class="btn" value='{% trans "Submit" %}'/>
    <input type="hidden" name="item_id" value="{{ form.item.id }}"/>
    <input type="hidden" name="positive" value="{{ form.positive }}"/>
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>

{% endblock %}
