{# TITLE: Default #}

{% extends "items/item_list_base.html" %}

{% load url from future %}
{% load i18n %}

{% block list %}
<div class="tabbable row">
  <div class="span3"><ul class="nav nav-list">
      <li class="nav-header">{% trans "What products?" %}</li>
      <li{% if pill == "browse" %} class="active"{% endif %}><a href="{% url 'tagged_items' tag.slug cat %}">{% trans "Browse products with tag" %} {{ tag|capfirst }}</a></li>
      <li{% if pill == "search" %} class="active"{% endif %}><a href="{% url 'tagged_items' tag.slug cat 'search' %}">{% trans "Search products with tag" %} {{ tag|capfirst }}</a></li>
      <li class="divider"></li>
      <li class="nav-header">{% trans "Filter" %}</li>
      <li{% if qs_option == "popular" %} class="active"{% endif %}><a href="?qs_option=popular">{% trans "Popular" %}</a></li>
      <li{% if qs_option == "-pub_date" %} class="active"{% endif %}><a href="?qs_option=-pub_date">{% trans "Last added" %}</a></li>
      <li{% if qs_option == "pub_date" %} class="active"{% endif %}><a href="?qs_option=pub_date">{% trans "Old" %}</a></li>
    </ul>
  </div>
  <div class="span9">
    {% if pill == "browse" %}
      <div id="thumbnails_list2">
        {% for item in object_list %}
          {% include "items/feed_display/_thumbnail_frame.html" with object=item masonry_list="2" only %}
        {% empty %}
          {{ empty_msg }}
        {% endfor %}
      </div>
    {% elif pill == "search" %}
      Search me
    {% endif %}
  </div>
</div>
{% endblock %}
