{% extends "items/item_list.html" %}

{% load i18n %}
{% load account_tags %}
{% load content_utils %}

{% block itemlist %}
    {% if search_list %}
        <h3>{%trans "Search results for" %} <i>"{{ search_terms }}":</i></h3>
        <ul>
            {% for item in search_list %}
                <li>
                    <a href='{{ item.get_absolute_url }}'>{{ item.name }}</a>&nbsp;
                    <a href='{% url item_edit item|to_class_name item.id %}'><i class="icon-edit"></i></a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>{% trans "No search results for" %} <i>"{{ search_terms }}"</i>.</h3>
    {% endif %}
{% endblock %}
