{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load content_utils %}
{% load format_utils %}
{% load staticfiles %}

{% block extra_style %}
  <link rel="stylesheet" href="{{ STATIC_URL }}external/bootstrap-image-gallery/css/bootstrap-image-gallery.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/content.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/affiliation.css">
  {{ media.css }}
{% endblock %}

{% block head_title %}{{ item.name }}{% endblock %}

{% block body %}

<ul class="thumbnails album" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="a.gallery-item">
  {% for image in album|slice:":4" %}<li class="span3">
    <div class="thumbnail">
      <a class="gallery-item" href="{{ image.data.link }}" style="background-image: url('{{ image.data.thumbnailLink }}')" title="{{ image.data.snippet }}" rel="gallery" data-context="{{ image.data.contextLink }}"></a>
    </div>
  </li>{% endfor %}
</ul>

<div class="row">
  <div class="span9">
    {% include "items/_data_sheet.html" %}
    <br>
    {% include "items/_question_list.html" %}
    <br>
    {% for prod in store_products %}
      {% if forloop.first %}
        <h3>{% trans "Where to buy" %}</h3>
        <div class="row" id="prices">
          <div class="span2"><h4>{% trans "Store" %}</h4></div>
          <div class="span4"><h4>{% trans "Name" %}</h4></div>
          <div class="span1"><h4>{% trans "Price" %}</h4></div>
        </div>
      {% endif %}
      <hr>
      {% include "affiliation/_affiliation_item.html" with prod=prod display="list" %}
    {% endfor %}

    <hr>

    <a class="btn" href="{% url 'item_edit' item|to_class_name item.id %}"><i class="icon-edit"></i> {% trans "Edit Product" %}</a>
    {% if user.is_superuser %}<a class="btn" href="{% url 'item_delete' item|to_class_name item.id %}"><i class="icon-trash"></i> {% trans "Delete Product" %}</a>{% endif %}
  </div>

  {% if store_products %}<div class="span3">
    <div class="dropdown controls">
      <a class="btn btn-large dropdown-toggle" id="drop" role="button" data-toggle="dropdown" data-target="#" data-name="{{ item.name }}">{% trans "From" %} <b>{% price cheapest.price cheapest.currency LANGUAGE_CODE %}</b> <span class="caret"></span></a>
      <ul class="dropdown-menu input-large" role="menu" aria-labelledby="drop">
        {% for prod in store_products %}
          {% include "affiliation/_affiliation_item.html" with prod=prod display="dropdown" %}
          <li class="divider"></li>
        {% endfor %}
        <li><a href="#prices">{% trans "See the detailed offers" %} <i class="icon-chevron-right"></i></a></li>
      </ul>
    </div>

    <hr>

    <h4>{% trans "Where to buy" %}</h4>
    {% for prod in store_products %}
      {% include "affiliation/_affiliation_item.html" with prod=prod display="thumbnail" %}
    {% endfor %}

  </div>{% endif %}
</div>

{% endblock %}

{% block extra_body %}
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="2000" title="Play"><i class="icon-play icon-white"></i></a>
    <a class="modal-download" target="_blank">{% trans "Source:" %} <span>{% trans "Download" %}</span></a>
  </div>
</div>

{% include "items/_ask_modal.html" with experts=experts %}

{% endblock %}

{% block extra_script %}
  <script src="{% static 'js/ga_functions.js' %}"></script>
  <script src="{{ STATIC_URL }}external/javascript-load-image/load-image.min.js"></script>
  <script src="{% static 'external/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js' %}"></script>
  <script src="{% static 'js/content.js' %}"></script>
  {{ media.js }}
  <script>// script can't go to '/static' : needs to translate text
    // ask a new question form
    $(document).ready( function() {
        var form = $('#question_form');
        var icon_change = $('[rel=add_icon]');
        var text_change = $('[rel=add_q_text]');
        var text_change_no_q_yet = $('[rel=add_q_text_no_q_yet]');
        form.on('shown', function () {
            icon_change.removeClass('icon-plus').addClass('icon-remove');
            text_change.html("&nbsp;");
            $('#id_content').focus();
        })
        form.on('hidden', function () {
            icon_change.removeClass('icon-remove').addClass("icon-plus");
            text_change.html("{% trans 'Ask a new question!' %}");
        })
        {% if not questions %}form.collapse('show');{% endif %}
    });

    // answer form
    $(document).ready( function() {
      var divCollection = $('div[id^="answer_form_"]');
      $.each(divCollection, function (i, item) {
        var bc = $("#controls_" + $(this)[0].id)
        var icon_change = $('[rel=icon]', bc);
        var text_change = $('[rel=text]', bc);
        $(this).on('shown', function () {
          icon_change.removeClass('icon-share-alt').addClass('icon-remove');
          text_change.html("{% trans 'Close' %}");
        })
        $(this).on('hidden', function () {
          icon_change.removeClass('icon-remove').addClass('icon-share-alt');
          text_change.html("{% trans 'Answer' %}");
        })
      })
    });
    
    //Tracking Product name for analytics
    $(document).ready(function(){
      var product=document.getElementById("drop");
      var name=product.getAttribute("data-name");
      mixpanel.track("Load_item_detail", {"product":name});
      if ($('div').hasClass('alert-success')){mixpanel.track("Event Success on Item Page");};
    });
  </script>
{% endblock %}
