{# TITLE: Tag page with "home" and other tabs #}

{% extends "items/item_list_base_2.html" %}

{% load url from future %}
{% load i18n %}
{% load voting_tags %}
{% load voting_utils %}
{% load account_tags %}
{% load content_utils %}

{% block home %}

  <div class="row">
		<div class="span7"><div {#class="pull-right"#} id="thumbnails_list">{% for item in object_list %}{% include "items/feed_display/_thumbnail_frame.html" with object=item masonry_list="1" only %}{% endfor %}</div></div>
		<div class="span4">
			{% if object_list %}<div class="row"><div class="span4">
	      <form action="" method="POST">{% csrf_token %}
	        <div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
	          <button class="btn{% if sort_order == '-pub_date' %} btn-primary{% endif %}" name="sort_products" value="-pub_date" {% if sort_order == "-pub_date" %}disabled="disabled"{% endif %}>{% trans "Newest to Oldest" %}</button>
	          <button class="btn{% if sort_order == 'pub_date' %} btn-primary{% endif %}" name="sort_products" value="pub_date" {% if sort_order == "pub_date" %}disabled="disabled"{% endif %}>{% trans "Oldest to Newest" %}</button>
	          <button class="btn{% if sort_order == 'popular' %} btn-primary{% endif %}" name="sort_products" value="popular" {% if sort_order == "popular" %}disabled="disabled"{% endif %}>{% trans "Most popular" %}</button>
	        </div>
	      </form>

	      {% for title, content_list in related_questions.iteritems %}
	        {% if content_list %}<div class="row"><div class="span4 well well-small nc-right-col-well-span4">
	      	  <h4>{{ title }}{% trans ":" %}</h4>
	          <ul>{% for content in content_list %}<li><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></li>{% endfor %}</ul>
	        </div></div>{% endif %}
	      {% endfor %}
	    </div></div>{% endif %}
  	</div>
  </div>
{% endblock %}


{% block itemlist %}
  <div class="row"><div class="span7" id="thumbnails_list2">{% for item in object_list %}{% include "items/feed_display/_thumbnail_frame.html" with object=item masonry_list="2" only %}{% endfor %}</div></div>
{% endblock %}


{% block question_tag_list %}
  <div class="row"><div class="span7">
		{% include "items/feed_display/_content_list.html" with contents=questions_on_tag display="text" %}
  </div></div>
{% endblock %}


{% block question_prod_list %}
  <div class="row"><div class="span7">
		{% include "items/feed_display/_content_list.html" with contents=questions_on_items_wi_tag display="text" %}
  </div></div>
{% endblock %}


{% block answer_question %}
  <div class="row"><div class="span7">
  	<h4>{% trans "Lastest unanswered questions:" %}</h4>
		{% include "items/feed_display/_content_list.html" with contents=orphan_q_qs display="text" %}
  </div></div>
{% endblock %}
