{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load content_utils %}
{% load pagination_tags %}

{% block extra_style %}
    {{ block.super }}
    {{ media.css }}
{% endblock %}

{% block body_class %}index{% endblock %}

{% block head_title %}{% trans "Products" %}{% endblock %}

{% block body %}

<div class="row">
    <div class="span2"><h2>{% if tag %}<form method="POST" action="">{{ tag }}<div class="pull-right">{% csrf_token %}
        {% if tag in user.get_profile.skills.all %}
            <a rel="tooltip-bottom" title="{% blocktrans %}Click to remove tag {{ tag }} from your skill list{% endblocktrans %}"><button type="submit" class="btn btn-mini btn-primary" name="skills" value="remove">{% trans "This is my skill" %}</button></a>
        {% else %}
            <a rel="tooltip-bottom" title="{% blocktrans %}Click to add tag {{ tag }} to your skill list{% endblocktrans %}"><button type="submit" class="btn btn-mini" name="skills" value="add">{% trans "Add to skills" %}</button></a>
        {% endif %}
    </div></form>{% elif search_terms %}{{ search_terms }}{% else %}{% trans "Products" %}{% endif %}</h2></div>
    <div class="span6" align="center">{% if object_list %}
        <div id="carousel_tag" class="carousel slide">
            <div class="carousel-inner">
            {% for item in object_list %}{% with image=item.node.graph.image_set.0.graph.image.0.data %}
                <div class="{% if forloop.first %}active {% endif %}item">
                    <a href="{{ item.get_absolute_url }}"><img src="{{ image.link }}" alt=""></a>
                    <div class="carousel-caption"><h4>{{ item.name }}</h4></div>
                </div>
            {% endwith %}{% endfor %}
            </div>
            <a class="carousel-control left" href="#carousel_tag" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel_tag" data-slide="next">&rsaquo;</a>
        </div>
    {% else %}&nbsp;{% endif %}</div>

    <div class="span2"><a class="btn" href="{% url 'item_create' 'item' %}"><i class="icon-plus-sign"></i> {% trans "Add a product" %}</a></div>
</div>

<div class="row">
    <div class="span2">&nbsp;</div>
    <div class="span7">

        {% if object_list %}
            {% block itemlist %}
            {% endblock %}
            {% if is_paginated %}{% paginate %}{% endif %}
        {% else %}
            <h3>
                {% if tag and search_terms %}
                    {% url 'tagged_items' tag.slug as tag_url %}
                    {% blocktrans with tagname=tag.name %}No products with tag <a href="{{ tag_url }}" class="label">{{ tagname }}</a> are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
                {% elif tag and not search_terms %}
                    {% url 'tagged_items' tag.slug as tag_url %}
                    {% blocktrans with tagname=tag.name %}No products with tag <a href="{{ tag_url }}" class="label">{{ tagname }}</a> are available.{% endblocktrans %}
                {% elif not tag and search_terms %}
                    {% blocktrans %}No products are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}No products are available.{% endblocktrans %}
                {% endif %}
                <br><br>
                {% url "item_create" "item" as add_item_url %}
                {% blocktrans %}Why not <a href="{{ add_item_url }}" class="btn btn-primary ">creating one</a> yourself?{% endblocktrans %}
            </h3>
        {% endif %}
    </div>
    <div class="span3">
        {% comment %}
        {% if object_list %}<div class="row well well-small">{% spaceless %}
            <h3>{% trans "Sort by" %}{% trans ":" %}</h3>
            <form action="." method="POST">{% csrf_token %}<div class="input-append span2">
                <!--use  btn-group-vertical when bootstrap 2.1.0 !-->
                <div class="btn-group" data-toggle="buttons-radio">
                    <button class="btn{% if sort_order == '-pub_date' %} btn-primary{% endif %}" name="sort_products" value="-pub_date" {% if sort_order == "-pub_date" %}disabled="disabled"{% endif %}>{% trans "Newest to Oldest" %}</button>
                    <button class="btn{% if sort_order == 'pub_date' %} btn-primary{% endif %}" name="sort_products" value="pub_date" {% if sort_order == "pub_date" %}disabled="disabled"{% endif %}>{% trans "Oldest to Newest" %}</button>
                    <button class="btn{% if sort_order == 'popular' %} btn-primary{% endif %}" name="sort_products" value="popular" {% if sort_order == "popular" %}disabled="disabled"{% endif %}>{% trans "Most popular" %}</button>
                </div>
            </div></form>
        {% endspaceless %}</div>{% else %}&nbsp;{% endif %}
        {% endcomment %}

        {% if object_list %}<div class="row"><form action="" method="POST">{% csrf_token %}
            <select data-placeholder="Sort" class="chzn-select" name="sort_products">
                <option value=""></option>
                <option value="-pub_date"{% if sort_order == "-pub_date" %} selected{% endif %}>{% trans "Newest to Oldest" %}</option>
                <option value="pub_date"{% if sort_order == "pub_date" %} selected{% endif %}>{% trans "Oldest to Newest" %}</option>
                <option value="popular"{% if sort_order == "popular" %} selected{% endif %}>{% trans "Most popular" %}</option>
            </select>
            &nbsp;
            <button type="submit" class="btn"><i class="icon-list"></i> {% trans 'Sort' %}</button>
        </form></div>{% else %}&nbsp;{% endif %}

        {% for title, content_list in related_questions.iteritems %}
            {% if content_list %}<div class="row well well-small">
                <h3>{{ title }}{% trans ":" %}</h3>
                <ul>{% for content in content_list %}<li><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></li>{% endfor %}</ul>
            </div>{% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_body_base %}
    {{ block.super }}
    {{ media.js }}
    <script type="text/javascript">$(".chzn-select").chosen();</script>
{% endblock %}
