{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load content_utils %}

{% block head_title %}{% trans "Products" %}{% endblock %}

{% block body %}
{% url item_index as index_url %}

{% if search_terms %}
{% include "items/search_list.html" %}
{% else %}

{% if item_list %}

{% if tag %}
</br></br>

<div class="row">
	<div class="span6">
<h1>Find a product to buy.</h1>
<i>Tested and reviewed by real people. </i>
</br></br>
    </div>
    <div class="span4">
    	<div class="alert alert-info">
		<a class="close" data-dismiss="alert" href="{{ index_url }}">click</a>Vous voici sur la page TAG {{ tag.name }}. </br>Cliquez pour revenir a une page de recherche classique.</a>
    	</div>
    </div>
    
</div>


</br></br>

    <form action="." method="POST" class="well form-search">{% csrf_token %}<div class="input-append">
        <input name="ta_pick" type="text" autocomplete="off" placeholder="Que cherchez-vous ?"class="input-xlarge" style="margin: 0 auto; height:26px; font-size:16px; font-weight:bold; color: #333; " data-provide="typeahead" data-items="6" data-source= "{{data_source}}" value="{{ place_holder }}"><button class="btn-success" type="submit"><h3>Search <i class="icon-search"></i></h3></button>
    </div>
    </br></br>
    </form>

</br></br>
{% for item in item_list %}

<div class="span7"><table class="table table-condensed"><tbody><tr><td>

        <ul>
        <li>
            <h3><a href='{{ item.get_absolute_url }}'>{{ item.name }}</a> &nbsp;
            <a href='{% url item_edit item|to_class_name item.id %}'><i class="icon-edit"></i></a></h3>
            <br><i>{{ item.description }}</i>
        </li>
        </ul>

</td></tr></tbody></table></div>
<div class="span4">
    <h3><a href='{{ item.author.get_absolute_url }}'>{% user_display item.author %}</a></h3>
</div>
{% endfor %}


{% else %}
</br></br>
<h1>Find a product to buy.</h1>
<i>Tested and reviewed by real people. </i>
</br></br></br></br>


    <form action="." method="POST" class="well form-search">{% csrf_token %}<div class="input-append">
        <input name="ta_pick" type="text" autocomplete="off" placeholder="Que cherchez-vous ?"class="input-xlarge" style="margin: 0 auto; height:26px; font-size:16px; font-weight:bold; color: #333; " data-provide="typeahead" data-items="6" data-source="{{data_source}}"  value="{{ place_holder }}"><button class="btn-success" type="submit"><h3>Search <i class="icon-search"></i></h3></button>
    </div>
    </br></br>
    
    Sort by
    <select name="sort_item" onchange="sort(this)">
	<option value="0">Something</option>
    <option value="1">Newest to Oldest</option>
    <option value="2">Oldest to Newest</option>
    <option value="3">Price: low to high</option>
    <option value="4">Weight: high to low</option>
</select>
<input name= "s" type="submit">
    </form>
    
<script>
function sort(element)
{
    var idx=element.selectedIndex;
    var val=element.options[idx].value;
    var content=element.options[idx].innerHTML;
 }
</script>   
      
{% if item_list_search %}

<div class="alert alert-info">
  <a class="close" data-dismiss="alert" href="#">click</a>
 Please see below the products for the field {{ tag_new.name }}.
</div>
</br>

</br>

{% for item in item_list %}
{% if item in item_list_search %}

<div class="span7"><table class="table table-condensed"><tbody><tr><td>

        <ul>
        <li>
            <h3><a href='{{ item.get_absolute_url }}'>{{ item.name }}</a> &nbsp;
            <a href='{% url item_edit item|to_class_name item.id %}'><i class="icon-edit"></i></a></h3>
            <br><i>{{ item.description }}</i>
        </li>
        </ul>

</td></tr></tbody></table></div>
<div class="span4">
    <h3><a href='{{ item.author.get_absolute_url }}'>{% user_display item.author %}</a></h3>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% endif %}


<div class="span7">
<ul class="nav nav-pills">
  <li class="dropdown" id="menu1">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Liste des produits
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
    {% for item in item_list %}
    
     <li>
     <a href='{{ item.get_absolute_url }}'>{{ item.name }}</a> &nbsp;
     </li>
    {% endfor %}
    </ul>
  </li>
</ul>
</div>




{% else %}
    {% if tag %}
        <h3>{% trans "No products are available with tag" %} <a href=""><span class="label">{{ tag.name }}</span></a></h3>
    {% else %}
        <h2>{% trans "No products are available." %}</h2>
    {% endif %}
{% endif %}
{% endif %}
</br></br></br></br>

<div class="span7">
<p><a class="btn" href="{% url item_create "item" %}"><i class="icon-plus-sign"></i> {% trans "Add an entry" %}</a></p>
</div>
</br></br></br></br></br></br>
 

{% endblock %}
