{# TITLE: Trial new tag page #}

{% extends "items/item_list_base_1.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load content_utils %}

{% block itemlist %}
    <div class="row"><div class="span7 pull-right" id="thumbnails_list">{% for item in object_list %}{% include "items/feed_display/_thumbnail_frame.html" with object=item only %}{% endfor %}</div></div>
{% endblock %}

{% block question_tag_list %}
    <div class="row"><div class="span7"><h4>{% trans "Questions most recommended on this tag:" %}</h4></div></div>
{% endblock %}

{% block question_prod_list %}
    <div class="row"><div class="span7"><h4>{% trans "Questions most recommended on products with this tag:" %}</h4></div></div>
{% endblock %}

{% block answer_question %}
    <div class="row"><div class="span7"><h4>{% trans "Lastest unanswered questions:" %}</h4></div></div>
{% endblock %}
