
{% load i18n %}
{% load content_utils %}

<div class="row">
    	<div class="span3">
            <div class="control-group"><label class="control-label" for="select01" style="text-align: center">Prix</label>
            <div class="controls">
            <select id="select01">  
            <option>Something</option>
            <option>+ de 200 euros</option>
            <option>100 - 200 euros</option>
            <option>- de 100 euros</option></select>
            </div></div>
        </div>
        <div class="span3">
            <div class="control-group"><label class="control-label" for="select02" style="text-align: center">Utlisation</label>
            <div class="controls">
            <select id="select02">  
            <option>Something</option>
            <option>Occasionnelle</option>
            <option>Reguliere</option>
            <option>Intensive</option></select>
            </div></div>
        </div>
        </div>
        <div class="row">    
        <div class="span3">
            <div class="control-group"><label class="control-label" for="select03" style="text-align: center">Marque</label>
            <div class="controls">
            <select id="select03">  
            <option>Something</option>
            <option>Wilson</option>
            <option>Babolat</option>
            <option>Head</option>
            <option>Prince</option>
            <option>Artengo</option>
            </select>
            </div></div>
        </div>
        <div class="span3">
            <div class="control-group"><label class="control-label" for="select04" style="text-align: center">Style de jeu</label>
            <div class="controls">
            <select id="select04">  
            <option>Something</option>
            <option>Service-volee</option>
            <option>Grosses frappes du fond de court</option>
            <option>je reste au fond, j'attends la faute adverse</option>
            <option>La reponse 4</option>
            </select>
            </div></div>
        </div>     
</div>

