{% extends "items/item_list_base.html" %}

{% load url from future %}
{% load i18n %}
{% load pagination_tags %}
{% load content_utils %}

{% block content %}

<div class="row"><div class="span11 offset1">
  {% if object_list %}
    <div class="tabbable">
        <ul class="nav nav-tabs" id="main-tab">
          <li{% if not cat %} class="active"{% endif %}><a href="{% url 'tagged_items' tag.slug %}{% if request.GET.template %}?template={{ request.GET.template }}{% endif %}">{% trans "Home - " %} {{ tag|capfirst }}</a></li>
          <li{% if cat == "products" %} class="active"{% endif %}><a href="{% url 'tagged_items' tag.slug 'products' %}{% if request.GET.template %}?template={{ request.GET.template }}{% endif %}">{% trans "Products" %}</a></li>
          <li{% if cat == "questions" %} class="active"{% endif %}><a href="{% url 'tagged_items' tag.slug 'questions' %}{% if request.GET.template %}?template={{ request.GET.template }}{% endif %}">{% trans "Questions" %}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane{% if not cat %} active{% endif %}" id="tab-home">
            {% if not cat %}
              {% block home %}
              {% endblock %}
            {% endif %}
          </div>
          <div class="tab-pane{% if cat == "products" %} active{% endif %}" id="tab-products">
            {% if cat == "products" %}
              {% block products %}
              {% endblock %}
            {% endif %}
          </div>
          <div class="tab-pane{% if cat == "questions" %} active{% endif %}" id="tab-questions">
            {% if cat == "questions" %}
              {% block questions %}
              {% endblock %}
            {% endif %}
          </div>
        </div>
      </div>
      {% if is_paginated %}{% paginate %}{% endif %}
    {% else %}
      {% if tag %}{% tag_display tag as tag_html %}{% endif %}
      <h3>
        {% if tag and search_terms %}
          {% blocktrans %}No products with tag {{ tag_html }} are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
        {% elif tag and not search_terms %}
          {% blocktrans %}No products with tag {{ tag_html }} are available.{% endblocktrans %}
        {% elif not tag and search_terms %}
          {% blocktrans %}No products are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
        {% else %}
          {% blocktrans %}No products are available.{% endblocktrans %}
        {% endif %}
        <br><br>
        {% url "item_create" "item" as add_item_url %}

        {% blocktrans %}Why not <a href="{{ add_item_url }}" class="btn btn-primary ">create a product</a> yourself?{% endblocktrans %}
        <br>
        <small>{% trans "By creating a product product page, you lay the first brick to gather information about this product: other members will see this page, add things they know about it, and even answer to you questions if you ask some." %}</small>
      </h3>
    {% endif %}
  </div>
</div>
{% endblock %}
