{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block extra_head_base %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

    {{ form.media }}
{% endblock %}

{% block head_title %}{% trans "Item" %}{% endblock %}

{% block body %}

<h1>{% block form_header %}{% trans "Add something new to talk about:" %}{% endblock %}</h1>

</br>

<form action="." method="POST">{% csrf_token %}
    <div class="row">
        <div class="span4">{{ form|as_bootstrap }}</div>
        <div class="span8">
            <button type="submit" class="btn" name="store_search"><i class="icon-eye-open"></i> {% trans "Stores Search" %}</button>
            {% if form.item_list_by_store %}<div class="row">{% for store, item_list in form.item_list_by_store.items %}
                {% if item_list %}<h3>{{ store }}</h3>{% endif %}
                {% for item in item_list %}<div class="row">
                    <input type="hidden" name="current_search_{{ store }}" value="{{ item.id }}" />
                    <div class="span1"><input type="checkbox" name="link_aff" value="{{ item.id }}"></div>
                    <div class="span6">
                        <img src="{{ item.img_small }}" width="40px" height="40px">
                        {{ item.name }}
                    </div>
                </div>{% endfor %}
            {% endfor %}</div>{% endif %}
        </div>
    </div>
    <div class="row">
    <table class="img-selector span12" id="img-selector-1">
        <tbody>
        <tr>
          <td>
            <ul class="thumbnails connectedSortable selected-list" id="selected-list">
            </ul>
          </td>
          <td class="well thumbnails connectedSortable trash hidden-phone" id="trash-1"><p>Trash <i class="icon-trash"></i></p></td>
        </tr>
        </tbody>
    </table>
    </div>
    <input type="submit" class="btn" name="create" value='{% trans "Submit" %}'/>
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>

{% endblock %}
