{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load content_utils %}
{% load pagination_tags %}

{% block body_class %}index{% endblock %}

{% block head_title %}{% trans "Products" %}{% endblock %}

{% block body %}

<div class="row">
    <div class="span2"><h2>{% if tag %}{{ tag }}{% elif search_terms %}{{ search_terms }}{% else %}Products{% endif %}</h2></div>
    <div class="span6" align="center">{% if item_list %}
        <div id="carousel_tag" class="carousel slide">
            <div class="carousel-inner">
            {% for item in item_list %}
                <div class="{% if forloop.first %}active{% endif %} item">
                    <a href="{{ item.get_absolute_url }}"><img src="http://lorempixel.com/600/300/technics/?{{ item.id }}" alt=""></a>
                    <div class="carousel-caption"><h4>{{ item.name }}</h4></div>
                </div>
            {% endfor %}
            </div>
            <a class="carousel-control left" href="#carousel_tag" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel_tag" data-slide="next">&rsaquo;</a>
        </div>
    {% else %}&nbsp;{% endif %}</div>

    <div class="span2"><a class="btn" href="{% url 'item_create' 'item' %}"><i class="icon-plus-sign"></i> {% trans "Add an entry" %}</a></div>
</div>

<div class="row">
    <div class="span2">&nbsp;</div>
    <div class="span7">

        {% if item_list %}
            {% block itemlist %}
            {% endblock %}
            {% if is_paginated %}{% paginate %}{% endif %}
        {% else %}
            <h3>{% if tag and search_terms %}
                {% url 'tagged_items' tag.slug as tagurl %}
                {% blocktrans with tagname=tag.name %}No products with tag <a href="{{ tag.url }}"><span class="label">{{ tagname }}</span></a> are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
            {% elif tag and not search_terms %}
                {% url 'tagged_items' tag.slug as tagurl %}
                {% blocktrans with tagname=tag.name %}No products with tag <a href="{{ tag.url }}"><span class="label">{{ tagname }}</span></a> are available.{% endblocktrans %}
            {% elif not tag and search_terms %}
                {% blocktrans %}No products are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
            {% else %}
                {% blocktrans %}No products are available.{% endblocktrans %}
            {% endif %}</h3>
        {% endif %}
    </div>
    <div class="span3">
        {% if item_list %}<div class="row">{% spaceless %}<form action="." method="POST">{% csrf_token %}<div class="input-append span2">
            <!--use  btn-group-vertical when bootstrap 2.1.0 !-->
            <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn{% if sort_order == '-pub_date' %} btn-primary{% endif %}" name="sort_products" value="-pub_date" {% if sort_order == "-pub_date" %}disabled="disabled"{% endif %}>{% trans "Newest to Oldest" %}</button>
                <button class="btn{% if sort_order == 'pub_date' %} btn-primary{% endif %}" name="sort_products" value="pub_date" {% if sort_order == "pub_date" %}disabled="disabled"{% endif %}>{% trans "Oldest to Newest" %}</button>
                <button class="btn{% if sort_order == 'popular' %} btn-primary{% endif %}" name="sort_products" value="popular" {% if sort_order == "popular" %}disabled="disabled"{% endif %}>{% trans "Most popular" %}</button>
            </div>
        </div></form>{% endspaceless %}</div>{% else %}&nbsp;{% endif %}

        {% for title, content_list in related_questions.iteritems %}
            {% if content_list %}<div class="row">
                <h3>{{ title }}</h3>
                <ul>{% for content in content_list %}<li><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></li>{% endfor %}</ul>
            </div>{% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
