{# TITLE: Default #}

{% extends "items/item_list_base.html" %}

{% load url from future %}
{% load i18n %}
{% load content_utils %}

{% block list %}
<div class="tabbable row">
  <div class="span3">
    <ul class="nav nav-pills nav-stacked">
      <li{% if pill == "tag" %} class="active"{% endif %}><a href="{% url 'tagged_items' tag.slug cat %}">{% trans "Questions with tag" %} {{ tag|capfirst }}</a></li>
      <li{% if pill == "products" %} class="active"{% endif %}><a href="{% url 'tagged_items' tag.slug cat 'products' %}">{% trans "Questions about products with tag" %} {{ tag|capfirst }}</a></li>
    </ul>
  </div>
  <div class="span7">
    {% include "items/feed_display/_content_list.html" with contents=object_list scores=scores display="text" empty_msg=empty_msg %}
  </div>
  <div class="span2">{% csrf_token %}
    <div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
      <a class="btn{% if qs_option == 'popular' %} btn-primary{% endif %}" href="?qs_option=popular"{% if qs_option == "popular" %} disabled{% endif %}>{% trans "Popular" %}</a>
      <a class="btn{% if qs_option == '-pub_date' %} btn-primary{% endif %}" href="?qs_option=-pub_date"{% if qs_option == "-pub_date" %} disabled{% endif %}>{% trans "Last added" %}</a>
      <a class="btn{% if qs_option == 'pub_date' %} btn-primary{% endif %}" href="?qs_option=pub_date"{% if qs_option == "pub_date" %} disabled{% endif %}>{% trans "Old" %}</a>
      <a class="btn{% if qs_option == 'no_answers' %} btn-primary{% endif %}" href="?qs_option=no_answers"{% if qs_option == "no_answers" %} disabled{% endif %}>{% trans "No answers" %}</a>
    </div>
  </div>
</div>
{% endblock %}
