{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load content_utils %}
{% load pagination_tags %}

{% block extra_style %}
    {{ block.super }}
    {{ media.css }}
{% endblock %}

{% block body_class %}index{% endblock %}

{% block head_title %}{% trans "Products" %}{% if tag %} | {% trans "Tag" %} {{ tag }}{% endif %}{% endblock %}

{% block body %}

{% block carousel %}
<div class="row">
  <div class="span2"><h1>{% if tag %}{{ tag|capfirst }}</h1><div class="pull-right">
    {% if user.is_authenticated %}<form method="POST" action="">{% csrf_token %}{% if tag in user.get_profile.skills.all %}
      <a class="tooltip-bottom" title="{% blocktrans %}Click to remove tag {{ tag }} from your skill list{% endblocktrans %}"><button type="submit" class="btn btn-mini btn-primary" name="skills" value="remove">{% trans "In my skills" %}</button></a>
    {% else %}
      <a class="tooltip-bottom" title="{% blocktrans %}Click to add tag {{ tag }} to your skill list{% endblocktrans %}"><button type="submit" class="btn btn-mini" name="skills" value="add">{% trans "Add to skills" %}</button></a>
    {% endif %}</form>{% endif %}
  </div>{% elif search_terms %}{{ search_terms }}{% else %}{% trans "Products" %}{% endif %}</div>
  <div class="span6" align="center">{% if object_list %}
    <div id="carousel_tag" class="carousel slide">
      <div class="carousel-inner">{% for item in object_list %}
        <div class="{% if forloop.first %}active {% endif %}item">
          <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.data.link }}" alt=""></a>
          <div class="carousel-caption"><h4>{{ item.name }}</h4></div>
        </div>
      {% endfor %}</div>
      
      <!-- Buttons not displayed while not working -->
      {% comment %}
      <a class="carousel-control left" data-slide="prev" href="#carousel_tag">&lsaquo;</a>
      <a class="carousel-control right" data-slide="next" href="#carousel_tag">&rsaquo;</a>
      {% endcomment %}
    </div>
  {% else %}&nbsp;{% endif %}</div>

  <div class="span2"><a class="btn" href="{% url 'item_create' 'item' %}"><i class="icon-plus-sign"></i> {% trans "Add a product" %}</a></div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="offset2 span7">

    {% if object_list %}
      {% block itemlist %}
      {% endblock %}
      {% if is_paginated %}{% paginate %}{% endif %}
    {% else %}
      <h3>
        {% if tag and search_terms %}
          {% url 'tagged_items' tag.slug as tag_url %}
          {% blocktrans with tagname=tag.name %}No products with tag <a href="{{ tag_url }}" class="label nc-tag">{{ tagname }}</a> are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
        {% elif tag and not search_terms %}
          {% url 'tagged_items' tag.slug as tag_url %}
          {% blocktrans with tagname=tag.name %}No products with tag <a href="{{ tag_url }}" class="label nc-tag">{{ tagname }}</a> are available.{% endblocktrans %}
        {% elif not tag and search_terms %}
          {% blocktrans %}No products are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
        {% else %}
          {% blocktrans %}No products are available.{% endblocktrans %}
        {% endif %}
        <br><br>
        {% url "item_create" "item" as add_item_url %}

        {% blocktrans %}Why not <a href="{{ add_item_url }}" class="btn btn-primary ">create a product</a> yourself?{% endblocktrans %}
        <br>
        <small>{% trans "By creating a product product page, you lay the first brick to gather information about this product: other members will see this page, add things they know about it, and even answer to you questions if you ask some." %}</small>
      </h3>
    {% endif %}
  </div>
  <div class="span3">{% if object_list %}
    <div class="row">
      <form action="" method="POST">{% csrf_token %}
        <div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
          <button class="btn{% if sort_order == '-pub_date' %} btn-primary{% endif %}" name="sort_products" value="-pub_date" {% if sort_order == "-pub_date" %}disabled="disabled"{% endif %}>{% trans "Newest to Oldest" %}</button>
          <button class="btn{% if sort_order == 'pub_date' %} btn-primary{% endif %}" name="sort_products" value="pub_date" {% if sort_order == "pub_date" %}disabled="disabled"{% endif %}>{% trans "Oldest to Newest" %}</button>
          <button class="btn{% if sort_order == 'popular' %} btn-primary{% endif %}" name="sort_products" value="popular" {% if sort_order == "popular" %}disabled="disabled"{% endif %}>{% trans "Most popular" %}</button>
        </div>
      </form>
    </div>

    {% for title, content_list in related_questions.iteritems %}
      {% if content_list %}<div class="row well well-small">
        <h4>{{ title }}{% trans ":" %}</h4>
        <ul>{% for content in content_list %}<li><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></li>{% endfor %}</ul>
      </div>{% endif %}
    {% endfor %}
  {% endif %}</div>
</div>
{% endblock %}

{% endblock %}

{% block extra_body_base %}
    {{ block.super }}
    {{ media.js }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#carousel_tag').carousel({ interval: 5000 });
        });
    </script>
    <script type="text/javascript">
        function TriggerMasonry(){
          $('#thumbnails_list').masonry({
          itemSelector : '.content-item',
              isAnimated: true,
              isFitWidth: true,
                //columnWidth: auto,
                //columnWidth: function( containerWidth ) {
                //    return containerWidth / 40; // Seb: this thing is a mess... Maybe it's a matter of denominator ? (colunms/size of page)...
                //},
        });
        }
        $(document).ready(function() {
           // simple example, using all default options unless overridden globally
        TriggerMasonry();
          setTimeout(TriggerMasonry,500); // trigger quickly after page load
          setTimeout(TriggerMasonry,3000); // retrigger masonry in case the .js were very long to load - happens often when loading is long
        $('div.expandable').expander({
            afterExpand:function() {TriggerMasonry();},
            //Timer to relaunch Masonry after the onCollapse event
            onCollapse:function(byUser) {timeout=setTimeout(TriggerMasonry,500);
            }
        });
        });
    </script>
{% endblock %}

{% block extra_script %}
  {{ block.super }}
	<script type ="text/javascript">
		$(document).ready(function() {
	    mixpanel.track("Load_tag_page");
		});
	</script>
{% endblock %}
