{% extends "items/item_list_base.html" %}

{% load url from future %}
{% load i18n %}
{% load pagination_tags %}

{% block content %}

<div class="row">
  <div class="offset1 span7">

    {% if object_list %}
      <div class="tabbable {#tabs-left#}">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-products" data-toggle="tab">{% trans "Products" %}</a></li>
          <li><a href="#tab-questions-tag" data-toggle="tab">{% trans "Questions on tag" %}</a></li>
          <li><a href="#tab-questions-prod" data-toggle="tab">{% trans "Questions on products with tag" %}</a></li>
          <li><a href="#tab-answer-questions" data-toggle="tab">{% trans "Answer questions" %}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-products">
            {% block itemlist %}
            {% endblock %}
          </div>
          <div class="tab-pane" id="tab-questions-tag">
            {% block question_tag_list %}
            {% endblock %}
          </div>
          <div class="tab-pane" id="tab-questions-prod">
            {% block question_prod_list %}
            {% endblock %}
          </div>
          <div class="tab-pane" id="tab-answer-questions">
            {% block answer_question %}
            {% endblock %}
          </div>
        </div>
      </div>
      {% if is_paginated %}{% paginate %}{% endif %}
    {% else %}
      <h3>
        {% if tag and search_terms %}
            {% url 'tagged_items' tag.slug as tag_url %}
            {% blocktrans with tagname=tag.name %}No products with tag <a href="{{ tag_url }}" class="label nc-tag">{{ tagname }}</a> are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
        {% elif tag and not search_terms %}
            {% url 'tagged_items' tag.slug as tag_url %}
            {% blocktrans with tagname=tag.name %}No products with tag <a href="{{ tag_url }}" class="label nc-tag">{{ tagname }}</a> are available.{% endblocktrans %}
        {% elif not tag and search_terms %}
            {% blocktrans %}No products are available for search terms <i>"{{ search_terms }}"</i>.{% endblocktrans %}
        {% else %}
            {% blocktrans %}No products are available.{% endblocktrans %}
        {% endif %}
        <br><br>
        {% url "item_create" "item" as add_item_url %}

        {% blocktrans %}Why not <a href="{{ add_item_url }}" class="btn btn-primary ">create a product</a> yourself?{% endblocktrans %}
        <br>
        <small>{% trans "By creating a product product page, you lay the first brick to gather information about this product: other members will see this page, add things they know about it, and even answer to you questions if you ask some." %}</small>
      </h3>
    {% endif %}
  </div>
  <div class="span4">{% if object_list %}
    <div class="row"><div class="span4">
      <form action="" method="POST">{% csrf_token %}
        <div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
          <button class="btn{% if sort_order == '-pub_date' %} btn-primary{% endif %}" name="sort_products" value="-pub_date" {% if sort_order == "-pub_date" %}disabled="disabled"{% endif %}>{% trans "Newest to Oldest" %}</button>
          <button class="btn{% if sort_order == 'pub_date' %} btn-primary{% endif %}" name="sort_products" value="pub_date" {% if sort_order == "pub_date" %}disabled="disabled"{% endif %}>{% trans "Oldest to Newest" %}</button>
          <button class="btn{% if sort_order == 'popular' %} btn-primary{% endif %}" name="sort_products" value="popular" {% if sort_order == "popular" %}disabled="disabled"{% endif %}>{% trans "Most popular" %}</button>
        </div>
      </form>
    </div></div>

    {% for title, content_list in related_questions.iteritems %}
      {% if content_list %}<div class="row"><div class="span4 well well-small nc-right-col-well-span4">
          <h4>{{ title }}{% trans ":" %}</h4>
          <ul>{% for content in content_list %}<li><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></li>{% endfor %}</ul>
      </div></div>{% endif %}
    {% endfor %}
  {% endif %}</div>
</div>
{% endblock %}