{% extends "site_base.html" %}

{% load i18n %}

{% block body %}

<p>Do you wanna delete?</p>

<form class="item_delete_confirm" action="{% url item_delete item.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn"> <i class="icon-trash"></i> Yes</button>
</form>
<form class="item_delete_deny" action="{% url item_detail item.id item.slug %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn"> <i class="icon-off"></i> No</button>
</form>


{% endblock %}
