{# TITLE: Default #}

{% extends "items/item_list_base.html" %}

{% load url from future %}
{% load i18n %}

{% block list %}
<div class="tabbable row">
  <div class="span2"><ul class="nav nav-list">
    <li class="nav-header">{% trans "Filter" %}</li>
    <li{% if qs_option == "popular" %} class="active"{% endif %}><a href="?qs_option=popular">{% trans "Popular" %}</a></li>
    <li{% if qs_option == "-created" %} class="active"{% endif %}><a href="?qs_option=-created">{% trans "Last added" %}</a></li>
    <li{% if qs_option == "created" %} class="active"{% endif %}><a href="?qs_option=created">{% trans "Old" %}</a></li>
  </ul></div>
  <div class="span10">
    <div class="thumbnail-list">
      {% for item in object_list %}
        {% include "items/_product_display.html" with object=item display="thumbnail" tags=1 only %}
      {% empty %}
        {{ empty_msg }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
