{% extends "items/item_list.html" %}

{% load i18n %}
{% load account_tags %}
{% load content_utils %}

{% block header %}
    <div class="row">
        <div class="span4">
            <h3>Page {{tag.name}}</h3>
        </div>
        <div class="offset1 span2">
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert" href="{% url item_index %}"><i class="icon-remove"></i></a>{{ tag.name }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block itemlist %}
    {% if item_list %}
        <div class="span7">
            <form action="." method="POST">{% csrf_token %}
                <select name="sort_items">
                    <option value="0">Sort by</option>
                    <option value="1">Newest to Oldest</option>
                    <option value="2">Oldest to Newest</option>
                </select>
                <input name= "s" type="submit">
            </form>
        </div>

        <script>
        function sort(element)
        {
            var idx=element.selectedIndex;
            var val=element.options[idx].value;
            var content=element.options[idx].innerHTML;
         }
        </script>

        {% for item in item_list %}
            <div class="row"><div class="span7">
                <h3>
                    <a href='{{ item.get_absolute_url }}'>{{ item.name }}</a> &nbsp;
                    <a href='{% url item_edit item|to_class_name item.id %}'><i class="icon-edit"></i></a>
                </h3>
                {% if not forloop.last %}<hr>{% endif %}
            </div></div>
        {% endfor %}
    {% else %}
        <h3>{% trans "No products are available with tag" %} <a href=""><span class="label">{{ tag.name }}</span></a></h3>
    {% endif %}
{% endblock %}
