{% extends "site_base.html" %}

{% load i18n %}

{% block body %}

{# FICHE TECHNIQUE #}

<h1>{{ item }}</h1>
<br />
<ul>
    <li>Name: {{ item.name }}</li>
    <li>ID: {{ item.id }}</li>
    <li>Last modified: {{ item.last_modified }}</li>
    <li>Tags: {% for tag in item.tags.all %}<span class="label">{{ tag.name }}</span> {% endfor %}</li>
</ul>
<br />
<p>
<a class="btn" href='{% url item_edit item.id %}'>
    <i class="icon-edit"></i> Edit Item
</a>
<a class="btn" href="{% url item_index %}">
    <i class="icon-list"></i> Items list</a>
</p>

{# REVIEWS #}

{% if user.is_authenticated %}
        
{% else %}

{% endif %}

{% endblock %}
