
{% load i18n %}
{% load content_utils %}

<div class="row">
    	<div class="span3">
            <div class="control-group"><label class="control-label" for="select01" style="text-align: center">Prix</label>
            <div class="controls">
            <select id="select01">  
            <option>Something</option>
            <option>+ de 300 euros</option>
            <option>150 - 300 euros</option>
            <option>- de 150 euros</option></select>
            </div></div>
        </div>
        <div class="span3">
            <div class="control-group"><label class="control-label" for="select02" style="text-align: center">Utilisation</label>
            <div class="controls">
            <select id="select02">  
            <option>Something</option>
            <option>Occasionnelle</option>
            <option>Reguliere</option>
            <option>Intensive</option></select>
            </div></div>
        </div>
        </div>
        <div class="row">    
        <div class="span3">
            <div class="control-group"><label class="control-label" for="select03" style="text-align: center">Marque</label>
            <div class="controls">
            <select id="select03">  
            <option>Something</option>
            <option>Dyson</option>
            <option>Bosch</option>
            <option>Miele</option>
            <option>Nilfisk</option>
            </select>
            </div></div>
        </div>
        <div class="span3">
            <div class="control-group"><label class="control-label" for="select04" style="text-align: center">Quel type d'aspirateur</label>
            <div class="controls">
            <select id="select04">  
            <option>Something</option>
            <option>Robot</option>
            <option>Tres puissant</option>
            <option>Tres peu bruyant</option>
            <option>Solide et longue duree</option>
            </select>
            </div></div>
        </div>     
</div>

