{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block extra_head_base %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

    {{ form.media }}
{% endblock %}

{% block head_title %}{% trans "Item" %}{% endblock %}

{% block body %}

<h1>{% block form_header %}{% trans "Add a product:" %}{% endblock %}</h1>
<br>
<button class="btn btn-mini btn-success " data-toggle="collapse" data-target="#item_form" style="z-index: 0 ;"><i rel="add_icon" class="icon-plus"></i>How it works</button>
<div id="item_form" class="collapse out">
	<br>
	{% trans "Here, you can create a new product page in 10 seconds. To create one, you need to" %}:
	<ol>
		<li>{% trans "Put in the product name and its associated tags "%}(<a href="{% url faq %}">{% trans "see here how to use tags" %}</a>).</li>
		<li>{% trans "Create the affiliate links using <i>Stores search</i>." %}</li>
		<li>{% trans "The last step is to generate the images by <b>editing</b> the product, once this one has been created." %}</li>
	</ol>
</div>

</br>

<form action="." method="POST">{% csrf_token %}
    <div class="row">
        <div class="span4">
            {{ form|as_bootstrap }}
            <br>
            <button type="submit" class="btn" name="create">{% trans "Submit" %}</button>

            {% if item %}{% if item.affiliationitem_set.all %}<br><br>
                <h3>{% trans "Linked Products" %}</h3>
                <div class="row"><div class="span3">
                    <button type="submit" class="btn pull-right" name="remove_links"><i class="icon-remove-sign"></i> {% trans "Remove unselected" %}</button>
                </div></div>
                {% for i in item.affiliationitem_set.all %}
                    <div class="row"><div >
                        <div class="span2">{% include "affiliation/_affiliation_item.html" with prod=i %}</div>
                        <div class="span1"><span style="vertical-align:-30px"><input type="checkbox" name="linked_aff" value="{{ i.id }}" checked></span></div>
                    </div></div>
                {% endfor %}
            {% endif %}{% endif %}
        </div>
        <div class="span6">
            <button type="submit" class="btn" name="store_search"><i class="icon-eye-open"></i> {% trans "Stores Search" %}</button>
            {% if form.product_list_by_store and item %}<button type="submit" class="btn" name="add_links"><i class="icon-plus-sign"></i> {% trans "Add selected" %}</button>{% endif %}
            {% if form.product_list_by_store %}<br><br><div class="row">{% for store, product_list in form.product_list_by_store.items %}{% if product_list %}<div class="well well-small">
                <h3><a href="{{ product_list.0.store.url }}" target="_blank" class="black">{% with "https://getfavicon.appspot.com/"|add:product_list.0.store.url as icon_url %}<img src="{{ icon_url }}" height="24px" width="24px">&nbsp;{{ product_list.0.store }}{% endwith %}</a></h3>
                {% for i in product_list %}<div class="row">
                    <input type="hidden" name="current_search_{{ store }}" value="{{ i.id }}"/>
                    <div class="span1"><input type="checkbox" name="link_aff" value="{{ i.id }}">&nbsp;<img src="{{ i.img_small }}" width="50px" height="50px"></div>
                    <div class="span5">{{ i.name }}</div>
                </div>{% endfor %}
            </div>{% endif %}{% endfor %}</div>{% endif %}
        </div>
    </div>

    <div class="row">
    <table class="img-selector span12" id="img-selector-1">
        <tbody>
        <tr>
          <td>
            <ul class="thumbnails connectedSortable selected-list" id="selected-list">
            </ul>
          </td>
          <td class="well thumbnails connectedSortable trash hidden-phone" id="trash-1"><p>Trash <i class="icon-trash"></i></p></td>
        </tr>
        </tbody>
    </table>
    </div>
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>

{% endblock %}
