{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load content_utils %}

{% block extra_style %}
    <link href="{{ STATIC_URL }}css/content.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/help.css" rel="stylesheet">
    <style>
      #edit-about {
        width: 100%;
      }
      #edit-about input:first-child {
        width: -webkit-calc(100% - 40px);
        width:    -moz-calc(100% - 40px);
        width:         calc(100% - 40px);
      }
    </style>
    {{ answer_form.media.css }}
{% endblock %}

{% block head_title %}{{ question.content }}{% endblock %}

{% block body %}

<div class="row question-header">
  <div class="span9">
    {% tags_display tags %}
    <br>
    {% include QUESTION_TEMPLATE with content=question display="detail" %}
  </div>
  <div class="span3">
    {% if products %}
      <div class="products thumbnail-list">
        {% for item in products %}
          {% include "items/_product_display.html" with object=item display="thumbnail" only %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

<br>

<div class="row">
  <div class="span9" itemscope itemtype="http://schema.org/Article">

    {% for answer in question.answer_set.all %}
      {% if not forloop.first%}<br>{% endif %}
      {% include "items/feed_display/_answer.html" with answer=answer display="list" options="answer-signature" %}
    {% endfor %}

    <br>
    <br>

    {% include "items/_answer_form.html" with form=answer_form %}
  </div>

  <div class="span3 questions-extra">
    {% for title, content_list in related_questions.iteritems %}
      {% if not forloop.first %}<hr>{% endif %}
      {% if content_list %}
        <h5>{{ title }}</h5>
        {% for content in content_list %}
          <p><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></p>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% include "help/_ask_modal.html" %}

{% endblock %}

{% block extra_script %}
  <script src="{{ STATIC_URL }}js/content.js"></script>
  <script src="{{ STATIC_URL }}js/help.js"></script>
  {{ answer_form.media.js }}
  <script>
    var extraOptions = {
        columnWidth: function( containerWidth ) {
            if ( containerWidth < 440 ) {
                return containerWidth / 2;
            } else {
                return containerWidth / 4;
            }
        },
        isFitWidth: false
    };
    $.triggerMasonry($(".thumbnail-list"), ".product-item.thumbnail", extraOptions);

    $(function () {
        if ( '{{ ask_form.errors }}' ) { $("#modal-ask").modal("show"); }

        var hash = window.location.hash.substring(1);
        if ( /answer-form/.test(hash) ) {
            editor.focus();
        }
        $("#call-answer-form").click( function (eventObject) {
            editor.focus();
        });

        // Edit profile.about with ajax
        $("#form-edit-about").submit(function() {
            $("#modal-edit-about").modal("hide");
            $.ajax({
                type: "post",
                data: $(this).serialize() + "&" + $("[type='submit']", $(this)).attr("name"),
                success: function(data, textstatus, jqxhr) {
                    if ( data.toggle ) {
                        $(".about").toggleClass("hidden");
                    }
                    if ( data.about !== "" ) {
                        data.about = ", " + data.about;
                    }
                    $("#user-about").text(data.about);
                    $.displayMessages(data.messages);
                }
            });
            return false;
        });

        // Focus input on modal load
        $(".about").click( function (eventObject) {
            $("#modal-edit-about").modal("show");
        });
        $("#modal-edit-about").on("shown", function (eventObject) {
            var input = $("#edit-about input");
            input.focus();
            input.val(input.val());
        });

    });

    $(document).ready(function(){mixpanel.track("Load_question_detail");});
    if ($('div').hasClass('alert-success')){mixpanel.track("Event Success on Question Page");};
  </script>
{% endblock %}