{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load content_utils %}

{% block extra_style %}
    <link href="{{ STATIC_URL }}css/content.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/help.css" rel="stylesheet">
    <style>
      div.question { margin-bottom: 20px; }

      #edit-about {
        width: 100%;
      }
      #edit-about input:first-child {
        width: -webkit-calc(100% - 40px);
        width:    -moz-calc(100% - 40px);
        width:         calc(100% - 40px);
      }
    </style>
    {{ question.answer_form.media.css }}
{% endblock %}

{% block head_title %}{{ question.content }}{% endblock %}

{% block body %}
<div class="row">
  <div class="span9" itemscope itemtype="http://schema.org/Article">
    {% include "items/feed_display/_question.html" with content=question display="text" q_detail="True" experts=experts display_a="all" displ_sign="True" scores=scores votes=votes user=user path=request.path statuses=statuses csrf_token=csrf_token only %}
  </div>

  <div class="span3">
    {% if question.items.all %}
      <h4 class="text-right">{% trans "Related products" %}</h4>
      <div class="thumbnail-list">{% for item in question.items.all %}
        {% include "items/feed_display/_thumbnail_frame.html" with object=item tags=1 only %}
      {% endfor %}</div>
    {% endif %}

    {% if question.tags.all %}
      <hr>
      <h4 class="text-right">{% trans "Related tags" %}</h4>
      {% tags_display question.tags %}
    {% endif %}

    {% for title, content_list in related_questions.iteritems %}
        <ul>{% for content in content_list %}
          {% if forloop.first %}<hr><h4 class="text-right">{{ title }}</h4>{% endif %}
          <li><a href="{{ content.get_absolute_url }}">{{ content.content }}</a></li>
        {% endfor %}</ul>
      {% if content_list %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% include "help/_ask_modal.html" %}

{% endblock %}

{% block extra_script %}
  <script src="{{ STATIC_URL }}js/content.js"></script>
  <script src="{{ STATIC_URL }}js/help.js"></script>
  {{ question.answer_form.media.js }}
  <script>
    $(function () {
        if ( '{{ ask_form.errors }}' ) { $("#modal-ask").modal("show"); }

        var hash = window.location.hash.substring(1);
        if ( /answer_form/.test(hash) ) {
            editor.focus();
        }

        // Edit profile.about with ajax
        $("#form-edit-about").submit(function() {
            $("#modal-edit-about").modal("hide");
            $.ajax({
                type: "post",
                data: $(this).serialize() + "&" + $("[type='submit']", $(this)).attr("name"),
                success: function(data, textstatus, jqxhr) {
                    if ( data.toggle ) {
                        $(".about").toggleClass("hidden");
                    }
                    if ( data.about !== "" ) {
                        data.about = ", " + data.about;
                    }
                    $("#user-about").text(data.about);
                    $.displayMessages(data.messages);
                }
            });
            return false;
        });

        // Focus input on modal load
        $(".about").click( function (eventObject) {
            $("#modal-edit-about").modal("show");
        });
        $("#modal-edit-about").on("shown", function (eventObject) {
            var input = $("#edit-about input");
            input.focus();
            input.val(input.val());
        });

    });

    $(document).ready(function(){mixpanel.track("Load_question_detail");});
    if ($('div').hasClass('alert-success')){mixpanel.track("Event Success on Question Page");};
  </script>
{% endblock %}