
{# TITLE: With add prod. and add answer #}

{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block extra_style %}
    {{ block.super }}
    {{ form.media.css }}
    {{ i_form.media.css }}
    {{ a_form.media.css }}
{% endblock %}

{% block head_title %}{% trans "Question" %}{% endblock %}

{% block body %}
<div class="row">
    <div class="span10">
        <h1>{% block form_header %}{% trans "Ask a question" %}{% trans ":" %}{% endblock %}</h1>
    </div>
    <div class="span2">
        <button class="btn btn-mini btn-success" data-toggle="collapse" data-target="#tips_div" style="z-index: 0 ;"><i rel="add_icon" class="icon-plus icon-white" style="margin-right: 3px; position: relative; top: -2px;"></i>{% trans "Tips" %}</button>
    </div>
</div>
<div class="row collapse out" id="tips_div">
    <div class="span10 offset2">
        <div class="well">
            {% url "item_create" "item" as url %}{% blocktrans %}
                <h4>Tips:</h4>
                Here, you can ask a question about one or several products already <b><a href="{{ url }}" class="black tooltip-top" title="Click here if not" target="_blank">existing</a></b> at NewCo:
                <ol>
                    <li>Write down your question.</li>
                    <li>Select one or several products to bind that question to, using the search bar.</li>
                    <li>Once the question submitted, you can wait for an answer or, if you are getting impatient, <b>ask an expert</b> to help you out.</li>
                </ol>
            {% endblocktrans %}
        </div>
    </div>
</div>
<br>
<br>

<form class="form-horizontal" action="?{% if request.GET.fields %}fields={{ request.GET.fields }}{% endif %}{% if request.GET.template %}&template={{ request.GET.template }}{% endif %}" method="POST">{% csrf_token %}
    {# {{ form|as_bootstrap }} #}

    <div class="control-group">
        <label class="control-label" for="status">{% trans "Status" %}{% trans ":" %}</label>
        <div class="controls">
            {{ form.status }}
        </div>
    </div>
    <div class="control-group{% if form.content.errors %} error{% endif %}{% if form.content.required %} required{% endif %}">
        <label class="control-label" for="content">{% trans "Question" %}{% trans ":" %}</label>
        <div class="controls">
            {{ form.content }}
            {% for error in form.content.errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" for="related_tag_or_item">{% trans "Related tag or item" %}{% trans ":" %}</label>
        <div class="span5 well">
            <label class="radio">
                <input type="radio" name="tag_or_prod" checked>
                <b>{% trans "This question concerns one or some products in particular" %}{% trans ":" %}</b>

            </label>

            <div class="control-group{% if form.items.errors %} error{% endif %}{% if form.items.required %} required{% endif %}" style="display: block;">
                {#<div class="row controls">#}
                    <br>
                    {{ form.items }}
                    {% for error in form.items.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                    <br>
                    <br>
                    <label class="checkbox">
                        <input type="checkbox" name="add_product" data-toggle="collapse" data-target="#item_form"{% if add_product %} checked{% endif %}>
                        {% trans "I don't find (one of) the product(s) relative to my question" %}
                    </label>
                    <div id="item_form" class="collapse out">
                        {% blocktrans %}
                            <h5>Add a product relative to my question:</h5>
                            <ol>
                                <li>Add an item if you don't find it above</li>
                                <li>It will be added to the items you list here-above, if any</li>
                            </ol>
                        {% endblocktrans %}
                        {{ i_form|as_bootstrap }}
                    </div>
                {#</div>#}
            </div>
        </div>
        <div class="span4 well">
            <label class="radio">
                <input type="radio" name="tag_or_prod" disabled>
                <b>{% trans "This question concerns a category of products, represented by tag(s)" %}</b>
            </label>
            {#{{ i_form.tags }}#}
        </div>
    </div>

    <br>
    <br>

    <div class="control-group">
        <div class="controls">
            <div class="row">
                <div class="span4">
                    <label class="checkbox">
                        <input type="checkbox" name="add_answer" data-toggle="collapse" data-target="#answer_form"{% if add_answer %} checked{% endif %}>
                        <b>{% trans "Answer your own question, like a FAQ." %}</b>

                        {#<a href="#page_TO_DO"> {% trans "Is it a good thing to answer your own questions?" %}</a>#}
                    </label>
                </div>
                <div class="span3 pull-right">
                    <button class="btn btn-mini btn-success" type="button" data-toggle="collapse" data-target="#why_answer_your_q" style="z-index: 0 ;"><i rel="add_icon" class="icon-plus icon-white" style="margin-right: 3px; position: relative; top: -2px;"></i>{% trans "Why is it encouraged?" %}</button>
                </div>
            </div>
            <div id="why_answer_your_q" class="collapse out">
                <div class="well">
                    {% blocktrans %}
                        <h3>We encourage you to answer your own questions.</h3> Why? On NewCo, giving answers to others is central. And sometimes you know things, but you don't find a question relative to it. We encourage you to document that knowledge, so it can benefit others. And if people find that question and/or answer usefull and well written, they'll vote for it, we encourage them to.
                    {% endblocktrans %}
                    {% comment %}
                        <br>
                        <br>
                        <br>
                        (...)
                        And in many cases, you have already the answer to your question:
                        <ol>
                            <li>You can have had a question before, now you've found the answer and you want to share it to others</li>
                            <li>You can have an answer to a question you <i>suppose</i> others can have, in this case, if it reveals that your question/answer is not very usefull, it will just not get a lot of points, but you don't have to be scared of trying</li>
                            <li>You may want to document what you know, and on NewCo, the adapted format is Q&A</li>
                        </ol>
                        So if
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div id="answer_form" class="collapse out">
                {{ a_form|as_bootstrap }}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="control-group">
        <div class="controls">
            <input type="submit" name="add_question" class="btn btn-primary" value="{% trans 'Submit/ Publish your question' %}">
            <input type="hidden" name="is_complex_form" value="True">
            {#<input type="submit" name="save_as_draft" class="btn" value="{% trans 'Save as draft' %}" title="{% trans "Available soon" %}" disabled>#}
            {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        </div>
    </div>
</form>

{% endblock %}

{% block extra_body_base %}
    {{ block.super }}
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $(".chzn-select").each(function(i, select) {
                    var $select = $(select);
                    $select.chosen({max_selected_options: 1, no_results_text: "{{ form.no_results }}"});
                    $select.bind("liszt:maxselected", function () {});
                });
                $(".chzn-select-deselect").each(function(i, select) {
                    var $select = $(select);
                    $select.chosen({allow_single_deselect: true});
                });
            });
        })((typeof window.django != 'undefined') ? django.jQuery : jQuery);
    </script>
    <script type="text/javascript">
        {% if add_product %}$('#item_form').collapse('show');{% endif %}
        {% if add_answer %}$('#answer_form').collapse('show');{% endif %}
    </script>
    {{ form.media.js }}
    {{ i_form.media.js }}
    {{ a_form.media.js }}
{% endblock %}
