{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block extra_style %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

  <script type="text/javascript">
      (function ($) {
          $(function () {
              $(".chzn-select").each(function(i, select) {
                  var $select = $(select);
                  $select.chosen({max_selected_options: 1, no_results_text: "{{ form.no_results }}"});
                  $select.bind("liszt:maxselected", function () {});
              });
          });
      })((typeof window.django != 'undefined') ? django.jQuery : jQuery);
  </script>

  {{ form.media }}
  {{ formset.media.css }}
{% endblock %}

{% block head_title %}{% trans "Question" %}{% endblock %}

{% block body %}

<div class="row">
    <div class="span10">
        <h1>{% block form_header %}{% trans "Ask a question" %}{% trans ":" %}{% endblock %}</h1>
    </div>
    <div class="span2">
        <button class="btn btn-mini btn-success" data-toggle="collapse" data-target="#tips_div" style="z-index: 0 ;"><i rel="add_icon" class="icon-plus icon-white" style="margin-right: 3px; position: relative; top: -2px;"></i>{% trans "Tips" %}</button>
    </div>
</div>
<div class="row collapse out" id="tips_div">
    <div class="span10 offset2">
        <div class="well">
            {% url "item_create" "item" as url %}{% blocktrans %}
                <h4>Tips:</h4>
                Here, you can ask a question about one or several products:
                <ol>
                    <li>Write down your question.</li>
                    <li>Select one or several products to bind that question to, using the search bar.</li>
                    <li>Once the question submitted, you can wait for an answer or, if you are getting impatient, <b>ask an expert</b> to help you out.</li>
                </ol>
            {% endblocktrans %}
        </div>
    </div>
</div>
<br>
<br>

<form class="form-horizontal" action="" method="POST">{% csrf_token %}
  {{ form|as_bootstrap }}

  <br>
  <br>
  <br>

  <div class="control-group" id="div_submit_q"{% if cb_answer %} style="visibility: hidden;" {% endif %}>
    <div class="controls">
      <input type="submit" name="add_question" class="btn btn-primary" value="{% if question.is_public %}{% trans "Save and keep public" %}{% elif question.is_draft %}{% trans "Publish your question" %}{% else %}{% trans "Publish your question" %}{% endif %}">
      <input type="submit" name="save_as_draft" class="btn" value="{% if question.is_public %}{% trans "Unpublish and save as draft" %}{% elif question.is_draft %}{% trans "Save as draft" %}{% else %}{% trans "Save as draft" %}{% endif %}">
    </div>
  </div>
  <br>
  <br>
  <br>

  {% if '/add/' in request.path %}{# purpose: make it invisible when editing a question #}
    <div class="control-group">
      <div class="controls">
        <div class="row">
          <div class="span4">
            <label class="checkbox">
              <input type="checkbox" name="cb_answer" data-toggle="collapse" data-target="#answer_form"{% if cb_answer %} checked{% endif %}>
              {% trans "Answer your own question" %}
            </label>
          </div>
          <div class="span3 pull-right">
            <button class="btn btn-mini btn-success" type="button" data-toggle="collapse" data-target="#why_answer_your_q" style="z-index: 0 ;"><i rel="add_icon" class="icon-plus icon-white" style="margin-right: 3px; position: relative; top: -2px;"></i>{% trans "Why is it encouraged?" %}</button>
          </div>
        </div>
        <div id="why_answer_your_q" class="collapse out">
          <div class="well">
            {% blocktrans %}
            <h3>We encourage you to answer your own questions.</h3> Why? On NewCo, giving answers to others is central. And sometimes you know things, but you don't find a question relative to it. We encourage you to document that knowledge, create your own Q&A, like a FAQ, so it can benefit others.
            {% endblocktrans %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div id="answer_form" class="row collapse {% if formset_errors or cb_answer %}in{% else %}out{% endif %}"><div class="span7">
    {{ formset.management_form }}
    {% for form in formset %}
      {{ form|as_bootstrap }}
    {% endfor %}
  </div></div>

  <div class="control-group" id="div_submit_qa"{% if not cb_answer %} style="display: none;" {% endif %}>
    <div class="controls">
      <br>
      <br>
      <input type="submit" name="add_question" class="btn btn-primary" value="{% trans "Publish your question and answer" %}">
      <input type="submit" name="save_as_draft" class="btn" value="{% trans "Save as draft your question and answer" %}" {#title="{% trans "Available soon" %}" disabled#}>
    </div>
  </div>
  {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}

  {# Modal "add a product" #}
  {% comment %}{% trans "Can't find the product related to your question?" %} <a class="btn btn-primary" data-toggle="modal" role="button" href="#itemModal"><i rel="add_icon" class="icon-plus icon-white"></i> {% trans "Add it" %}</a>{% endcomment %}

  <div class="modal fade hide" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-header">
      <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
      <h3 id="itemModalLabel">{% trans "Add a product"%}{% trans ":" %}</h3>
    </div>
    <div class="modal-body">{{ i_form|as_bootstrap }}</div>
    <div class="modal-footer">
      <a class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</a>
      <input type="submit" name="add_item" class="btn btn-primary" value="{% trans 'Add product' %}">
    </div>
  </div>

</form>

{% endblock %}

{% block extra_body_base %}
  {{ block.super }}
  {{ formset.media.js }}
  <script type="text/javascript">
    {% if show %}$("#itemModal").modal("show"){% endif %}
    $('#answer_form').on('hide', function () {
      $('#div_submit_q').css('visibility','visible');
      $('#div_submit_qa').css('display','none');
    })
    $('#answer_form').on('show', function () {
      $('#div_submit_q').css('visibility','hidden');
      $('#div_submit_qa').css('display','inline');
    })

    function hide_tags_show_items() {
      $('#div_id_items').css('opacity','1');
      $('#div_id_tags').css('opacity','0.5');
    }
    function hide_items_show_tags() {
      $('#div_id_items').css('opacity','0.5');
      $('#div_id_tags').css('opacity','1');
    }

    if($("#id_items_or_tags_1").is(":checked")){hide_tags_show_items();}
    if($("#id_items_or_tags_2").is(":checked")){hide_items_show_tags();}
    $('#id_items_or_tags_1').click(function () {hide_tags_show_items();})
    $('#id_items_or_tags_2').click(function () {hide_items_show_tags();})
  </script>
{% endblock %}

{% block extra_script %}
    {{ block.super }}

	<script type ="text/javascript">
		$(document).ready(function(){
	    mixpanel.track("Load_add_question");
		});
	</script>
{% endblock %}

{# TITLE: Original #}