{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Comment contribuer ?" %}{% endblock %}

{% block body %}
    <div style="text-align:center;">
    <h1>{% trans "Comment contribuer ?" %}</h1>
    </div>
    </br>
    <p>Bienvenue! Vous venez d'arriver sur la page NewCo et vous vous demandez <i>comment ca marche</i>. Voici quelques conseils pour vous aiguiller dans votre navigation sur le site.
    </p>
    	
    </br><p><b>Présentation</b></p>
    <p>Il y a déjà à ce jour plusieurs manières de contribuer sur la plateforme et d'aider la communauté. 
    </br>Pour l'instant, vous pouvez répondre aux questions et en poser, rajouter des fiches produits, raconter votre expérience utilisateur, et évaluer (voter) le contenu apporté par d'autres contributeurs.
    </br></br>
    </br></br>Voici les principales étapes:
    </p> 
    </br><p><b><i>1: S'inscrire</i></b></p>
    <p>Apres vous être inscrits, vous pouvez commencer par mettre à jour votre profil en complétant vos données personnelles.
    </p> 
    </br><p><b><i>2: S'informer</i></b></p>
    <p>Vous pouvez voir la liste des produits apparaitre dans l'onglet "Liste des Produits".
    </br>Cliquez ensuite sur un produit qui vous intéresse pour voir s'afficher les différentes informations recueillies. Vous pouvez également rajouter un produit si vous le souhaitez.
    <br>Plusieurs nouvelles fonctionnalités ont été implémentées, comme par exemple le fait de pouvoir se créer son flux de news personnalisé en s'abonnant à certains profils.
    </p>
    </br><p><b><i>3: Contribuer en s'amusant </i></b></p>
    <p>Vous pouvez commencer à contribuer au site en utilisant toutes les fonctionnalités offertes.
    </br>Vous avez ainsi la possibilité d'accumuler des points de réputation en apportant du contenu qui sera soumis aux votes des autres utlisateurs. 
    </br>Avec la version actuelle du site, vous pouvez d'ailleurs commencer à voter dès l'inscription.
    <br />Let's get started!
    </p>
    </br><p><b><i>4: Nous donner un feedback </i></b></p>
    <p>Dès votre premiere navigation sur le site, faites-nous partager votre première impression.
    </br>Puis ensuite un peu plus tard quand vous commencez à jouer avec la plateforme et gagnez en réputation.
   
    </p>
       

{% endblock %}
