{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "FAQ" %}{% endblock %}


{% block extra_style %}
{{ block.super }}

<style type="text/css">
    .content_row {
       border-top:50px solid transparent;
    }
</style>

{% endblock %}


{% block body %}
    <div class="hero-unit" style="text-align:center;"><h1>{% trans "FAQ" %}</h1></div></br>

    <div class="content_row" id="why_newco"><h3>{% trans "Why NewCo?" %}</h3><p>{% trans "We believe in today's connected world you should be able to find easily a deep information on any product. It would empower you to make wise choices. We work hard to make it real, and sometimes work late at night. We believe if we realize this vision we will all be able to buy products better adapter to our needs, push industrials to produce better products, and help you save a lot of time and energy finding what you want to buy." %}</p></div>

    <div class="content_row" id="partners"><h3>{% trans "Quels sont les partenariats déjà en place ?" %}</h3><p>{% trans "Pour l'instant, nous avons négocié des partenariats d'affiliation avec Amazon, Décathlon, Virgin Mega, Woodbrass... Et bien plus à venir ! Vous pouvez nous contacter pour en savoir plus sur ces accords." %}</p></div>

    <div class="content_row" id="contribute"><h3>{% trans "Comment puis-je contribuer au site ?" %}</h3><a href="{% url contribute %}" class="btn btn-primary">{% trans "How to contribute?" %}</a></div>

    <div class="content_row" id="content"><h3>{% trans "Comment vous assurez-vous d'avoir du contenu de qualité sur la plateforme ?" %}</h3><p>{% trans "La qualité du contenu est, avec l'expérience utilisateur, notre première préoccupation. Pour atteindre un résultat satisfaisant, nous mettons tout en oeuvre pour :<ul><li>guider les contributeurs et les inciter à collaborer entre eux.</li><li>favoriser l'émergence du bon contenu via notre système d'intelligence collective." %}</li></ul></p></div>


    <div class="content_row" id="reputation"><h3>{% trans "Comment gagner des points de réputation ?" %}</h3><p>{% trans "Il vous est très simple d'accumuler des points de réputation. Il suffit d'apporter une contribution (question/réponse, caractéristique, article). Si celle-ci est jugée positivement par la communauté, elle vous rapportera un certain nombre de points (dépendant du type de contribution) par vote favorable." %}</p></div>

    <div class="content_row" id="tags"><h3>{% trans "A quoi servent les tags ?" %}</h3><p>{% trans "Vous remarquerez qu'il y a 2 catégories différentes de tags : les tags produit et les tags utilisateur (compétences).<ul><li>Ils permettent de facilement naviguer sur le site, en favorisant le déplacement d'un produit ou d'une catégorie à l'autre.</li><li>Par la suite, ils nous permettrons d'introduire un système de cartographie intelligent des produits.</li><li>Enfin, on utilise aussi les tags pour associer chaque produit à un groupe d'experts." %}</li></ul></p></div>
{% endblock %}



{% block extra_script %}
    {{ block.super }}
    
    {# ##### Equalize columns height ##### #}
    <script type="text/javascript">

	    var shiftWindow = function() { scrollBy(0, -50) };
	    if (location.hash) shiftWindow();
	    window.addEventListener("hashchange", shiftWindow);
    </script>
    {# ##### End of Equalize columns height ##### #}
{% endblock %}

