{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "FAQ" %}{% endblock %}


{% block extra_style %}
{{ block.super }}

<style type="text/css">
    .content_row {
       border-top:50px solid transparent;
    }
</style>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/xkcd.css">

{% endblock %}


{% block body %}
    <div class="hero-unit" style="text-align:center;"><h1>{% trans "FAQ" %}</h1></div></br>

    <div class="content_row" id="why_newco">
        <h3>{% trans "Why NewCo?" %}</h3><p>{% trans "We believe in today's connected world you should be able to find easily a deep information on any product. It would empower you to make wise choices. We work hard to make it real, and sometimes work late at night. We believe if we realize this vision we will all be able to buy products better adapter to our needs, push industrials to produce better products, and help you save a lot of time and energy finding what you want to buy." %}</p>
        <br><br><br><br>
        <p>{% trans "We believe this shouldn't happen" %}{% trans ":" %}</p>
        <div class="span12">
            <div style="text-align: left;">
            <p style="font-size:130%"><i>Sur le Web, on trouve tout et surtout n’importe quoi...</i></p>
            <br />
            </div>
            <div id="xkcd">
                <div title="xkcd reviews part 1" style="width:166px; background-position: 0px 0px"></div>
                <div title="xkcd reviews part 2" style="width:180px; background-position: -172px 0px"></div>
                <div title="xkcd reviews part 3" style="width:180px; background-position: -358px 0px"></div>
                <div title="xkcd reviews part 4" style="width:196px; background-position: -544px 0px"></div>
                <br/><span><i>Crédit : <a href="http://xkcd.com/1036/">xkcd</a> - Texte original traduit de l'anglais sous <a href="http://creativecommons.org/licenses/by-nc/2.5/">licence CC BY-NC 2.5</a></i></span>
            </div>
            <div style="text-align: right;"><br />
            <p style="font-size:130%"><i>...NewCo fait le choix de l'entraide{# le pari du partage d'information #}.</i></p>

            </div>
        </div>
        <br><br><br><br>
    </div>

    <div class="content_row" id="contribute"><h3>{% trans "How can I contribute to NewCo?" %}</h3><a href="{% url contribute %}" class="btn btn-primary">{% trans "How to contribute?" %}</a></div>

    <div class="content_row" id="content"><h3>{% trans "How do you ensure to have quality content on the platform?" %}</h3><p>{% trans "Quality of content is, with user experience, our first worry. To reach great result, we set up everything to:<ul><li>guide contributors and entice them to collaborate between them</li><li>promote best content emergence through our collective intelligence system" %}</li></ul></p></div>


    <div class="content_row" id="reputation"><h3>{% trans "How to earn reputation points?" %}</h3><p>{% trans "Build your reputation by creating quality content. You will get points from other users votes." %}</p></div>

    <div class="content_row" id="tags"><h3>{% trans "What are the tags for?" %}</h3><p>{% trans "Tags are used for two things: tag products, and tag skills. Tags can both be used for skills and products, but the use is different: tags on products is a way to categorize, tags on skills is a way to identify someone's area of competence." %}</li></ul></p></div>
    {#  description des tags à réecrire quand on aura réorganisé  #}
{% endblock %}


{% comment %}
    {% block extra_script %}
        {{ block.super }}
        
        {# ##### offset window position for anchor to take navbar into account ##### #}
        <script type="text/javascript">
            // doesn't seem to work : source : https://github.com/twitter/bootstrap/issues/1768

    	    // var shiftWindow = function() { scrollBy(0, -50) };
    	    // if (location.hash) shiftWindow();
    	    // window.addEventListener("hashchange", shiftWindow);
        </script>
        {# ##### End of offset window position for anchor to take navbar into account ##### #}
    {% endblock %}
{% endcomment %}
