{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "How to contribute?" %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/get_started.css">
{% endblock %}


{% block body %}

<img src="{% static 'img/arrows_top_left.png' %}" type="image/png" style="position: absolute; top:+760px; left:+120px; opacity: 0.5; z-index: -1;"> 
<img src="{% static 'img/arrows_top_right.png' %}" type="image/png" style="position: absolute; top:+760px; right:+165px; opacity: 0.5; z-index: -1;"> 

<div class="row">
    <div class="span4 offset4 well" style="text-align: center;">
        <h1>{% trans "How to get <em>started</em>?" %}</h1>
    </div>
</div>

<br><br><br>

<br><br>

<br><br>

<br><br>
<div class="row">
    <div class="span4">
        <center><a href="{% url 'home' %}" class="btn btn-large btn-block btn-primary" style="display: block; width: 300px; padding: 19px 24px; margin-bottom: 27px; font-size: 30px; line-height: 1; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">Explore</a></center>
    </div>
    <div class="span4">
        <center><a href="{% url 'item_create' 'question' %}?fields=add_items" class="btn btn-large btn-block btn-primary" style="display: block; width: 300px; padding: 19px 24px; margin-bottom: 27px; font-size: 30px; line-height: 1; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">Ask a question</a></center>
    </div>
    <div class="span4">
        <center><a href="{% url 'item_create' 'item' %}" class="btn btn-large btn-block btn-primary" style="display: block; width: 300px; padding: 19px 24px; margin-bottom: 27px; font-size: 30px; line-height: 1; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">Add a product</a></center>
    </div>
</div>

<br><br>
<br><br>
<p class="lead" style="text-align: right;"> ... Or get to know more NewCo <br><i class="icon-arrow-down"></i></p>
<br><br>
<br><br>

<br><br>

<br><br>
<br><br>

<br><br>

<br><br><br><br>

<br><br>

<br><br>




<header class="jumbotron subhead">
    <div class="row">
        <div class="span6 offset3">
            <center><h1 style="line-height: 45px;"><i>{% trans "Comment est structuré NewCo ?" %}</i></h1>
            <br>
            <p class="lead muted"></p></center>
        </div>

    </div>
</header>


<div class="row">
    <div class="span6">
        <div id="info" class="well well-large"><br><h1 style="text-align: center; font-size: 50px;"><em>L'espace public</em>
            </h1><br>
            <p style="color:#CCCCCC; font-size:14px;">
                <div id="text_inf" style="opacity:1">
                    <p class="lead"><i class="icon-shopping-cart" style="margin-right: 3px"></i>Les informations produit ? C'est par ici, passez par la page d'<a href="">accueil</a> ou le champs de recherche !</p>
                    <p><i class="icon-star"></i> Ici, vous verrez la même chose que chaque visiteur, c'est la partie que partage tout le monde.</p>
                </div>
            </p>
        </div></br>

    </div>
    <div class="span6">
        <div id="contribute" class="well well-large"><br><h1 style="text-align: center; font-size: 50px;"><em>L'espace personnel</em>
            </h1><br>
            <p style="color:#CCCCCC; font-size:14px;">
                <div id="text_contribut" style="opacity:1">
                    <p class="lead"><i class="icon-home" style="margin-right: 3px"></i>Les pages rien que pour vous ? Votre sélection de flux, vos contributions, votre profil... c'est ici !</p>

                    <p><i class="icon-star"></i> Ici, c'est votre espace dédié, seul vous y avez accès. On vous propose le plus de personnalisation et d'outils possibles pour organiser <b>vos</b> informations tel que <b>vous</b> le souhaitez.</p>

                </div>
            </p>
        </div></br>
    </div>
</div>

<br><br>

<br><br>

<br><br>


<br><br><br>

<header class="jumbotron subhead">
    <div class="row">
        <div class="span8 offset2">
            <center><h1><i>{% trans "Why NewCo?" %}</i></h1>
            <br>
            <p class="lead muted">NewCo vous donne le pouvoir de mieux acheter. Comment ? En vous proposant de vous informer et de partager vos connaissances. {# Why NewCo? => provide you the tools to buy better, and share your knowledge with others. => sur la page d'accueil ? ... ou pas mettre ces titres ? #}</p></center>
        </div>

    </div>
</header>


<div class="row">
    <div class="span6">
        <div class="well well-large" id="info"><h1 style="text-align: center; font-size: 50px;"><em>S'informer</em>
            </h1><br>
            <p style="color:#CCCCCC; font-size:14px;">
                <div id="text_inf" style="opacity:1">
                    <p class="lead"><i class="icon-shopping-cart" style="margin-right: 3px"></i>Pour vous informer sur les produits, vous pouvez :
                    <ul style="font-size: 20px; font-weight: 200;">
                        <li>naviguer dans l'espace public<br><br></li> 
                        <li>utiliser les outils de votre espace personnel{#: abonnements à des produits, tags ou personnes, outils de recherche, de prise de notes...#}</li>
                    </ul></p>
                </div>
            </p>
        </div></br>
    </div>
    <div class="span6">
        <div class="well well-large" id="contribute"><h1 style="text-align: center; font-size: 50px;"><em>Partager ses connaissances{#Contribuer en s'amusant#}</em>
            </h1><br>
            <p style="color:#CCCCCC; font-size:14px;">
                <div id="text_contribut" style="opacity:1">
                    <p class="lead"><i class="icon-home" style="margin-right: 3px"></i>Pour partager vos connaissances, contribuez pendant votre navigation dans l'espace public, ou rendez-vous dans votre <b>centre de contribution</b>.
                    <br><br><i class="icon-pencil" style="margin-right: 3px"></i>Pour gagner des points de reputation, créez du contenu. Vous gagnerez des points en fonction des votes des autres utlisateurs.
                    <br><br><i class="icon-star" style="margin-right: 3px"></i><b>NEW:</b> Nous venons de mettre en place un outil pour creer <b>simplement</b> les liens d'affiliation vers nos sites partenaires ! <a href="{% url 'item_create' 'item' %}">Check this out</a> right now !</p>
                </div>
            </p>
        </div>
        </br>
    </div>
</div>

{% endblock %}
