{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "Get started" %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/get_started.css">

<style type="text/css">


.call2action_btn{
    width: 265px;
    display: block;
    padding: 19px 24px;
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

    /* Large desktop */
    @media (min-width: 1200px) {
        .call2action_btn{
            width: 300px;
        }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
        .call2action_btn{
            width: 220px;
            padding: 19px 5px;
        }
    }

    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
        .call2action_btn{
            width: 250px;
        }
    }

    /* Landscape phones and down */
    @media (max-width: 480px) {
        .call2action_btn{
            width: 250px;
        }
    }

</style>

{% endblock %}


{% block body %}

<div class="row">
    <div class="hero-unit{#span10 offset1 well#}" style="text-align: center;">
        <h1>{% trans "Get <em style='color: #46a546 /*Bootstrap green*/'>started</em>" %}</h1>
    </div>
</div>

<br><br>

<br><br>
<div class="row">
    <div class="span4">
        <center><a href="{% url 'home' %}" class="btn btn-large btn-block btn-primary call2action_btn" id="mixpanel_explore_gs">{% trans "Explore" %}</a></center>
    </div>
    <div class="span4">
        <center><a href="{% url 'item_create' 'question' %}?fields=add_items" class="btn btn-large btn-block btn-primary call2action_btn" id="mixpanel_question_gs">{% trans "Ask a question" %}</a></center>
    </div>
    <div class="span4">
        <center><a href="{% url 'item_create' 'item' %}" class="btn btn-large btn-block btn-primary call2action_btn" id="mixpanel_product_gs">{% trans "Add a product" %}</a></center>
    </div>
</div>

<br><br>

<br><br>
<br><br>

<p class="lead" style="text-align: right;"><a href="#how_it_works" class="black"> ... {% trans "Or get to know more NewCo" %} <br><i class="icon-arrow-down"></i></a></p>

<br><br>
<br><br>

<br><br>
<br><br>

<br><br>
<br><br>

<br><br>
<br><br>

<br><br>
<br><br>

<br><br>
<br><br>




<header class="jumbotron subhead" id="how_it_works" style="border-top:250px solid transparent;">
    <div class="row">
        <div class="span6 offset3">
            <center><h1 style="line-height: 45px;"><i>{% trans "How it works?" %}</i></h1>
            <br>
            <p class="lead muted"></p></center>
        </div>

    </div>
</header>



    <div class="row">
        <div class="span6">
            <div id="container-for-relative" style="position: relative;">
                <img src="{% static 'img/arrows_top_left.png' %}" type="image/png" style="position: absolute; top:-270px; left:+60px; opacity: 0.2; z-index: +1;">
                <div id="info" class="well well-large Struct_col"><br><h1 style="text-align: center; font-size: 50px;"><em>{% trans "Public space" %}</em>
                    </h1><br>
                    <p style="color:#CCCCCC; font-size:14px;">
                        <div id="text_inf" style="opacity:1">
                            <p class="lead"><i class="icon-shopping-cart" style="margin-right: 3px; vertical-align: middle;"></i>{% url 'home' as url_home %}{% blocktrans %}Product information? Go this way, Explore through the <a href="{{ url_home }}">homepage</a> or the search bar!{% endblocktrans %}</p>
                            <p><i class="icon-star" style=" vertical-align: middle;"></i> {% trans "Here, you will see what each visitor can see. This is the part of the website shared by everyone." %}</p>
                        </div>
                    </p>
            </div></br>
            </div>

        </div>
        <div class="span6">
            <div id="container-for-relative" style="position: relative;">
            <img src="{% static 'img/arrows_top_right.png' %}" type="image/png" style="position: absolute; top:-270px; right:+135px; opacity: 0.2; z-index: +1;">
            <div id="contribute" class="well well-large Struct_col"><br><h1 style="text-align: center; font-size: 50px;"><em>{% trans "Personal space" %}</em>
                </h1><br>
                <p style="color:#CCCCCC; font-size:14px;">
                    <div id="text_contribut" style="opacity:1">
                        <p class="lead"><i class="icon-home" style="margin-right: 3px; vertical-align: middle;"></i>{% trans "Exclusive Pages? Your newsfeed, your drafts, your profile... over here!" %}</p>

                        <p><i class="icon-star" style=" vertical-align: middle;"></i> {% trans "This is your exclusive space. We offer you the tools to display the information as <b>you</b> want to see it." %}</p>

                    </div>
                </p>
            </div></br>
            </div>
        </div>
    </div>


<p class="lead" style="text-align: right;"><a href="#why_newco" class="black"> ... {% trans "tell me more!" %} <br><i class="icon-arrow-down"></i></a></p>

<br><br>
<br><br>

<br><br>
<br><br>

<br><br>
<br><br>


<header class="jumbotron subhead" id="why_newco" style="border-top:90px solid transparent;">
    <div class="row">
        <div class="span8 offset2">
            <center><h1><i><a href="{% url 'faq' %}#why_newco" class="black">{% trans "Why NewCo?" %}</a></i></h1>
            <br>
            <p class="lead muted">{% trans "NewCo empowers you to buy better.<br>How? We enable you to get the information you look for, and share your knowledge back to the community." %}</p></center>
        </div>

    </div>
</header>


<div class="row">
    <div class="span6">
        <div class="well well-large WhyNC-col" id="info"><h1 style="text-align: center; font-size: 50px;"><em>{% trans "Get information" %}{# Learn / Get to know #}</em>
            </h1><br>
            <p style="color:#CCCCCC; font-size:14px;">
                <div id="text_inf" style="opacity:1">
                    <p class="lead"><i class="icon-shopping-cart" style="margin-right: 3px; vertical-align: middle;"></i>{% trans "To get some information about products:" %}
                    <ul style="font-size: 20px; font-weight: 200;">
                        <li>{% trans "browse the public area" %}<br><br></li>
                        <li>{% trans "use the tools available in your private space" %}{#: abonnements à des produits, tags ou personnes, outils de recherche, de prise de notes...#}</li>
                    </ul></p>
                </div>
            </p>
        </div></br>
    </div>
    <div class="span6">
        <div class="well well-large WhyNC-col" id="contribute"><h1 style="text-align: center; font-size: 50px;"><em>{% trans "Share knowledge" %}{# Share your knowledge #}</em>
            </h1><br>
            <p style="color:#CCCCCC; font-size:14px;">
                <div id="text_contribut" style="opacity:1">
                    <p class="lead"><i class="icon-home" style="margin-right: 3px; vertical-align: middle;"></i>{% url 'dash' 'contribution' as url_contrib %}{% blocktrans %}You can contribute while browsing the public area. Or visit the <b><a href="{{ url_contrib }}" class="black">contribution center</a></b>.{% endblocktrans %}
                    <br><br><i class="icon-pencil" style="margin-right: 3px; vertical-align: middle;"></i>{% trans "Build your reputation: create quality content and you will get points from other users votes." %}</p>
                    <br><p><i class="icon-star" style="margin-right: 3px; vertical-align: middle;"></i>{% trans "<b>NEW:</b> We just set up a tool to create <b>easily</b> affiliation links towards our partners!" %} <a href="{% url 'item_create' 'item' %}">{% trans "<i>Check this out</i></a>!" %}</p>
                </div>
            </p>
        </div>
        </br>
    </div>
</div>

{% endblock %}


{% block extra_script %}
    {{ block.super }}

    {# ##### Equalize columns height ##### #}
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript">
        // credit: comes from:http://stackoverflow.com/questions/9143971/using-twitter-bootstrap-2-0-how-to-make-equal-column-heights
        $('.WhyNC-col').height(function () {
            var h = _.max($(this).closest('.row').find('.WhyNC-col'), function (elem, index, list) {
                return $(elem).height();
            });
            return $(h).height();
        });

        $('.Struct_col').height(function () {
            var h = _.max($(this).closest('.row').find('.Struct_col'), function (elem, index, list) {
                return $(elem).height();
            });
            return $(h).height();
        });

        // $(window).load(function(){
        //     var new_css = {
        //       'position' : 'absolute',
        //       'bottom' : '',
        //     }
        //     $('#know_more').css(new_css);
        //     //$('#know_more').css("position","absolute");
        //     //$('#know_more').html("TEXT TEST");
        //     //alert("test");
        // });
    </script>
    {# ##### End of Equalize columns height ##### #}
{% endblock %}

