{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "How to contribute?" %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/get_started.css">
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready( function() {
    var info = $('#info');
    var text_info = $('#text_info');
    var contribute = $('#contribute');
    var text_contribute = $('#text_contribute');
    var mouse_info = $('#mouse_info');
    var mouse_contribute = $('#mouse_contribute');

    info.mouseover(function () {
        text_info.css("opacity","1")
        mouse_info.css("opacity","0")
    })
    info.mouseout(function () {
        text_info.css("opacity","0")
        mouse_info.css("opacity","1")
    })
    contribute.mouseover(function () {
        text_contribute.css("opacity","1")
        mouse_contribute.css("opacity","0")
    })
    contribute.mouseout(function () {
        text_contribute.css("opacity","0")
        mouse_contribute.css("opacity","1")
    })
});
</script>

{% endblock %}

{% block body %}

<div class="row">
    <div class="span4" align="center">
        <br><br><br>
        <span id="get_started_left" style="margin-left: 80px">
            <div style=" width:90px;background-position: 0px 0px"></div>
        </span>
    </div>
    <div class="span4" style="text-align:center;">
    <h1>{% trans "How to get started?" %}</h1>
    </div>
    <div class="span4" align="center">
        <br><br><br>
        <span id="get_started_right" style="margin-right: 80px">
            <div style=" width:90px;background-position: 0px 0px"></div>
        </span>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="span6">
        <div id="info"><h2 style="text-align: center">S'informer
            <div id="mouse_inf" style="color:#CCCCCC; font-size:14px; opacity:0">
                Pass your mouse here
            </div></h2>
            <p style="color:#CCCCCC; font-size:14px;">
                <div id="text_inf" style="opacity:1">
                    <i class="icon-shopping-cart" style="margin-right: 3px"></i>Pour trouver des informations sur les produits, commencez votre parcours acheteur sur la <b>page d'accueil NewCo</b>.
                    <br><br>A partir de la, plusieurs options s'offriront a vous pour votre navigation entre les produits et les questions relatives a ces produits.
                    <br><br><i class="icon-question-sign" style="margin-right: 3px"></i><i>Chaque question a une page dediee, pour <b>faciliter</b> la recherche d'une information precise et encourager l'apport de bon contenu.</i>
                </div>
            </p>
        </div></br>
    </div>
    <div class="span6">
        <div id="contribute"><h2 style="text-align: center">Contribuer en s'amusant
            <div id="mouse_contribut" style="color:#CCCCCC; font-size:14px; opacity:0">
                Pass your mouse here
            </div></h2>
            <p style="color:#CCCCCC; font-size:14px;">
                <div id="text_contribut" style="opacity:1">
                    <i class="icon-home" style="margin-right: 3px"></i>Pour commencer votre parcours contributeur, rendez-vous sur votre <b>Dashboard</b>, qui vous resumera toutes les actions a realiser.
                    <br><br><i class="icon-pencil" style="margin-right: 3px"></i>Vous avez ainsi la possibilite d'accumuler des points de reputation en apportant du contenu qui sera soumis aux votes des autres utlisateurs.
                    <br><br><i class="icon-star" style="margin-right: 3px"></i><b>NEW:</b> Nous venons de mettre en place un outil pour creer <b>simplement</b> les liens d'affiliation vers nos sites partenaires! <a href="{% url item_create "item" %}">Check this out</a> right now !
                </div>
            </p>
        </div></br>
    </div>
</div>
{% endblock %}
