{% load i18n %}

<html>
<head><title>{{ message_subject }}</title></head>

<body>
	
<table style="width: 565px; ">
	<tr style="height: 50px">
		<td style="width: 65px; vertical-align: top;">
			<a href="http://www.newco-project.fr/"><h3>NewCo</h3></a>
        </td>
        <td style="width: 500px; vertical-align: top;background-color: #e8e8e8">
		    <h4><a href="{{ answerer_url }}">{{ answerer }}</a> answered your question <a href="{{ question_url }}">"{{ question_object }}"</a>:</h4>
		    <br>About the product <a href="{{ product_url }}">{{ product_object }}</a>
		    <br><br>
	    </td>
    </tr>
    <tr>
   		<td style="width: 65px; ">
            &nbsp;
        </td>
        <td style="width:500px; padding: 5px 0 10px 10px; vertical-align: top;background-color: #f2f2f2">
	    <br><div style="font-family:verdana,serif;">{% autoescape off %}{{ answer_object }}{% endautoescape %}</div>
	    <br><br>Thanks.<br>The NewCo Project team
	    </td>
    </tr>
</table>
<table style="width: 565px;>
    <tr>
    	<td style="width: 5px; ">
            &nbsp;
        </td>
    	<td style="width:560px; padding: 10px 0 0 10px; border-top: 1px = solid #EAEAEA">
	    <br><br><hr><small>{% blocktrans %}
            This email has been sent because you allowed it in your account configuration. If you want to change it, please go <a href="{{ settings_url }}" >here</a> (available soon).
            {% endblocktrans %}
	    </small>
	    </td>
    </tr>
</table>
</body></html>
