{% load i18n %}

<html>
<head><title>{{ message_subject }}</title></head>

<body>
	
<table style="width: 565px; ">
	<tr style="height: 50px">
		<td style="width: 65px; vertical-align: top;">
			<a href="http://www.newco-project.fr/"><h3>NewCo</h3></a>
        </td>
        <td style="width: 500px; vertical-align: top;background-color: #e8e8e8">
		    <h4><a href="{{ answerer_url }}">{{ answerer }}</a> a repondu a votre question <a href="{{ question_url }}">"{{ question_object }}"</a>:</h4>
	    </td>
    </tr>
    <tr>
   		<td style="width: 65px; ">
            &nbsp;
        </td>
        <td style="width:500px; padding: 5px 0 10px 10px; vertical-align: top;background-color: #f2f2f2">
	    <br><div style="font-family:verdana,serif;">{{ answer_object }}</div>
	    <br><br>Thanks.<br>The NewCo Project team
	    </td>
    </tr>
</table>
<table style="width: 565px;>
    <tr>
    	<td style="width: 5px; ">
            &nbsp;
        </td>
    	<td style="width:560px; padding: 10px 0 0 10px; border-top: 1px = solid #EAEAEA">
	    <br><br><hr><small>Cet email vous a ete envoye parce que cette option est activee dans votre profil.
	    Pour changer votre configuration cliquez <a href="{{ answeree_url }}" >ici</a> (option bientot disponible).
	    </small>
	    </td>
    </tr>
</table>
</body></html>
