{% load i18n %}
{% load url from future %}

<div class="span4 well well-small box">
  <h3>
    <span class="pull-right" style="position: relative; top:-10px; right: -6px;"><button class="btn btn-mini" data-toggle="collapse" data-target="#{{ box.name }}_well"><i rel="expand_btn_{{ box.name }}" class="icon-minus"></i></button></span>
    <a href="{{ box.page_url }}" class="black">{{ box.title }}</a>
  </h3>
  <p class="muted">{% autoescape off %}{{ box.subtitle }}{% endautoescape %}</p>
  <br>
  <div id="{{ box.name }}_well" rel="collapse_div" class="collapse in">
    {% include "items/feed_display/_content_list.html" with contents=box.feed display="mini_feed" empty_msg=box.empty_msg %}
  </div>
</div>