{% load i18n %}
{% load account_tags %}
{% load content_utils %}

{% url profile_list as profile_list_url %}
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}
    
    {% if is_me %}
    
    {% endif %}
<div class="row tabbable tabs-left">
{#    <div class="span2">#}
        <ul class="nav nav-tabs">
            
            <li{% if demo_feed %} class="active"{% endif %}><a href="/profiles/profile2/9/seb/feed" rel="tooltip-right" title="{% trans "XXXX" %}">{% trans "My feed / What I follow" %}</a></li>
            <li class="divider"></li>
            <li class="nav-header">{% trans "Contributing" %}</li>
            <li{% if demo_dashboard_contrib %} class="active"{% endif %}><a href="/profiles/profile2/9/seb/dashboard_contrib">{% trans "Dashboard contributions" %}</a></li>
            <li{% if demo_collaboration %} class="active"{% endif %}><a href="/profiles/profile2/9/seb/collaboration">{% trans "Collaborations / Teamwork / coaching" %}</a></li>
            <li{% if demo_draft %} class="active"{% endif %}><a rel="tooltip-right" title="{% trans "'Drafts' contains your un-published contributions" %}" href="{# {{ user.get_absolute_url }} #}/profiles/profile2/9/seb/draft">{% trans "Drafts" %}</a></li>
            <li{% if demo_allcontrib %} class="active"{% endif %}><a href="/profiles/profile2/9/seb/allcontrib"  rel="tooltip-right" title="{% user_display page_user as page_user_display %}{% blocktrans %}Only {{ page_user_display }} can view this{% endblocktrans %}">{% trans "All my contributions" %}</a></li>
            <li class="divider"></li>
            <li class="nav-header">{% trans "Shopping" %}</li>
            <li{% if demo_shopping_notes %} class="active"{% endif %}{# class="disabled"#}><a href="/profiles/profile2/9/seb/shopping_notes" rel="tooltip-right" title="{% trans "Available soon !" %}">{% trans "Shopping notes / My purchase lists / bookmarks / Decisions works /" %}</a></li>
            <li{% if demo_purchase_history %} class="active"{% endif %}><a href="/profiles/profile2/9/seb/purchase_history" rel="tooltip-right" title="{% trans "We are working on it !" %}">{% trans "Purchase history" %}</a></li>
            <li class="divider"></li>
            <li class="nav-header">{% trans "Profiles" %}</li>
            <li{% if demo_dashboard %} class="active"{% endif %}><a rel="tooltip-right" title="{% trans "Exactly as others see it ! Except the 'edit' button :P" %}" href="{# {{ user.get_absolute_url }} #}/profiles/profile2/9/seb">{% profile_pic request.user 18 %} {% user_display request.user %}</a></li>
            <li><a href="{{ profile_list_url }}">{% trans "All Profiles" %}</a></li>
            <li>
                <form action="" method="POST" class="form-horizontal">{% csrf_token %}
                    <input name="pf_pick" type="text" autocomplete="off" placeholder="{% trans 'Search user' %}" class="span2" data-provide="typeahead" data-items="6" data-source="{{ data_source_profile }}">
                </form>
            </li>
            <li class="divider"></li>
            <li><a href="#">{% trans "View as others see it" %}</a></li>
        </ul>
{#    </div>#}
</div>
    
