{% load i18n %}
{% load account_tags %}
{% load content_utils %}
{% load url from future %}

{% url 'profile_list' as profile_list_url %}
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}


<div class="row">
    <ul class="nav nav-list">
        
        <li{% if on_dashboard %} class="active"{% endif %}><a href="{% url 'dashboard' %}" rel="tooltip-right" title="{% trans "Monitor all that concerns you !" %}"><b>{% trans "Dashboard" %}</b></a></li>
        <li class="divider"></li>
        <li{% if on_feed %} class="active"{% endif %}><a href="{% url 'db_feed' %}" rel="tooltip-right" title="{% trans "Activity from what you follow" %}">{% trans "Your feed" %}</a></li>
        <li class="divider"></li>

        <li class="nav-header">{% trans "Contributing" %}</li>
        <li{% if on_contrib %} class="active"{% endif %}><a href="{% url 'contrib' %}" rel="tooltip-right" title="{% trans "If you want to use your time and knowledge wisely, that's here !" %}">{% trans "Contribution center" %}</a></li>
        <li{% if on_collaboration %} class="active"{% endif %}><a href="#{#{% url 'collaboration' %}#}" style="color: #999; text-decoration: none;" rel="tooltip-right" title="{% trans "Don't bother me, I'm working on it !" %}">{% trans "Collaborations / Teamwork" %}</a></li>
        <li{% if on_drafts %} class="active"{% endif %}><a rel="tooltip-right" title="{% trans "'Drafts' contains your un-published contributions" %}" href="{% url 'drafts' %}">{% trans "Drafts" %}</a></li>
        <li class="divider"></li>
        <li{% if on_all_contrib %} class="active"{% endif %}><a href="{% url 'all_contrib' %}" rel="tooltip-right" title="{# {% user_display page_user as page_user_display %} #}{% blocktrans %}Where to go to find any of your input{% endblocktrans %}">{% trans "All my contributions" %}</a></li>
        <li class="divider"></li>

        <li class="nav-header">{% trans "Shopping" %}</li>
        <li{% if on_shop_notes %} class="active"{% endif %} class="disabled"><a href="#{#{% url 'shop_notes' %}#}" style="color: #999; text-decoration: none;" rel="tooltip-right" title="{% trans "Available soon !" %}">{% trans "Shopping notes" %}</a></li>
        <li{% if on_purch_histo %} class="active"{% endif %}><a href="#{#{% url 'purch_histo' %}#}" style="color: #999; text-decoration: none;" rel="tooltip-right" title="{% trans "We are working on it !" %}">{% trans "Purchase history" %}</a></li>
        <li class="divider"></li>

        <li class="nav-header">{% trans "Profiles" %}</li>
{#            <li{% if is_me and is_profile_page %} class="active"{% endif %}><a rel="tooltip-right" title="{% trans "Exactly as others see it ! Except the 'edit' button :P" %}" href="{% url 'demo_profile' %}">{% profile_pic request.user 18 %} {% user_display request.user %} (demo)</a></li> #}

        <li{% if is_me and is_profile_page %} class="active"{% endif %}><a rel="tooltip-right" title="{% trans "Exactly as others see it ! Except the 'edit' button :P" %}" href="{{ user.get_absolute_url }}">{% profile_pic request.user 18 %} {% user_display request.user %}</a></li>
        {% if not is_me and is_profile_page %}<li class="active"><b>{% trans "User profile:" %}</b><br><a rel="tooltip-right" title="{% trans "Exactly as others see it ! Except the 'edit' button :P" %}" href="{{ profile.user.get_absolute_url }}">{% profile_pic profile.user 18 %} {% user_display profile.user %}</a></li>{% endif %}
        <li>
            <form action="" method="POST" class="form-horizontal" style="position:relative; top: 10px;">{% csrf_token %}
                <input name="pf_pick" type="text" autocomplete="off" placeholder="{% trans 'Search user' %}" class="span2" data-provide="typeahead" data-items="6" data-source="{{ data_source_profile }}">
            </form>
        </li>
        <li{% if not is_me and not is_profile_page %} class="active"{% endif %}><a href="{{ profile_list_url }}">{% trans "All Profiles" %}</a></li>
        <li class="divider"></li>
        {#<li><a href="#">{% trans "View as others see it" %}</a></li>#}
    </ul>
</div>

