{% load i18n %}
{% load account_tags %}
{% load content_utils %}
{% load url from future %}

{% url "profile_list" as profile_list_url %}

<div class="row">
  <ul class="nav nav-list">
    <li {% if page == "dashboard" %} class="active"{% endif %}><a href="{% url 'dash' %}" class="tooltip-right" title="{% trans 'Monitor all that&#39;s related to you' %}"><b>{% trans "Dashboard" %}</b></a></li>

    <li class="divider"></li>
    <li{% if page == "feed" %} class="active"{% endif %}><a href="{% url 'dash' 'feed' %}" class="tooltip-right" title="{% trans 'Activity feed based on what you follow' %}">{% trans "My newsfeed" %}</a></li>

    <li class="divider"></li>
    <li class="nav-header">{% trans "Contributing" %}</li>
    <li{% if page == "contribution" %} class="active"{% endif %}><a href="{% url 'dash' 'contribution' %}" class="tooltip-right" title="{% trans 'If you want to use your time and knowledge wisely, this is the place!' %}">{% trans "Contribution center" %}</a></li>

    <li{% if page == "draft" %} class="active"{% endif %}><a class="tooltip-right" title="{% trans '&lsquo;Drafts&rsquo; contains your unpublished contributions' %}" href="{% url 'dash' 'draft' %}">{% trans "Drafts" %}</a></li>

    <li class="divider"></li>
    <li{% if page == "all" %} class="active"{% endif %}><a href="{% url 'dash' 'all' %}" class="tooltip-right" title="{% trans 'This is where to go to find all your inputs' %}">{% trans "All my contributions" %}</a></li>


    {% comment %}
    <li{% if page == "collaboration" %} class="active"{% endif %}><a class="tooltip-right" title="{% trans 'Working on it' %}"><span class="muted">{% trans "Teamwork" %}</span></a></li>
    
    <li class="divider"></li>
    <li class="nav-header">{% trans "Shopping" %}</li>
    <li{% if page == "shopping" %} class="active"{% endif %} class="disabled"><a class="tooltip-right" title="{% trans 'We are working on it!' %}"><span class="muted">{% trans "Shopping notes" %}</span></a></li>

    <li{% if page == "purchase" %} class="active"{% endif %}><a class="tooltip-right" title="{% trans 'We are working on it!' %}"><span class="muted">{% trans "Purchase history" %}</span></a></li>
    {% endcomment %}

    <li class="divider"></li>
    <li class="nav-header">{% trans "Profiles" %}</li>

    <li{% if is_me or profile_form %} class="active"{% endif %}><a class="tooltip-right" title="{% trans 'My profile, exactly as other users see it&mdash;besides the &lsquo;Update&rsquo; button' %}" href="{{ user.get_absolute_url }}">{% profile_pic user 18 %} {% user_display user %}</a></li>
    {% if not is_me and not profile_form and profile %}<li class="active">
      <b>{% trans "User profile" %}{% trans ":" %}</b>
      <br>
      <a href="{{ profile.user.get_absolute_url }}">{% profile_pic profile.user 18 %} {% user_display profile.user %}</a>
    </li>{% endif %}
    <li class="divider"></li>
    <li{% if profiles and not profile %} class="active"{% endif %}><a href="{{ profile_list_url }}">{% trans "All Profiles" %}</a></li>
  </ul>
</div>

