{% extends "subnav_base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load staticfiles %}

{% block body_class %}{% if is_me %}profile{% endif %}{% endblock %}

{% block extra_style %}
  <link href="{{ STATIC_URL }}css/profile.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/content.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/help.css" rel="stylesheet">
{% endblock %}

{% block subnav %}{% include "dashboard/_subnav.html" %}{% endblock %}

{% block head_title %}
  {% blocktrans %}{{ USERNAME }}'s dashboard | {{ page_name }}{% endblocktrans %}
{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{% block title %}{{ page_name }}{% endblock %}</h1>
    <br>
    <p class="lead muted">{% block subtitle %}{% endblock %}</p>
  </header>

  {% block dashboard %}{% endblock %}

  {% if is_paginated %}{% paginate %}{% endif %}

  {% include "help/_ask_modal.html" %}
{% endblock %}

{% block extra_script %}
  <script src="{{ STATIC_URL }}js/help.js"></script>
  <script>
    $(function() {
        if ( '{{ ask_form.errors }}' ) { $("#modal-ask").modal("show"); }
    });
  </script>
{% endblock %}