{% extends "dashboard/base.html" %}

{% load i18n %}

{% block subtitle %}{% trans "Here is where we provide you with all the tools we have [add popover:'propose a new one!'] to help you contribute." %}{% endblock %}

{% block dashboard %}
    <div class="row">
        <div class="span9 well">
            <h3>Find where to contribute:</h3>
            <p>Liste des choses "qu'il se passe sur le site" qui correspondent à notre séniorité (petite choses au début, grosse contributions plus tard), et qui sont dans notre sphère de compétences (=tags de compétences)</p>
            <p><em>On veut donner à manger à ceux qui ont envie de contribuer, de gagner des points ! "Je veux contribuer, dites moi où !"</em></p>
            <blockquote>
                <p><small>"You may be able to help :" list of questions and articles that are in you <b>scope of competencies...</b></small></p>
                <p><small> ... where you are <b>moderator</b> / where you have <b>super-user</b> rights</small></p>
            </blockquote>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="span9 well">
            <h3>Maybe you could ... <small>Proposition de sujets proche de tes "tags de competence" ou tu pourrais contribuer</small></h3>
            <p>On veut inciter a contribuer surtout !</p>
            <p><em>On veut donner à manger à ceux qui ont envie de contribuer, de gagner des points mais ne savent pas par où commencer.</em></p>
            <blockquote>
                <p><small>"You may be able to help :" list of questions and articles that are in you <b>scope of competencies...</b></small></p>
                <p><small> ... where you are <b>moderator</b> / where you have <b>super-user</b> rights</small></p>
            </blockquote>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span4 well">
            <h3>Last reputation points earned: <small>xxx</small></h3>
            <p>Tableau de bord de tes points gagnes</p>
            <blockquote>
                <p><small>StackOverflow fait ca tres bien !</small></p>
                <p><small>Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret</small></p>
                <p><small>Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret</small></p>
            </blockquote>
        </div>
        <div class="span4 well">
            <p class="lead">Badges earned</p>
            XXXX
        </div>
    </div>
    <br>


    <hr>
    <h3>Activity on your domains of skills:</h3>
    <p>Latest activity on your skills tags... Maybe you'd like to contribute?</p>

    <div class="span7">
        {% include "profiles/_profile_content_list.html" with contents=object_list %}
    </div>
</div>
{% endblock %}
