{% extends "dashboard/dashboard_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load follow_tags %}
{% load content_utils %}

{% block body_class %}{% if is_me %}profile{% endif %}{% endblock %}



{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Profile for {{ page_user_display }}{% endblocktrans %}{% endblock %}


{% block body %}{% if is_me %}{# Should not be able to reach this page if it's not your profile, but if you do, page won't be displayed #}
<div class="span 10">
    {% user_display page_user as page_user_display %}
    <header class="page-header" id="overview">
        <h1>{% trans "All contributions" %}<br><small>{% trans "Looking for one of your contributions? Here are the tools to help you find!" %}</small></h1>
    </header>
    
    <br>
    
    <div class="row">
        <div class="span7">
            <form action="#" method="POST" class="well">{% csrf_token %}
                <div class="input-append"><input type="text" name="item_search" id="main_autocomplete" class="input-xlarge uneditable-input" placeholder=" {% trans "Search in all my contributions - Not functional yet" %}" style="margin: 0 auto; height:30px; width:400px; font-size:16px; font-weight:bold;"/><button class="btn disabled" type="submit" style="height:40px; "><h3> <i class="icon-search"></i> </h3></button></div>
            </form>
        </div>
    </div>
    
    </br>
    <hr>
    {% include "profiles/_profile_content_list.html" with contents=all_contrib_feed %}
</div>
{% endif %}{% endblock %}
