{% extends "dashboard/dashboard_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load follow_tags %}
{% load content_utils %}



{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Dashboard of {{ page_user_display }} | All contributions{% endblocktrans %}{% endblock %}


{% block body %}{% if is_me %}{# Should not be able to reach this page if it's not your profile, but if you do, page won't be displayed #}
<div class="span9">
    {% user_display page_user as page_user_display %}
    <header class="page-header" id="overview">
        <h1>{% trans "Contribution center" %}<br><small>{% trans "Here is where we provide you with all the tools we have [add popover:'propose a new one!'] to help you contribute." %}{#<br>On veut inciter a contribuer ici !#}</small></h1>
        {#<small>La page pourrait aussi s'appeler : "Contribuer"</small>#}
    </header>
{#    <p><small>Est ce que c'est ici qu'on met les outils pour aider un "super user" a jouer son role ?</small></p> #}
    <br>
    <br>
    <div class="row">
        <div class="span9 well">
            <h3>Find where to contribute:</h3>
            <p>Liste des choses "qu'il se passe sur le site" qui correspondent à notre séniorité (petite choses au début, grosse contributions plus tard), et qui sont dans notre sphère de compétences (=tags de compétences)</p>
            <p><em>On veut donner à manger à ceux qui ont envie de contribuer, de gagner des points ! "Je veux contribuer, dites moi où !"</em></p>
            <blockquote>
                <p><small>"You may be able to help :" list of questions and articles that are in you <b>scope of competencies...</b></small></p>
                <p><small> ... where you are <b>moderator</b> / where you have <b>super-user</b> rights</small></p>
            </blockquote>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="span9 well">
            <h3>Maybe you could ... <small>Proposition de sujets proche de tes "tags de competence" ou tu pourrais contribuer</small></h3>
            <p>On veut inciter a contribuer surtout !</p>
            <p><em>On veut donner à manger à ceux qui ont envie de contribuer, de gagner des points mais ne savent pas par où commencer.</em></p>
            <blockquote>
                <p><small>"You may be able to help :" list of questions and articles that are in you <b>scope of competencies...</b></small></p>
                <p><small> ... where you are <b>moderator</b> / where you have <b>super-user</b> rights</small></p>
            </blockquote>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span4 well">
            <h3>Last reputation points earned: <small>xxx</small></h3>
            <p>Tableau de bord de tes points gagnes</p>
            <blockquote>
                <p><small>StackOverflow fait ca tres bien !</small></p>
                <p><small>Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret</small></p>
                <p><small>Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret</small></p>
            </blockquote>
        </div>
        <div class="span4 well pull-right">
            <p class="lead">Badges earned</p>
            XXXX
        </div>
    </div>
    <div class="row">
        <div class="span4 well">
            <h3>Tips / ...: <small>xxx</small></h3>
            <p>Vous pouvez gagner vos premiers points en faisant ... XXX ... par exemple ! <b>X Je connais, ne plus me montrer celle là !</b></p>
            <blockquote>
                <p><small>StackOverflow fait ca tres bien !</small></p>
                <p><small>Update your profile to inspire more confidence! More info about you helps people build confidence in you.</small></p>
                <p><small>Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret Lorem ipsum doloret</small></p>
            </blockquote>
        </div>
        <div class="span4 well pull-right">
            <p class="lead">You have earned 4 points since your last visit ! Here is where :</p>
            XXXX
        </div>
    </div>
    <br>


    <hr>
    <h3>Activity on your domains of skills:</h3>
    <p>Latest activity on your skills tags... Maybe you'd like to contribute?</p>

    {% include "profiles/_profile_content_list.html" with contents=contrib_feed %}
</div>
{% endif %}{% endblock %}
