{% extends "dashboard/dashboard_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load follow_tags %}
{% load content_utils %}


{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Dashboard of {{ page_user_display }} | Feed{% endblocktrans %}{% endblock %}


{% block body %}{% if is_me %}{# Should not be able to reach this page if it's not your profile, but if you do, page won't be displayed #}
<div class="span 10">
    {% user_display page_user as page_user_display %}
    <header class="page-header" id="overview">
        <h1>{% trans "Follow feed" %}<br><small>{% trans "Activity from what you follow" %}</small></h1>
    </header>

    <br>
    <div class="row">
        <div class="span7">
                {% include "profiles/_profile_content_list.html" with contents=newsfeed %}
        </div>
        <div class="span2 well">
            <h5>Who to follow ...<br><br>Products you may like...<br><br>Tags you may like ...</h5>
            <br> XXX<br> XXX
        </div>
    </div>
</div>
{% endif %}{% endblock %}
