{% extends "dashboard/base.html" %}

{% load url from future %}
{% load i18n %}
{% load follow %}

{% block subnav %}
  {{ block.super }}

  <br>
  <br>
  
  <h5>{% trans "Who to follow?" %}</h5>
  {% for thumb_user in wtf.users %}{% include "profiles/_profile_item.html" with profile=thumb_user.get_profile disp_follow="True" user=user request=request csrf_token=csrf_token only %}<br>{% endfor %}

  {% comment %}

  <h5>{% trans "Products you may like" %}{% trans ":" %}</h5>
  {% for item in wtf.items %}{% include "items/_product_display.html" with object=item display="thumbnail" disp_follow="True" user=user request=request csrf_token=csrf_token only %}{% endfor %}

  {% endcomment %}
{% endblock %}

{% block subtitle %}{% trans "Activity from what you follow." %}{% endblock %}

{% block dashboard %}
  {% include "items/feed_display/_content_list.html" with contents=object_list display="list" options="context,parents" display_a="no" %}
{% endblock %}
