{% extends "dashboard/base.html" %}

{% load url from future %}
{% load i18n %}
{% load follow_utils %}

{% block subnav %}
    {{ block.super }}

    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="well well-small pull-right nc-right-col-well">
            <h5>{% trans "Who to follow?" %} (<a href="{% url 'profile_list' %}">{% trans "View all" %}</a>)</h5>
            <div id="profiles_list2">{% for thumb_user in wtf.users %}{% include "profiles/_profile_item.html" with profile=thumb_user.get_profile disp_follow="True" %}<br>{% endfor %}</div>
        </div>
    </div>
    <div class="row">
        <div class="well well-small pull-right nc-right-col-well">
            <h5>{% trans "Products you may like" %}{% trans ":" %}</h5>
            <div>{% for item in wtf.items %}{% include "items/feed_display/_thumbnail_frame.html" with object=item disp_follow="True" user=user request=request only %}{% endfor %}</div>
        </div>
    </div>
{% endblock %}

{% block subtitle %}{% trans "Activity from what you follow." %}{% endblock %}

{% block dashboard %}
    {% url "profile_list" as profile_list_url %}
    <div class="row">
        <div class="span9 offset1">{% include "items/feed_display/_content_list.html" with contents=object_list scores=scores display="text" display_ctx="True" empty_msg=empty_msg %}</div>
    </div>
{% endblock %}
