{% extends "dashboard/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block subtitle %}{% trans "We provide you with all the things that concern you on this page. If you have only a 'quick check' to do on NewCo, this page is the one!" %}{% endblock %}

{% block dashboard %}
  <div class="row" id="boxes_container">{% for key, box in boxes.items %}
    <div id="box_{{ box.name }}" class="span4 well well-small box">
      <button class="btn btn-small pull-right" data-toggle="collapse" data-target="#collapse_{{ box.name }}"><i rel="collapse_btn" class="icon-minus"></i></button>
      <h3><a href="{{ box.page_url }}" class="black">{{ box.title }}</a></h3>
      <p class="muted">{{ box.subtitle }}</p>
      <div id="collapse_{{ box.name }}" rel="collapse_div" class="collapse in">
        {% include "items/feed_display/_content_list.html" with contents=box.feed display="mini_feed" empty_msg=box.empty_msg %}
      </div>
    </div>
  {% endfor %}</div>

  <div><p class="lead">{% blocktrans with link_1="<a data-toggle='modal' href='#feedbackModal'>" link_2="</a>" %} More tools to come very soon on the dashboard! If you have some ideas about how to improve this page, please {{ link_1 }}tell us{{ link_2 }}, we can't wait to read them!{% endblocktrans %}</p></div>
{% endblock %}

{% block extra_script %}<script src="{% static 'js/dashboard.js' %}"></script>{% endblock %}
