{% extends "dashboard/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block subtitle %}{% trans "We provide you with all the things that concern you on this page. If you have only a 'quick check' to do on NewCo, this page is the one!" %}{% endblock %}

{% block dashboard %}
  <div class="row" id="boxes_container">
    {% for key, box in boxes.items %}{% include "dashboard/_box.html" with box=box %}{% endfor %}
  </div>
  <br>
  <p class="lead">{% blocktrans with link_1="<a data-toggle='modal' href='#feedbackModal'>" link_2="</a>" %} More tools to come very soon on the dashboard! If you have some ideas about how to improve this page, please {{ link_1 }}tell us{{ link_2 }}, we can't wait to read them!{% endblocktrans %}</p>
{% endblock %}

{% block extra_script %}<script src="{% static 'js/dashboard.js' %}"></script>{% endblock %}
