{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block body %}

<h1>{% trans 'Preview' %}</h1>

<form action="{% url reviews_reedit %}" method="post">
    {% csrf_token %}
    <p> {{ request.POST.user_name }} </p>
    <p> {{ request.POST.comment|linebreaks }} </p>
    <p> {{ request.POST.score }} </p>
    
    {# <input type="hidden" name="user_name" value="{{ request.POST.user_name }}" /> #}
           
    <input type="hidden" name="user_email" value="{{ request.POST.user_email }}" />

    <input type="hidden" name="comment" value="{{ request.POST.comment }}" />

    <input type="hidden" name="score" value="{{ request.POST.score }}" />

    <input type="hidden" name="content_type_id" value="{{ request.POST.content_type_id }}" />

    <input type="hidden" name="content_id" value="{{ request.POST.content_id }}" />

    <input type="submit" name="edit" value="{% trans 'Edit' %}" />
    <input type="submit" name="save" value="{% trans 'Submit' %}" />
</form>

{% endblock %}