{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block body %}

<h1>{% trans 'Add Review' %}</h1>
<form action="{% url reviews_add content_type_id content_id %}" method="post">
    {% csrf_token %}

    <div class="field">
        <p> {{ form.comment.label_tag }} </p>

        {% if form.comment.errors %}
            <p class="error"> {{ form.comment.errors }} </p>
        {% else %}
            <p> {{ form.comment }} </p>
        {% endif %}
    </div>

    <div class="field">
        <p> {{ form.score.label_tag }} </p>

        {% if form.score.errors %}
            <p class="error"> {{ form.score.errors }} </p>
        {% else %}
            <p> {{ form.score }} </p>
        {% endif %}
    </div>
    
    <input type="hidden" name="content_type_id" value="{{ content_type_id }}" />
    <input type="hidden" name="content_id" value="{{ content_id }}" />
    
    {% if show_preview %}
		<input type="submit" name="preview", value="{% trans 'Preview' %}" />
    {% endif %}
    <input type="submit" name = "send" value="{% trans 'Send' %}" />
</form>

{% endblock %}