<div class="modal fade hide" id="feedbackModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Merci de votre visite !</h3>
  </div>
    <div class="modal-body">
      <p>
        NewCo, comme New Company, était un projet de startup sur lequel j'ai travaillé
        avec 3 associés entre 2012 et 2013. Même si le marché du e-commerce est un secteur où il y a
        toujours énormément à faire, le projet NewCo n'a pas atteint son seuil de viabilité.
      </p>
      <p>
        Le site est toujours en ligne comme témoin de ce qui a pu être essayé
        pour apporter aux consommateurs un espace d'échange collaboratif sur les produits
        qu'ils aiment et utilisent.
      </p>
      <p>
        Je suis depuis parti rejoindre d'autres aventures que vous pourrez suivre sur
        <a href="http://openbloc.fr">openbloc.fr</a>.
      </p>
      <p>
        Le code est open sourcé en licence MIT:
        <a href="https://github.com/blaze33/newco-legacy">newco-legacy</a>
      </p>
      <p>
        Aux futurs entrepreneurs je recommanderai le livre :
        <a href="http://amzn.to/2qozmDt">Bien s'associer pour mieux entreprendre.</a>
      </p>
    </div>
    <div class="modal-footer">
      <a href="https://twitter.com/maxmre" class="btn btn-info" >
        @maxmre on twitter
      </a>
      <a href="http://stackoverflow.com/story/maxmre" class="btn btn-info" >
        CV stackoverflow
      </a>
      <a href="http://openbloc.fr" class="btn btn-primary" >
        OpenBloc
      </a>
    </div>
</div>

<div class="feedbackTab" data-toggle="modal" href="#feedbackModal"></div>
