<div class="modal fade hide" id="feedbackModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Faites nous part de votre avis&nbsp;:</h3>
    </div>
    <form  action="http://www.newco-project.fr/Feedback/email.php" method="POST">{% csrf_token %}
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label class="control-label" for="Name">Nom (optionnel) :</label>
            <div class="controls">
                <input name="Name"class="input-large"/>
            </div>
        </div>
            
        <div class="control-group">
            <label class="control-label" for="email">Email (optionnel) :</label>
            <div class="controls">
                <input name="email" class="input-large"/>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="subject" >Sujet (optionnel) :</label>
            <div class="controls">
                <input name="subject" class="input-large"/>
            </div>
        </div>

        
        <div class="hidden-phone">
            <textarea id="input" name="Feedback_html" rows="8" cols="10" placeholder="Ecrivez votre message ici !"></textarea>
        </div>
        
        <div class="visible-phone">
            <textarea name="Feedback_simple" rows="8" cols="4" placeholder="Ecrivez votre message ici !"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        Merci pour votre feedback :
        <button class="btn btn-primary" type="submit">
        	Envoyer !
        </button>
    </div>
    </form>
</div>

<div class="feedbackTab" data-toggle="modal" href="#feedbackModal"></div>
