
<style type="text/css">
      
    .slide-out-div {
        padding: 20px;
        width: 540px;
        background: #ccc;
        border: 1px solid #29216d;
    }
      
    /*
    .tab-withoutSlider {
        position: absolute;
        top: 250px;
        right: 0px;
        background: url(http://newco-project.fr/static/img/Feedback_button.png) no-repeat;
        width: 29px;
        height: 70px;
    }*/
      
    /*@media tags are made to change the style according to screen size*/
    /* Landscape phones and down */
    @media (max-width: 480px) {
    	.slide-out-div {
    		padding: 20px;
    		width: 250px;
    		background: #ccc;
    		border: 1px solid #29216d;
    	}
    }
      
    @media (min-width: 481px) and (max-width: 767px) {
    	.slide-out-div {
    		padding: 20px;
    		width: 420px;
    		background: #ccc;
    		border: 1px solid #29216d;
    	}
    }
    
    @media (min-width: 768px) {
    	.slide-out-div {
    		padding: 20px;
    		width: 540px;
    		background: #ccc;
    		border: 1px solid #29216d;
    	}
    }
</style>

<!--Sources of files for the html text editor : feedback uses it.-->
<link rel="stylesheet" type="text/css" href="http://www.newco-project.fr/static/css/jquery.cleditor.css">