<div class="modal fade hide" id="feedbackModal" style="width: 760px;margin: -350px 0 0 -380px;">
    <div class="modal-header">
        <button class="close pull-right" data-dismiss="modal">×</button>
    </div>
        <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFpURmpiVzM2b0VxdFZrVXA2TEgzbkE6MQ" width="760" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>

<div class="feedbackTab" data-toggle="modal" href="#feedbackModal"></div>
