{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "FAQ" %}{% endblock %}

{% block body %}
    <div style="text-align:center;">
    <h1>{% trans "FAQ" %}</h1>
    </div>
    {% if user.is_authenticated %}
    </br></br>
    </br><p><b>Quels sont les partenariats déjà en place ?</b></p>
    <p>Pour l'instant, nous avons négocié des partenariats d'affiliation avec Amazon, Décathlon, Virgin Mega, et Woodbrass. Et bien plus à venir...
    </br>Vous pouvez nous contacter pour en savoir plus sur ces accords.
    </p>
    </br><p><b>Comment puis-je contribuer au site ?</b></p>
    <p>Il y a déjà à ce jour plusieurs manières de contribuer sur la plateforme et d'aider la communauté. 
    </br>Pour l'instant, on peut répondre aux questions et en poser, rajouter des fiches produits, raconter son expérience utilisateur, et évaluer (voter) le contenu apporté par d'autres contributeurs.
    </p> 
    </br><p><b>Comment vous assurez-vous d'avoir du bon contenu sur la plateforme?</b></p>
    <p>La qualité du contenu est notre souci numero 1 avec l'expérience utilisateur. 
    </br>Pour accéder à cette qualité, on met tout en oeuvre pour d'une part guider les contributeurs et les pousser à collaborer entre eux.
    <br> D'autre part, le bon contenu émergera par notre système d'intelligence collective.
       
        {% endif %}
{% endblock %}
