{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "FAQ" %}{% endblock %}

{% block body %}
    <div style="text-align:center;">
    <h1>{% trans "Qui sommes-nous" %}</h1>
    </div>
    {% if user.is_authenticated %}
    </br></br>
    </br><p><b>Sébastien Worms, Capitaine Flam, Co-Founder</b></p>
    <p>Sébastien est passionné depuis tout petit par le monde du web.
    </br>Après des expériences réussies au BCG et chez Total Ventures, il décide de mettre à profit ses qualités entrepreneuriales pour lancer le NewCo Project en Mars 2012, s'inspirant beaucoup des pratiques de la Silicon Valley.
    <br> Formation ENSTA Paristech, ESSEC.
    
    </p>
    </br><p><b>Guillaume Kalaydjian, GK pour les intimes, Co-founder</b></p>
    <p>Guillaume est issu du monde de la finance,...et du tennis.
    <br>Après avoir travaillé avec succès en banque à Vienne, Paris et New-York ces dernières années, il donne toute son énergie à NewCo, avec pour objectif principal d'aider les gens dans leur processus d'achat.
    </br>Formation ENSTA Paristech, La Sorbonne.
    </p> 
    
    </br><p><b>Maxime Rouyrre, Stackoverflow-logue, Co-Founder</b></p>
    <p>Maxime voue un culte sans limite à Jason Fried, auteur de Getting Real.
    </br>Plus sérieusement, ses expériences passées chez Altran et Co-decision, et ses réflexions toujours justes sont très utiles à l'équipe.
    <br> Formation ENSTA Paristech, UPM ETSII.
    </p>   
    
    </br><p><b>Guillaume Andreu-Sabater, GAS-ologue, Co-Founder</b></p>
    <p>GAS a aussi cultivé son sens entrepreneurial dans la "concrete jungle" de New-York.
    </br>Ancien trader quantitatif à la Société Générale, il se lance plein d'entrain dans cette aventure.
    <br>Vu sa consommation de café, il pourra surement vous conseiller sur les derniers modèles de machines à café.
    <br> Formation ENSTA Paristech, La Sorbonne.
    </p>   
    
        {% endif %}
{% endblock %}
