.question .block_controls {
  padding-top: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
     -moz-transition: opacity 0.6s;
}
.question:hover .block_controls {
  opacity: 1;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
}

.question hr {
  margin: 8px 0 15px;
}

.question iframe {
  box-sizing: border-box;
}

.question-content {
  font-size: 130%;
  font-weight: bold;
  line-height: 140%;
  margin-top: 0px;
}

.answer-content .content {
  padding-top: .5em;
}

.answer-content {
  line-height: 150%;
}

.album a {
  height: 128px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: block;
}

.album li:nth-child(n+3) { width: 60px;}
.album li:nth-child(n+3) .gallery-item { height: 30px;}
.album .span3:nth-child(n+5) { display: none; }
.album-more a {
  height: auto;
  font-size: 13px;
  color: #999;
}
.album-more:hover { cursor: hand; cursor: pointer; }

/* only display album's first image on small screens */
@media (max-width: 767px) {
  .album :not(:first-child) {
    display: none;
  }
}

.modal-image img {
  max-height: 100%;
}
.modal-gallery {
  min-width: 66%;
  max-width: 95%
}
.modal-gallery.fade.in {
  /*fix modal position starting with bootstrap 2.2.2*/
  top: 50%;
}
.modal-footer {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.modal-download {
  overflow: hidden;
  vertical-align: middle;
}

.product-name h1 {
  margin: 0;
}

@media (min-width: 700px) {
.content-product-related { line-height: 1px; width: 60px; margin: 3px; float:right; margin-right:10px }
.content-product-related img {
  float: left;
  width: 60px;
  border-radius: 3px;
  margin-right:0px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.no-product-related { float:right; margin-right:0px }
}

@media (max-width: 1000px) {.top-products { display:none; }}

@media (max-width: 800px) {
.top-images-small { display:none; }
}

@media (min-width: 800px) {
.expert-list-header { height:90px; }
}
@media (max-width: 800px) {
.expert-list-header { height:150px; }
}


/* in item_detail.html */
.no-left-margin { margin-left: 0px; }


/* in feed_display/image.html */
.feed-image {
  margin-bottom: 0;
  max-height:60px;
  max-width:60px;
  width:60px
}