.one_row {
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: background-color 0.9s;
  -moz-transition: background-color 0.9s;
}

.one_row:hover {
  background-color: #F8F8F8;
  -webkit-transition: background-color 5s;
  -moz-transition: background-color 5s;
}

.controls_2 {
  display: inline-block;
  line-height: 14px;
  margin: 0 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.one_row:hover .controls_2 {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
}

.question .block_controls {
  padding-top: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.question:hover .block_controls {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
}

.question hr {
  margin: 8px 0 15px;
}

.question iframe {
  box-sizing: border-box;
}

.question-content {
  font-size: 130%;
  font-weight: bold;
  line-height: 140%;
}

.answer-content .content {
  padding-top: .5em;
}

.answer-content {
  line-height: 150%;
}

.vote-controls {
  font-size: 180%;
  font-weight: bold;
  line-height: 180%;
}

@media (max-width: 979px) and (min-width: 768px) {
  .vote-controls {
    margin-left: 5px;
    width: 57px;
  }
}

.score-display {
  display: inline-block;
  line-height: 10px;
  vertical-align: middle;
  text-align: center;
}

.score-small {
  font-size: 10px;
}

.right {
  text-align: right;
  float: right;
}

.signature {
  float: right;
  padding: 2px 2px 5px 5px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.signature-header {
  display: inline;
  margin-bottom: 1em;
}

.signature .author img {
  float: left;
  margin-right: 3px;
}

.signature .author div {
  margin-left: 40px;
  line-height: 110%
}

.controls_2.vote {
  vertical-align: middle;
}

button[type="submit"][class*="icon-"] {
  height: 14px;
  width: 21px;
  line-height: 14px;
  border: none;
  margin: 0 0;
  background-color: transparent;
  border-radius: 5px;
}

button[type="submit"][class*="icon-"][data-vote="True"] {
  background-color: #f89406;
}

.controls_2 .icon-chevron-up {
  background-position: -284px -120px;
}

.controls_2 .icon-chevron-down {
  background-position: -309px -119px;
}

.nc_qna_list_div .nc_transition_add {
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}

.nc_qna_list_div:hover .nc_transition_add {
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}

.nc_transition_add {
  padding-bottom:10px;
  cursor: pointer;
  cursor: hand;
}

.nc_transition_add:hover {
  background-color: #eee;
}

.album a {
  height: 128px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: block;
}

/* only display album's first image on small screens */
@media (max-width: 767px) {
  .album :not(:first-child) {
    display: none;
  }
}

.modal-image img {
  max-height: 100%;
}
.modal-gallery {
  min-width: 66%;
  max-width: 95%
}
.modal-gallery.fade.in {
  /*fix modal position starting with bootstrap 2.2.2*/
  top: 50%;
}
.modal-footer {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.modal-download {
  overflow: hidden;
  vertical-align: middle;
}

.product-name h1 {
  margin: 0;
}