{% load i18n %}
{% load voting_tags %}
{% load voting_utils %}
{% load content_utils %}

{% dict_entry_for_item answer from votes as vote %}
{% dict_entry_for_item answer from scores as score %}
<br>
{% if display_q == "True" %}
  <div class="row one_row" id="{{ answer.anchor }}">
    <div class="span8 offset1">
      <p><a class="question-nf" href="{{ answer.question.get_absolute_url }}"><small>{{ answer.question.content }}</small></a></p>
    </div>
  </div>
{% endif %}
<div class="row one_row" id="{{ answer.anchor }}">
  <div class="span1 vote-controls">
    {% include "items/_vote_box.html" with content=answer item=item score=score vote=vote display=display %}
    {% edit_buttons user answer delete_next=request.path %}
  </div>
  <div class="span8 answer-content">
    {% if display_signature == "True" %}{% content_info answer "signature" 32 %}{% endif %}
    {% content_info answer "header" %}
    <div class="content{% if answer.is_draft %} muted{% endif %}" itemprop="description">{% autoescape off %}{{ answer.content }}{% endautoescape %}</div>
    {% if display_controls == "True" %}
      <br>
      {% include "items/feed_display/_feed_controls.html" with answer_location="q_detail" content=answer user=user csrf_token=csrf_token only %}
    {% endif %}
  </div>
</div>