{% load i18n %}
{% load voting_tags %}
{% load voting_utils %}
{% load content_utils %}
{% load bootstrap_tags %}

{% dict_entry_for_item question from votes as vote %}
{% dict_entry_for_item question from scores as score %}

<div class="row one_row{% if question.is_draft %} well well-small{% endif %}" id="{{ question.anchor }}">
  <div class="span1 vote-controls">
    {% include "items/_vote_box.html" with content=question item=item score=score vote=vote display=display %}
    {% if item %}{% edit_buttons user question delete_next=item.get_absolute_url %}{% else %}{% edit_buttons user question %}{% endif %}
  </div>
  <div class="span8 question-content">
    {% if question.is_draft %}<p><small>{% trans "This question is a draft.<br>It has been anonymized." %}</small></p>{% else %}{% content_info question "signature" 32 %}{% endif %}
    {% if display == "detail" %}
      <div class="content" itemprop="name">{{ question.content }}</div>
    {% else %}
      <a href="{{ question.get_absolute_url }}" itemprop="url"><span itemprop="name">{{ question.content }}</span></a>
    {% endif %}
  </div>
</div>

{% for answer in question.answer_set.all %}
  {% dict_entry_for_item answer from votes as vote %}
  {% dict_entry_for_item answer from scores as score %}
  <br>
  <div class="row one_row" id="{{ answer.anchor }}">
    <div class="span1 vote-controls">
      {% include "items/_vote_box.html" with content=answer item=item score=score vote=vote display=display %}
      {% edit_buttons user answer delete_next=request.path %}
    </div>
    <div class="span8 answer-content">
      {% content_info answer "signature" 32 %}
      {% if display == "detail" %}{% content_info answer "header" %}{% endif %}
      <div class="content{% if answer.is_draft %} muted{% endif %}" itemprop="description">{% autoescape off %}{{ answer.content }}{% endautoescape %}</div>
    </div>
  </div>
{% empty %}
  {% cycle "empty" as empty silent %}
{% endfor %}

<div class="row"><div class="span8 offset1">
  {% if display == "list" %}
    <div class="block_controls row" id="controls_answer_form_{{ question.id }}">
      <div class="span4"><button class="btn btn-small" data-toggle="collapse" data-target="#answer_form_{{ question.id }}"><i rel="icon" class="icon-share-alt"></i> <span rel="text">{% if empty %}{% trans "Answer this question" %}{% else %}{% trans "Add a better answer" %}{% endif %}</span></button></div>
      <div class="span4 right"><button class="btn btn-small" data-toggle="modal" data-target="#ask"><i class="icon-user"></i> {% trans "Ask someone to answer" %}</button></div>
    </div>
  {% elif display == "detail" %}
      <br>
      <div class="right"><button class="btn btn-small" data-toggle="modal" data-target="#ask"><i class="icon-user"></i> {% trans "Ask someone to answer" %}</button></div>
  {% endif %}
</div></div>

<div class="row"><div class="span9">
  <div id="answer_form_{{ question.id }}"class="row{% if display == 'list' %} collapse {% if question.answer_form.errors or question.id == q_id %}in{% else %}out{% endif %}{% endif %}"><form method="POST" action="#answer_form_{{ question.id }}">
    <br>
    {% if user.is_authenticated %}<div class="span1">{% include "profiles/_profile_edit_about.html" %}</div>{% endif %}
    <div class="span8{% if not user.is_authenticated %} offset1{% endif %}">
      {% csrf_token %}
      {{ question.answer_form|as_bootstrap }}
      <button type="submit" class="btn btn-primary btn-small" name="answer" value="{{ statuses.public }}"><i class="icon-share-alt"></i> {% trans "Answer and publish" %}</button>
      <button type="submit" class="btn btn-small" name="answer" value="{{ statuses.draft }}"><i class="icon-pencil"></i> {% trans "Save as draft" %}</button>
      <input type="hidden" name="question_id" value="{{ question.id }}"/>
    </div>
  </form></div>
</div></div>

{% include "items/_ask_modal.html" %}
