{% load i18n %}
{% load follow_tags %}
{% load content_utils %}

<form action='' method='POST'>{% csrf_token %}
    <input type='submit' class='{{ btn_var.class }}' name='{{ btn_var.name }}' value='{{ btn_var.value }}'/>
    <input type='hidden' name='app_label' value='{{ object|to_app_label }}'/>
    <input type='hidden' name='object_name' value='{{ object|to_class_name }}'/>
    <input type='hidden' name='id' value='{{ object.id }}'/>
    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
</form>
