{% load i18n %}

<div class="profile_info">
<dl class="dl-horizontal">
    {% if profile.about %}
        <dt>{% trans "About" %}</dt>
        <dd>{{ profile.about }}</dd>
    {% endif %}
    {% if profile.location %}
        <dt>{% trans "Location" %}</dt>
        <dd>{{ profile.location }}</dd>
    {% endif %}
    {% if profile.website %}
        <dt>{% trans "Website" %}</dt>
        <dd><a href="{{ profile.website }}">{{ profile.website }}</a></dd>
    {% endif %}
    {% if profile.user.date_joined %}
        <dt>{% trans "Subscription date" %}</dt>
        <dd>{{ profile.user.date_joined }}</dd>
    {% endif %}
    {% if reputation %}
        <dt><a href="{% url faq %}#reputation" class="black">{% trans "Reputation" %}</a></dt>
        <dd>{{ reputation.reputation_incremented }}</dd>
    {% endif %}
    {% if profile.skills.count > 0 %}
        <dt>{% trans "Skills" %}</dt>
        <dd>{% for skill in profile.skills.all %}
                <a href="{% url tagged_items skill.slug %}">
                <span class="label">{{ skill.name }}</span></a>
            {% endfor %}</dd>
    {% endif %}
</div>
