{% load voting_tags %}
{% load content_utils %}

{% if display != "mini_feed" %}{% scores_for_objects contents as score_dict %}{% endif %}

{% with p_link_tpl="profiles/_popover_link.html" i_link_tpl="items/_popover_link.html" %}

{% for content in contents %}{% with class_name=content|to_class_name %}
    {% if not forloop.first and not mini_feed %}<hr>{% elif not forloop.first and mini_feed %}<br>{% endif %}
    <div class="row content">
        <div class="span{% if display == "mini_feed" %}4{% else %}7{%endif%}">

        {% dict_entry_for_item content from score_dict as score %}

        {% with template="profiles/content_display/_"|add:class_name|add:".html" %}
            {% include template with content=content author=content.author score=score user=user path=request.path p_link_tpl=p_link_tpl i_link_tpl=i_link_tpl display=display only %}
        {% endwith %}

        </div>
    </div>
{% endwith %}{% endfor %}

{% endwith %}

{# TODO: handle redirection after content edition #}
