{% load account_tags %}
<div class="span7"><table class="table table-condensed"><tbody><tr><td>
<div class="profile-item">
    <div class="name">
            <h4><a href="{% url profile_detail profile.id profile.slug %}">{% user_display profile.user %}</a></h4>
    </div>
    <div class="details">
        {% if profile.location %}{{ profile.location }}{% endif %}
        {% if profile.location and profile.website%}&bull;{% endif %}
        {% if profile.website %}<a href="{{ profile.website }}">{{ profile.website }}</a>{% endif %}
        {% if profile.website and profile.skills%}&bull;{% endif %}
        {% if profile.skills %}{% for tag_pro in profile.skills.all %}<a href="{% url tagged_items tag_pro.slug %}"><span class="label">{{ tag_pro.name }}</span></a> {% endfor %}{% endif %}
    </div>
    <div class="clear"></div>
</div>
</td></tr></tbody></table></div>
