{% load account_tags %}
{% load content_utils %}
{% load follow %}

{% if display == "email_html" %}
  <a href="{% get_absolute_uri profile request %}"><h4>{% profile_pic profile.user 36 %} {% user_display profile.user %}</h4></a>

  {% include "profiles/_profile_info.html" with display="email_html" %}
{% elif display == "thumbnail_wide" %}
  <br>
  <p class="pull-right">{% profile_pic profile.user 40 %}</p>
  <b><a href="{{ profile.get_absolute_url }}" class="black">{{ profile.name }}</a></b> • <b> {{ profile.user.reputation.reputation_incremented }}</b>
  <br>
  {% if profile.about %}{{ profile.about }}{% endif %}
{% else %}
  <div class="profile-item thumbnail"{% if not profiles %} style="margin: 0px;"{% endif %}>
    <div class="name">
      <a href="{{ profile.get_absolute_url }}"><h5>
        {% profile_pic profile.user 64 %}
        {% user_display profile %}
      </h5></a>
    </div>
    <div class="details">
      <h5>{{ profile.user.reputation.reputation_incremented }}&nbsp;</h5>
      <p>
        {% if profile.location %}{{ profile.location }}&nbsp;{% endif %}
        {% if profile.website %}<a href="{{ profile.website }}"{% if profile.user.reputation.reputation_incremented < 20 %} rel="nofollow"{% endif %}><i class="icon-globe"></i></a>{% endif %}
        <br>
        {% tags_display profile.skills 3 %}
      </p>
      {% if disp_follow %}<br><center>{% follow_form user profile.user extra_class="btn-mini" %}</center>{% endif %}
    </div>
  </div>
{% endif %}
