{% load i18n %}
{% load account_tags %}

{% if users and items %}<h3>{% trans "Members:" %}</h3>{% endif %}
{% for user in users %}<div class="row content"><div class="span7">
    <div class="row highlight"><div class="span7">
        <h4><a href="{{ user.get_absolute_url }}">{% user_display user %}</a>
    </div></div>
    {# Seb: better display but adds +10% load time on profiles with many followee/ers. Keep it in comment until better perf ? #}
    {% comment %}{% include "profiles/_profile_item.html" with display="list" profile=user.get_profile %}{% endcomment %}
    {% if not forloop.last or items %}<hr>{% endif %}
</div></div>{% endfor %}

{% if items %}<h3>{% trans "Products:" %}</h3>{% endif %}
{% for item in items %}<div class="row content"><div class="span7">
    <div class="row highlight"><div class="span7">
        <h4><a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
    </div></div>
    {% if not forloop.last %}<hr>{% endif %}
</div></div>{% endfor %}

