{% load i18n %}

<button class="btn btn-mini btn-success" id="btn-add-about" data-toggle="modal" data-target="#modal-edit-about" type="button"{% if about %} style="display: none;"{% endif %}><b>{% trans "Tell us about you" %}</b></button>
<button class="btn btn-mini" id="btn-edit-about" data-toggle="modal" data-target="#modal-edit-about" type="button"{% if not about %} style="display: none;"{% endif %}><b>{% trans "Edit your bio" %}</b></button>

<div class="modal fade hide" id="modal-edit-about">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true" type="button">&times;</a>
    <h3>{% trans "I can give a good answer because..." %}</h3>
  </div>
  <div class="modal-body form-inline">
    <form id="form-edit-bio" method="POST" action="#answer_form_{{ content.id }}">{% csrf_token %}
      <input class="span4" type="text" name="about" autocomplete="off" {% if about %}value="{{ about }}" {% endif %}placeholder="{% trans 'e.g. professional gardener, model, local tennis champion' %}">
      <input class="btn btn-primary" id="submit-edit-about" name="edit_about" type="submit" value="{% trans 'Submit' %}">
    </form>
  </div>
</div>
