{% extends "idios/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load voting_tags %}
{% load follow_tags %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Profile for {{ page_user_display }}{% endblocktrans %}{% endblock %}

{% block body %}
    {% user_display page_user as page_user_display %}
    <header class="jumbotron subhead" id="overview">
        <h1>{{ page_user_display }}</h1>
    </header>


    </br>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#newsfeed" data-toggle="tab">{% trans "Newsfeed" %}</a></li>
            <li><a href="#followees" data-toggle="tab">{% trans "Followees" %}</a></li>
            <li><a href="#followers" data-toggle="tab">{% trans "Followers" %}</a></li>
            <li><a href="#draft" data-toggle="tab">{% trans "Drafts" %}</a></li>
        </ul>

        <div class="tab-content" style="overflow: visible;">
            <div id="newsfeed" class="tab-pane active">{% include "profiles/_profile_content_list.html" with contents=newsfeed %}</div>
            <div id="followees" class="tab-pane">{% include "profiles/_profile_user_list.html" with users=fwees items=items_fwed %}</div>
            <div id="followers" class="tab-pane">{% include "profiles/_profile_user_list.html" with users=fwers %}</div>
            <div id="draft" class="tab-pane">{% include "profiles/_profile_content_list.html" with contents=drafts %}</div>
        </div>
    </div>
{% endblock %}
