{% extends "idios/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load voting_tags %}
{% load follow_tags %}

{% block extra_style %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/content.css">
{% endblock %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Home: {{ page_user_display }}{% endblocktrans %}{% endblock %}

{% block subnav %}
{% url profile_detail user.username as profile_detail_url %}
{% url profile_list as profile_list_url %}
    {% if user.is_authenticated %}
{% include "profiles/profile_idios.html" %}
    {% else %}
        &nbsp;
    {% endif %}
    
{% endblock %}

{% block body %}
    {% user_display page_user as page_user_display %}
    <header class="jumbotron subhead" id="overview">
        <h1>{{ page_user_display }}</h1>
    </header>

    </br>

    {% include "profiles/_profile_content_list.html" with contents=newsfeed %}
{% endblock %}

