{% extends "idios/profile.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load follow_tags %}
{% load content_utils %}



{% block body_base %}
<div class="container">
	<header class="jumbotron subhead" id="overview">
<div class="subnav subnav-fixed">	
<ul class="nav nav-pills">
	<li style="padding:10px"><b>NewCo empowers people to buy better</b></li>
  <li class="dropdown" id="menu1">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Categories
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Categories</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </li>
  
   <li class="dropdown" id="menu3">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3">
      Last contributions
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url home %}">All Contributions</a></li>
      <li class="divider"></li>
      <li><a href="{% url home_category 'filter' %}">Only your filtered feed</a></li>
    </ul>
  </li>
</ul>

</div> </header>

</div>

    {{ block.super }}
{% endblock %}


{% block body_class %}

{% endblock %}
{% block subnav %}
{% url profile_list as profile_list_url %}
  {% if user.is_authenticated %}
<br><br><br>
<div class="row">
	<div class="span1">
      <div style="background-color: #333333; color:#FFF; border-radius: 2px; height:70px; width:70px; font-size:20px;text-align:center">
      	Start
      </div>  
   </div>
   
   <div class="span1">
      <div style="background-color: #333333; color:#FFF; border-radius: 2px; height:70px; width:70px; font-size:20px;text-align:center">
      	Explore
      </div>  
   </div>    
</div> 

<br>     
       
<div class="row">
	<div class="span1">
      <div style="background-color: #333333; color:#FFF; border-radius: 2px; height:70px; width:70px; font-size:14px;text-align:center">
      	Contribute
      </div>  
   </div>
   
   <div class="span1">
      <div style="background-color: #333333; color:#FFF; border-radius: 2px; height:70px; width:70px; font-size:20px;text-align:center">
      	Share
      </div>  
   </div>    
</div>        


<br><br><br><br>
<div class="row"style="background-color: #F9F9F9; border-radius: 5px;">
  <h5>Who to follow  . . .  <a href="{{ profile_list_url }}"> View all</a></h5>
  {% autopaginate profile_list_sorted %}
  <div id="profiles_list2">
    {% for profile in profile_list_sorted %}
    {% include "profiles/_profile_item_homepage.html" %}
    {% endfor %}
  </div>
  {% paginate %}
</div>
<br><br><br>
 {% include "profiles/_profiles_subnav_homepage.html" with profiles_sorted=profiles %}
  {% else %}
        &nbsp;
 {% endif %}
    
{% endblock %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Home: {{ page_user_display }}{% endblocktrans %}{% endblock %}

{% block body %}<div class="span 10">
<div>
    {% user_display page_user as page_user_display %}
    <header class="jumbotron subhead" id="overview">
        <h3>Newsfeed</h3>
    </header>

    </br>

    {% include "profiles/_profile_content_homepage.html" with contents=newsfeed_filtered %}
</div></div>{% endblock %}