{% extends "idios/profile.html" %}

{% load i18n %}
{% load account_tags %}

{% block body_class %}{% endblock %}
{% block subnav %}{% endblock %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Home: {{ page_user_display }}{% endblocktrans %}{% endblock %}

{% block body %}<div class="span 10">
    {% user_display page_user as page_user_display %}
    <header class="jumbotron subhead" id="overview">
        <h1>{{ page_user_display }}</h1>
    </header>

    </br>

    {% include "profiles/_profile_content_list.html" with contents=newsfeed %}
</div>{% endblock %}

