{% extends "dashboard/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load content_utils %}
{% load pagination_tags %}
{% load follow %}

{% block body_class %}{% if is_me %}profile{% endif %}{% endblock %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}{{ page_user_display }} | Profile{% endblocktrans %}{% endblock %}

{% block body %}
  {% user_display page_user as page_user_display %}
  <div class="pull-right profile-follow">
    {% if is_me %}
      <a class="btn" href="{% url 'profile_edit' %}">{% trans "Update my profile" %}</a>
    {% else %}
      {% follow_form user page_user %}
    {% endif %}
  </div>

  <header class="jumbotron subhead" id="overview">
    <h1 itemprop="name">{{ page_user_display }}</h1>
  </header>

  <hr>
  <div class="row" itemscope itemtype="http://schema.org/Person">
    <div class="span thumbnail" itemprop="image">
      {% if is_me %}
        <a class="tooltip-right" id="profile-pic" title="{% trans 'Your profile picture is provided by Gravatar, sign up to this service to change it!' %}" target="_blank">{% profile_pic page_user 160 %}</a>
      {% else %}
        {% profile_pic page_user 160 %}
      {% endif%}
    </div>
    <div class="span5">{% include "profiles/_profile_info.html" %}</div>
  </div>

  <br>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a id="tab-history" href="#history" data-toggle="tab">{% trans "History" %}</a></li>
      <li><a id="tab-followees" href="#followees" data-toggle="tab">{% trans "Following" %}</a></li>
      <li><a id="tab-followers" href="#followers" data-toggle="tab">{% trans "Followers" %}</a></li>
    </ul>

    <div class="tab-content">
      <div id="history" class="tab-pane active">{% include "items/feed_display/_content_list.html" with contents=object_list display="list" options="context,parents" display_a="no" experts=experts scores=scores votes=votes %}{% if is_paginated %}{% paginate %}{% endif %}</div>
      <div id="followees" class="tab-pane">{% include "profiles/_profile_follow_list.html" with users=fwees items=items_fwed display="text" %}</div>
      <div id="followers" class="tab-pane">{% include "profiles/_profile_follow_list.html" with users=fwers display="text" %}</div>
    </div>
  </div>
{% endblock %}

{% if is_me %}
  {% block extra_script %}
    {{ block.super }}
    <script>
      // costs 300 ms
      (function ($) {
          $("#profile-pic").attr("href", "{% gravatar_profile_url page_user %}");
          $(".tab-link").click( function (eventObject) {
              $($(this).data("target")).click()
          });
      }(window.jQuery));
    </script>
  {% endblock %}
{% endif %}
