{% load i18n %}
{% load date_utils %}

{% if signature %}
    <p class="signature"><small>
        <b itemprop="dateModified">{{ pub_date|datediff:"SHORT_DATE_FORMAT" }}</b>{% if signature_author %} {% trans "by" %} <span itemprop="contributor" itemscope itemtype="http://schema.org/Person"><a href="{{ author_url }}" itemprop="url"><span itemprop="name">{{ author_name }}</span></a></span>{% endif %}
    </small></p>
    {% if signature_pic %}{% autoescape off %}{{ profile_pic }}{% endautoescape %}{% endif %}
{% elif header %}
    <h5 class="signature">
        <span itemprop="contributor" itemscope itemtype="http://schema.org/Person"><a href="{{ author_url }}" itemprop="url" class="black"><span itemprop="name">{{ author_name }}</span></a>{% if about %}, {{ about }}{% endif %}</span>
    </h5>
{% endif %}

{#Seb: I took contributor instead of author because author can be only one, and I dont know what it will do if Google sees many authors in one question+many answers for example ...#}
