{% extends "dashboard/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}
{% load content_utils %}
{% load pagination_tags %}
{% load follow_utils %}
{% load url from future %}

{% block body_class %}{% if is_me %}profile{% endif %}{% endblock %}

{% block extra_style %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile.css">
{% endblock %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Profile for {{ page_user_display }}{% endblocktrans %}{% endblock %}

{% block body %}<div class="span7" itemscope itemtype="http://schema.org/Person">
    {% user_display page_user as page_user_display %}
    <div class="pull-right">
        <span id="profile-follow">
            {% if is_me %}
                <a href="{% url 'profile_edit' %}" class="btn">
                {% trans "Update my profile" %}</a>
            {% else %}
                {% follow_form user page_user %}
            {% endif %}
        </span>
    </div>
    <header class="jumbotron subhead" id="overview">
        <h1 itemprop="name">{{ page_user_display }}</h1>
    </header>

    <div class="row">
        <hr>
        <div class="span thumbnail" itemprop="image">
            {% if is_me %}
                <a href="https://fr.gravatar.com/site/signup" rel="tooltip" title="{% trans 'Your profile picture is provided by Gravatar, sign up to this service to change it!' %}" id="profile-pic">
                {% profile_pic page_user 160 %}</a>
            {% else %}
                {% profile_pic page_user 160 %}
            {% endif%}
        </div>
        <div class="span5">{% include "profiles/_profile_info.html" %}</div>
    </div>

    </br>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#history" data-toggle="tab">{% trans "History" %}</a></li>
            <li><a href="#followees" data-toggle="tab">{% trans "Following" %}</a></li>
            <li><a href="#followers" data-toggle="tab">{% trans "Followers" %}</a></li>
        </ul>

        <div class="tab-content" style="overflow: visible;">
            <div id="history" class="tab-pane active">{% include "items/content_display/_content_list.html" with contents=object_list scores=scores display="text" type="history" %}{% if is_paginated %}{% paginate %}{% endif %}</div>
            <div id="followees" class="tab-pane">{% include "profiles/_profile_user_list.html" with users=fwees items=items_fwed display="text" %}</div>
            <div id="followers" class="tab-pane">{% include "profiles/_profile_user_list.html" with users=fwers display="text" %}</div>
        </div>
    </div>
</div>{% endblock %}
