{% load i18n %}
{% load content_utils %}
{% load format_utils %}

{% if display == "thumbnail" %}
  <div class="product-store thumbnail click-to-product-thumb" data-name="{{ item.name }}" data-store="{{ prod.store.name }}" data-ean ="{{ prod.ean }}">
    <div class="title">
      <a href="{{ prod.url }}" target="_blank" title="{{ prod.name }}"><img src="{{ prod.img_small }}"></a>
      <a class="black" href="{{ prod.url }}" target="_blank" title="{{ prod.name }}">{{ prod.name|truncatechars:80 }}</a>
    </div>
    <div class="details {{ prod.ean }}">
      <h4>
        <a class="black" href="{{ prod.store.affiliated_url }}" target="_blank">{% favicon prod.store.url 16 %}&nbsp;{{ prod.store }}</a>
        <a class="pull-right" id="{{ prod.ean }}-thumb" href="{{ prod.url }}" target="_blank">{% price prod.price prod.currency LANGUAGE_CODE %}</a>
      </h4>
    </div>
  </div>
{% elif display == "list" %}
  <div class="row product-store click-to-product-row" data-name="{{ item.name }}" data-store="{{ prod.store.name }}" data-ean ="{{ prod.ean }}">
    <div class="span2"><a href="{{ prod.store.affiliated_url }}" target="_blank" class="black">{% favicon prod.store.url 16 %}&nbsp;{{ prod.store }}</a></div>
    <div class="span4 list">
      <img src="{{ prod.img_small }}">
      {{ prod.name }}
    </div>
    <div class="span3">
      {% price prod.price prod.currency LANGUAGE_CODE as price %}
      {% price prod.total_price prod.currency LANGUAGE_CODE as total_price %}

      <b title="{% trans 'Total Price (shipping included)' %}">{{ total_price }}</b>
      <a class="btn pull-right" id="{{ prod.ean }}" href="{{ prod.url }}" target="_blank"><b>{% trans "See offer" %}</b> <i class="icon-play"></i></a>
      <br>
      <small class="muted">
        <!-- icon-barcode, icon-gift -->
        <span title="{% trans 'Price' %}"><i class="icon-shopping-cart"></i> {{ price }}</span>
        <br>
        <!-- icon-envelope, icon-road -->
        <span title="{% trans 'Shipping Price' %}"><i class="icon-plane"></i> {{ prod.shipping_price }}</span>
        <br>
        <!-- icon-calendar -->
        <span title="{% trans 'Availability' %}"><i class="icon-time"></i> {{ prod.availability }}</span>
      </small>
    </div>
  </div>
{% elif display == "dropdown" %}
  <li class="click-to-product-drop" data-name="{{ item.name }}" data-store="{{ prod.store.name }}" data-ean ="{{ prod.ean }}">
    <a href="{{ prod.url }}" target="_blank" id="{{ prod.ean }}-drop">
      <span class="pull-right">{% price prod.price prod.currency LANGUAGE_CODE %}</span>
      {% favicon prod.store.url 16 %}&nbsp;{{ prod.store }}
    </a>
  </li>
{% elif display == "select" %}
  <div class="row product-store">
    <input type="hidden" name="current_search_{{ store }}" value="{{ i.id }}">
    <div class="span1"><input type="checkbox" class="pull-right" name="link_aff" value="{{ i.id }}"></div>
    <div class="span5 select">
      <img src="{{ i.img_small }}">
      <a href="{{ i.url }}" class="black" target="_blank">{{ i.name }}</a>
    </div>
    <div class="span1"><b><a title="{% trans 'Price' %}" href="{{ i.url }}" target="_blank">{% price i.price i.currency LANGUAGE_CODE %}</a></b></div>
  </div>
{% endif %}