{% spaceless %}

{% load url from future %}

{% if not display %}
	<a class="label{% if extra_class %} {{ extra_class }}{% endif %}" id="mixpanel_tag_home" href="{% url 'tagged_items' tag.slug %}">{{ tag.name }}</a>
{% elif display == "email_html" %}
	<a style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-decoration: none; display: inline-block; padding: 2px 4px; font-size: 11.844px; font-weight: bold; line-height: 14px; color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); white-space: nowrap; vertical-align: baseline; background-color: #999; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" href="http://www.newco-project.fr{% url 'tagged_items' tag.slug %}">{{ tag.name }}</a>
	{# TODO : find a way to not hard code the URL in display == "email_html" ... #}
{% endif %}

{% endspaceless %}