{% load i18n %}
{% load content_utils %}
{% load date_utils %}

{% with question=content.question %}

{% if display == "mini_feed" %}
  <blockquote{% if content.is_draft %} class="draft"{% endif %}>
    <h5><a href="{{ author.get_absolute_url }}">{% profile_pic author 18 %}</a> {% object_display author display %} {% blocktrans with url=content.get_absolute_url %}<a href="{{ url }}">answered</a> a question{% endblocktrans %} {% source_display content display %}</h5>
    <p{% if question.is_draft %} class="draft"{% endif %}><small><a class="black" href="{{ question.get_absolute_url }}">{{ question.content }}</a></small></p>

    <p>
      <small class="black" style="font-size: 11px !important; font-weight: normal !important; line-height: 11px; text-rendering: optimizelegibility;">{% autoescape off %}{{ content.content }}{% endautoescape %}</small>
      <span class="pull-right" style="color: #999; font-size: 11px; line-height: 11px; position: relative; top: -1px; left: 0px">{{ content.pub_date|datediff:"SHORT_DATE_FORMAT" }}</span>
    </p>
  </blockquote>
{% elif display == "text" %}
  <div class="row"><div class="span7">
    <h4>{% object_display author display %} {% trans "answered a question" %} {% source_display content display %}</h4>
  </div></div>

  <div class="row {% if question.is_public %}one_row{% elif question.is_draft %}draft{% endif %}">
    <div class="span5"><p><small><a href="{{ question.get_absolute_url }}" class="black">{% trans "Q:" %}</a>&nbsp;{{ question.content }}</small></p></div>
    <div class="span2 right">{% content_info question "signature-author" %}</div>
  </div>

  <div class="row {% if content.is_public %}one_row{% elif content.is_draft %}draft{% endif %}">
    <div class="span1"><p><a href="{{ content.get_absolute_url }}" class="black">{% trans "A:" %}</a></p></div>
    <div class="span3"><p>
      {% autoescape off %}{{ content.content }}{% endautoescape %}
      {% edit_buttons user content edit_next=path delete_next=path %}
    </p></div>
    <div class="span1 right"><h3>{{ score.score }}</h3></div>
    <div class="span2 right">{% content_info content "signature-author" %}</div>
  </div>

  {% if user != author %}
    <div class="row"><div class="span4 offset3"><a href="{{ question.get_absolute_url }}" class="btn btn-mini"><i class="icon-share-alt"></i> {% trans "Add an answer" %}</a></div></div>
  {% endif %}
{% elif display == "email_html" %}
  <p><small><b><a href="{% get_absolute_uri question request %}" style="color: #010101; text-decoration: none;">{% autoescape off %}{{ question.content }}{% endautoescape %}</a></b></small></p>
  <p><a href="{% get_absolute_uri content request %}" style="color: #010101; text-decoration: none;">{% autoescape off %}{{ content.content }}{% endautoescape %}</a></p>
{% elif display == "email_txt" %}
  {% autoescape off %}{{ content.content }}{% endautoescape %}
{% endif %}

{% endwith %}

{# TODO : set the styles in a .css #}
