{% load i18n %}
{% load content_utils %}
{% load date_utils %}

{% with question=content.question %}

{% if display == "mini_feed" %}
  <blockquote{% if content.is_draft %} class="draft"{% endif %}>
    <h5><a href="{{ author.get_absolute_url }}">{% profile_pic author 18 %}</a> {% object_display author display %} {% blocktrans with url=content.get_absolute_url %}<a href="{{ url }}">answered</a> a question{% endblocktrans %} {% source_display content display %}</h5>
    <p{% if question.is_draft %} class="draft"{% endif %}><small><a class="black" href="{{ question.get_absolute_url }}">{{ question.content }}</a></small></p>

    <p>
      <small class="black" style="font-size: 11px !important; font-weight: normal !important; line-height: 11px; text-rendering: optimizelegibility;">{% autoescape off %}{{ content.content }}{% endautoescape %}</small>
      <span class="pull-right" style="color: #999; font-size: 11px; line-height: 11px; position: relative; top: -1px; left: 0px">{{ content.pub_date|datediff:"SHORT_DATE_FORMAT" }}</span>
    </p>
  </blockquote>
{% elif display == "text" %}

  {% include "items/root_display/_answer.html" with answer=content scores=scores item=item vote=vote display=display display_q="True" display_options="True" user=user only %}

{% elif display == "email_html" %}
  <p><small><b><a href="{% get_absolute_uri question request %}" style="color: #010101; text-decoration: none;">{% autoescape off %}{{ question.content }}{% endautoescape %}</a></b></small></p>
  <p><a href="{% get_absolute_uri content request %}" style="color: #010101; text-decoration: none;">{% autoescape off %}{{ content.content }}{% endautoescape %}</a></p>
{% elif display == "email_txt" %}
  {% autoescape off %}{{ content.content }}{% endautoescape %}
{% endif %}

{% endwith %}

{# TODO : set the styles in a .css #}
