{% load i18n %}
{% load voting_tags %}
{% load content_utils %}

{% for content in contents %}
  {% if not forloop.first %}{% if display == "mini_feed" %}<br>{% else %}<hr>{% endif %}{% endif %}
  <div class="row content"><div class="span{% if display == 'mini_feed' %}4{% else %}7{%endif%}">
    {% dict_entry_for_item content from scores as score %}

    {% include content|feed_template with content=content author=content.author score=score user=user path=request.path display=display csrf_token=csrf_token only %}
  </div></div>
{% empty %}
  {% if empty_msg %}
    <p>{{ empty_msg }}</p>
  {% else %}
    <p>{% trans "Sorry, this feed is empty." %}</p>
  {% endif %}
{% endfor %}