{% load i18n %}
{% load content_utils %}
{% load bootstrap_tags %}

{% for content in contents %}
  {% if not forloop.first %}<hr>{% endif %}

  {% if content|to_class_name == "question" %}

    {% if "context" in options %}<p class="content-context">
      {% object_display content.author "text" %} {% trans "asked a question" %}
    </p>{% endif %}

    {% include QUESTION_TEMPLATE with question=content display=display options=options %}

    {% if "all-answers" in options %}
      {% for answer in content.answer_set.all %}
        {% if not forloop.first%}<br>{% endif %}
        {% include ANSWER_TEMPLATE with answer=answer display="list" %}
      {% endfor %}
    {% elif "top-answer" in options %}
      {% include ANSWER_TEMPLATE with answer=answer.answer_set.all.0 display="list" %}
    {% endif %}
  {% elif content|to_class_name == "answer" %}
    {% if "context" in options %}<p class="content-context">
      {% object_display content.author "text" %} {% trans "answered a question" %}
    </p>{% endif %}

    {% if display != "mini_feed" %}{% include QUESTION_TEMPLATE with question=content.question display=display options=options %}{% endif %}

    {% include ANSWER_TEMPLATE with answer=content display=display options=options %}
  {% endif %}
{% empty %}
  <div class="empty-message">
    {% if empty_msg %}{{ empty_msg }}{% else %}{% trans "Sorry, this feed is empty." %}{% endif %}
  </div>
{% endfor %}
