{% load i18n %}

{% spaceless %}

<div class="question-controls">
  {% if not display_a == "all" %}
    {% blocktrans count nb_ans=content.answer_set.count %}
      {{ nb_ans }} answer:
    {% plural %}
      {{ nb_ans }} answers:
    {% endblocktrans %}
    <a href="{{ content.get_absolute_url }}#answer-form">{% if content.answer_set.count == 0 %}{% trans "Answer this question" %}{% else %}{% trans "Add an answer" %}{% endif %}</a>&nbsp;• 
  {% endif %}

  <a class="btn-ask" data-question-id="{{ content.id }}">{% trans "Ask to answer" %}</a>
</div>

{% endspaceless %}
