{% load url from future %}
{% load i18n %}
{% load voting_tags %}
{% load content_utils %}
{% load date_utils %}

{% if display == "mini_feed" %}
  <blockquote{% if question.is_draft %} class="draft"{% endif %}>
    <h5><a href="{{ question.author.get_absolute_url }}">{% profile_pic question.author 18 %}</a> {% object_display question.author display %} {% blocktrans with url=question.get_absolute_url %}asked a <a href="{{ url }}">question</a>{% endblocktrans %} {% source_display question display %}{% trans ":" %}</h5>
    <p>
      <small class="black" style="font-size: 11px !important; font-weight: normal !important; line-height: 11px; text-rendering: optimizelegibility;">{% autoescape off %}{{ question.content }}{% endautoescape %}</small>
      <span class="pull-right" style="color: #999; font-size: 11px; line-height: 11px; position: relative; top: -1px; left: 0px">{{ question.created|datediff:"SHORT_DATE_FORMAT" }}</span>
    </p>
  </blockquote>
{% elif display == "list" or display == "detail" %}

  {% dict_entry_for_item question from votes as vote %}
  {% dict_entry_for_item question from scores as score %}

  <div class="row highlight question{% if question.is_draft %} draft{% endif %}" id="{{ question.anchor }}">
    <div class="span1 content-controls">
      {% include "items/_content_controls.html" with content=question item=item score=score vote=vote user=user delete_next=request.path csrf_token=csrf_token only %}
    </div>
    <div class="span8">

      <div class="content-extra">
        {% if question.is_draft %}
          <b class="text-right">{% trans "Draft" %}</b>
        {% else %}
          {% content_info question display 32 %}
        {% endif %}
        <br>
        {% if "parents" in options %}{% source_display question "context" sep=" " %}{% endif %}
      </div>

      {% if display == "detail" %}
        <h1 itemprop="name">{{ question.content }}</h1>
      {% elif display == "list" %}
        <p itemprop="name"><a href="{{ question.get_absolute_url }}" itemprop="url">{{ question.content }}</a></p>
      {% endif %}

      {% include "items/feed_display/_feed_controls.html" with question=question only %}

    </div>
  </div>
{% elif display == "email_html" %} {# to do: change object name (same convention in this template): question => content #}
  <a href="{% get_absolute_uri question request %}" style="color: #010101; text-decoration: none;">{{ question.content }}</a>
  <br>
{% elif display == "email_txt" %}
  {% autoescape off %}{{ question.content }}{% endautoescape %}
{% endif %}
