{% load url from future %}
{% load i18n %}
{% load voting_tags %}
{% load content_utils %}
{% load date_utils %}
{% load bootstrap_tags %}

{% if display == "mini_feed" %}
  {#<div class="row"><div class="span4">#}
    <blockquote{% if content.is_draft %} class="draft"{% endif %}>
      <h5><a href="{{ author.get_absolute_url }}">{% profile_pic author 18 %}</a> {% object_display author display %} {% blocktrans with url=content.get_absolute_url %}asked a <a href="{{ url }}">question</a>{% endblocktrans %} {% source_display content display %}{% trans ":" %}</h5>
      <p>
        <small class="black" style="font-size: 11px !important; font-weight: normal !important; line-height: 11px; text-rendering: optimizelegibility;">{% autoescape off %}{{ content.content }}{% endautoescape %}</small>
        <span class="pull-right" style="color: #999; font-size: 11px; line-height: 11px; position: relative; top: -1px; left: 0px">{{ content.pub_date|datediff:"SHORT_DATE_FORMAT" }}</span>
      </p>
    </blockquote>
  {#</div></div>#}

{% elif display == "text" %}

  {% dict_entry_for_item content from votes as vote %}
  {% dict_entry_for_item content from scores as score %}

  {% comment %}{% if display_linked_content == "True" %}
    <div class="row one_row">
      <div class="span9">
          <p class="nf-small-grey">{% if content.items.all %}{% trans "Products related" %}: {% for item in content.items.all %} <a href="{{ item.get_absolute_url }}" class="black">{{ item.name }}</a>. {% endfor %}
          {% elif content.tags.all %}{% trans "Category" %} {% tags_display content.tags 3 %}
          {% endif %}</p>
      </div>
    </div>
  {% endif %}{% endcomment %}

  <div class="row one_row">
    <div class="span1 vote-controls">
      {% include "items/_vote_box.html" with content=content item=item score=score vote=vote display=display csrf_token=csrf_token only %}
      {% edit_buttons user content edit_next=path delete_next=path %}
    </div>
    <div class="span8">

      {% if display_img == "True" %}{# Seb: quick-fix while we don't have standardized width of newsfeed: "no image" allows to stay in span7 #}
        <div class="pull-right" style="max-width: 190px; padding-left: 5px;">
          {% if content.items.all.count > 2 or content.tags.all.count > 2 %}
            <p class="nf-small-grey">{% if content.items.all %}{% trans "Products related" %}: {% for item in content.items.all %} <a href="{{ item.get_absolute_url }}" class="nf-small-grey">{{ item.name }}</a>{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}
            {% elif content.tags.all %}{% trans "Categories" %} {% tags_display content.tags %}
            {% endif %}</p>
          {% else %}
            {% if content.items.all %}
              {% for item in content.items.all|slice:":2" %}
                <div class="span1 content-item-mini">
                  {% include "items/feed_display/_image.html" with image=item.image display_prod_name="True" item=item only %}
                </div>
              {% endfor %}
            {% elif content.tags.all %}
              {% for tag in content.tags.all|slice:":2" %}
                <div class="span1 content-item-mini">
                  <a href="{{ content.get_absolute_url }}">
                    <img src='http://www.kwe-tech.com/img/general/cardboard-box.png' width='60' height='60'>
                    <h6 class="black" align="center">{{ tag.name|truncatechars:25 }}</h6>
                  </a>
                </div>
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      {% endif %}

      {#<div class="row {% if content.is_public %}one_row{% elif content.is_draft %}draft{% endif %}"><div class="span6">#}
      <p><a class="question-nf" href="{{ content.get_absolute_url }}">{{ content.content }}</a></p>
      {#</div></div>#}

      {% if not display_answer == "True" %}{#  If no answer => display controls  #}
        <p class="nf-small-grey">
          <a href="{{ content.get_absolute_url }}">{% trans "Add Answer" %}</a> • <a class="nf-small-grey" href="#">{% trans "Follow" %}</a> • <a class="nf-small-grey" href="#">{% trans "Ask someone to answer" %}</a>{% comment %} •
          <div class="dropdown">
            <a class="nf-small-grey dropdown-toggle" data-toggle="dropdown" href="#">{% trans "More" %} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="#">Detailed info</a></li>
              <li><a tabindex="-1" href="#">An</a></li>
              <li><a tabindex="-1" href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>{% endcomment %}
        </p>
      {% endif %}

    </div>

  </div>

  {% if display_answer == "True" %}
    {% for answer in content.answer_set.all %}
      {% include "items/root_display/_answer.html" with answer=answer item=item vote=vote display=display display_signature=display_signature scores=scores only %}{# scores=answer.scores #}
    {% empty %}
      {% cycle "empty" as empty silent %}
    {% endfor %}
  {% endif %}


  {% if display_answer == "True" %}
    <div class="row" id="controls_answer_form_{{ content.id }}">
      <br>
      <div class="span4"><button class="btn btn-small" data-toggle="collapse" data-target="#answer_form_{{ content.id }}"><i rel="icon" class="icon-share-alt"></i> <span rel="text">{% if empty %}{% trans "Answer this question" %}{% else %}{% trans "Add a better answer" %}{% endif %}</span></button></div>
      <div class="span4 right"><button class="btn btn-small" data-toggle="modal" data-target="#ask"><i class="icon-user"></i> {% trans "Ask someone to answer" %}</button></div>
    </div>
    <div class="row"><div class="span9">
      <div id="answer_form_{{ content.id }}" class="row collapse {% if content.answer_form.errors or content.id == q_id %}in{% else %}out{% endif %}"><form method="POST" action="#answer_form_{{ content.id }}">
        <br>
        {% if user.is_authenticated %}<div class="span1">{% include "profiles/_profile_edit_about.html" %}</div>{% endif %}
        <div class="span8{% if not user.is_authenticated %} offset1{% endif %}">
          {% csrf_token %}
          {{ content.answer_form|as_bootstrap }}
          <button type="submit" class="btn btn-primary btn-small" name="answer" value="{{ statuses.public }}"><i class="icon-share-alt icon-white"></i> {% trans "Answer and publish" %}</button>
          <button type="submit" class="btn btn-small" name="answer" value="{{ statuses.draft }}"><i class="icon-pencil"></i> {% trans "Save as draft" %}</button>
          <input type="hidden" name="question_id" value="{{ content.id }}"/>
        </div>
      </form></div>
    </div></div>
    {% include "items/_ask_modal.html" %} {# ToDo: ask_modal is not made to be displayed for each question => rework it to be coherent with this new structure #}
  {% endif %}

{% elif display == "email_html" %} {# to do: change object name (same convention in this template): question => content #}
  <a href="{% get_absolute_uri question request %}" style="color: #010101; text-decoration: none;">{{ question.content }}</a>
  <br>
{% elif display == "email_txt" %}
  {% autoescape off %}{{ question.content }}{% endautoescape %}
{% endif %}
