{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}
{% load follow %}
{% load content_utils %}

{% spaceless %}

<div class="tag-controls">
  <a data-toggle="modal" data-target="#experts-list" href="#">{% trans "Add a question" %}</a>&nbsp;•
  <form method="POST">{% csrf_token %}
    {% if tag in user.get_profile.skills.all %}
      <button class="btn btn-mini btn-primary tooltip-bottom" type="submit" name="skills" value="remove" title="{% blocktrans %}Click to remove tag {{ tag }} from your skill list{% endblocktrans %}">{% trans "In my skills" %}</button>
    {% else %}
      <button class="btn btn-mini tooltip-bottom" type="submit" name="skills" value="add" title="{% blocktrans %}Click to add tag {{ tag }} to your skill list{% endblocktrans %}">{% trans "Add to skills" %}</button>
    {% endif %}
  </form>
</div>

{% endspaceless %}
