{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}
{% load follow %}
{% load content_utils %}

{% spaceless %}
<div class="nf-small muted display-inline">
  <a {% if include_modal == "True" %}href="#" data-toggle="modal" data-target="#experts-list"{% endif %}>{% trans "Add a question" %}
  </a>
  {% if user.is_authenticated %} • <form method="POST" class="display-inline">{% csrf_token %}
    {% if tag in user.get_profile.skills.all %}
      <a class="tooltip-bottom" title="{% blocktrans %}Click to remove tag {{ tag }} from your skill list{% endblocktrans %}">
      <button type="submit" class="btn btn-mini btn-primary" name="skills" value="remove">{% trans "In my skills" %}</button>
      </a>
    {% else %}
      <a class="tooltip-bottom" title="{% blocktrans %}Click to add tag {{ tag }} to your skill list{% endblocktrans %}"><button type="submit" class="btn btn-mini" name="skills" value="add">
        {% trans "Add to skills" %}</button>
      </a>
    {% endif %}
  </form>{% endif %}
</div>
{% endspaceless %}
