{% load content_utils %}
{% load url from future %}
{% load follow_utils %}

<div class="content-item{% if masonry_list == "1" %} masonry-item{% elif masonry_list == "2"  %} masonry-item2{% endif %} thumbnail">
  {% if image %}
    {% with image=image.data %}<div class="name"><a href="{{ object.get_absolute_url }}" id="mixpanel_image"><img height="{% widthratio image.thumbnailHeight image.thumbnailWidth 164 %}" src="{{ image.thumbnailLink }}" alt=""></a></div>{% endwith %}
  {% else %}
    {% with image=object.node.graph.get_image.data%}<div class="name"><a href="{{ object.get_absolute_url }}" id="mixpanel_image"><img height="{% widthratio image.thumbnailHeight image.thumbnailWidth 164 %}" src="{{ image.thumbnailLink }}" alt=""></a></div>{% endwith %}
  {% endif %}
  <div class="details" style="font-size:12px;">
    {% object_display object "thumbnail" "black" %}
  </div>
  {% tags_display object.tags 3 %}
  {% if disp_follow %}<br><center>{% follow_form user object %}</center>{% endif %}
</div>
