.profile-item .name img {
  float: right;
  margin-left: 5px;
  max-height: 64px;
  border-radius: 4px;
}

.profile-item {
  line-height: 18px;
  width: 165px;
  margin: 9px;
  overflow: auto;
  background-color: white;
}

.profile-item h5 {
  display: run-in;
  margin: 0;
}

.profile-item .details p {
  margin: 0;
}

.profile-follow {
  display: block;
  padding-left: 130px;
}

.one_row {
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: background-color 0.9s;
     -moz-transition: background-color 0.9s;
}

.one_row:hover {
  background-color: #F8F8F8;
  -webkit-transition: background-color 5s;
     -moz-transition: background-color 5s;
}

.one_row:hover .controls_2 {
  opacity: 1;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
}

.row .block_controls {
  padding-top: 3px;
  opacity: 0;
  -webkit-transition: opacity 0.9s;
     -moz-transition: opacity 0.9s;
}

.row:hover .block_controls {
  opacity: 1;
  -webkit-transition: opacity 5s;
     -moz-transition: opacity 5s;
}

.question hr {
  margin: 8px 0 15px;
}

.draft {
  background-color: #e5e5e5;
  border-radius: 5px 5px 5px 5px;
}

.draft:hover .controls_2 {
  opacity: 1;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
}
