.profile-item {
  line-height: 18px;
  width: 165px;
  overflow: auto;
  background-color: white;
}

#profile-list .profile-item {
  margin: 9px;
}

.profile-item .name img {
  float: right;
  margin-left: 5px;
  max-height: 64px;
  border-radius: 4px;
}

.profile-item h5 {
  display: run-in;
  margin: 0;
}

.profile-item .details p {
  margin: 0;
}

.profile-follow {
  display: block;
  padding-left: 130px;
}
