{% load bootstrap_tags %}
{% load i18n %}

{% if form.non_field_errors %}
    <div class="alert alert-error">
        {% if form_error_title %}
            <strong>{{ form_error_title }}</strong>
        {% endif %}
        {% for error in form.non_field_errors %}
            {{ error }}<br />
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}
	{% if field.name == "items" %}
    	<div class="pull-right">
    		<a class="btn tooltip-top" title="{% trans 'Click here if you can&#39;t find the product you want to link your question to' %}" data-toggle="modal" role="button" href="#itemModal"><i rel="add_icon" class="icon-plus"></i> {% trans "Add a product" %}</a>
    	</div>
    {% endif %}

    {% include "bootstrap/field.html" %}
{% endfor %}
