/* rules from pinax_theme_bootstrap theme.css */

@media (min-width: 980px) {
  body {
    padding-top: 80px;
    position: relative;
  }
}
.modal form {
  margin-bottom: 0px;
}

/* utilities */

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* ↓ css defs for profile page */

.run-in {
    display: run-in
}

.centered-text {
    text-align:center
}

.no-display {
    display:none
}

.profile-item .name img {
    float: right;
    margin-left: 5px;
    max-height: 64px;
    border-radius: 4px;
}

.profile-item { line-height: 18px; width: 165px; margin: 9px; overflow: auto; background-color: white; }
.profile-item h5 { display: run-in; margin: 0px; }
.profile-item .details p { margin: 0; }

#profile-follow {
    display: block;
    padding-left: 130px;
}

.black { color: #333 }

/* profil item small version for homepage */

.profile-item-small { line-height: 8px; width: 100px; height: 50px; margin: 3px }
.profile-item-small img {
    float: right;
    margin-left: 5px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
}

.product-item-small { line-height: 8px; width: 140px; height: 50px; margin: 3px }

.content-item img {
    float: right;
    margin-left: 5px;
    width: 164px;
    /*height: 164px;*/
    border-radius: 4px;
}

@media (min-width: 980px) {
  .content-item { line-height: 18px; width: 165px; margin: 9px; background-color: white; }
}

@media (max-width: 979px) {
  .content-item { line-height: 18px; width: 165px; margin: 9px 0px; background-color: white; }
}
.content-item .details h4 { display: run-in; }
.content-item .details p { margin: 0; }
.content-item .details { line-height: 20px; }


.content-item-small img {
    /*float: right;*/
    margin-left: 2px;
    width: 124px;
    height: 124px;
    border-radius: 2px;
}

.content-item-small { line-height: 18px; width: 125px; margin: 2px }
/*.content-item-small .details h4 { display: run-in; }
.content-item-small .details p { margin: 0; }*/


.content-item-products { line-height: 1px; width: 25px; margin: 3px }
.content-item-products img {
    float: left;
    margin-left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right:5px;
    margin-top: 2px;
}

.carousel .item img {
    height: 300px;
    max-width: none;
}

#bulb > div{
    display: inline-block;
    background: #fff url(../img/bulb.png);
    height:120px;
}

#gears > div{
    display: inline-block;
    background: #fff url(../img/gears.png);
    height:120px;
}

/* ↓ css defs for image selection/sort */

.selector-item {
    position: relative;
    list-style: none;
}

.selected-list img {
    min-width: 100px;
    min-height: 128px;
    max-height: 128px;
}

.selected-list {
    margin-right: 13px;
}

.img-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 16px;
    border-radius: 3px;
    opacity: 0;
    background-color: #BBB;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    cursor: pointer;
}

img:hover + .img-controls,
.img-controls:hover {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
}

.img-selector {
    border-collapse: initial;
}

.trash {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    width: 140px;
    padding-top: 18px;
}

.trash-list {
    width: 100%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.trash .selector-item {
    margin-left:20px;
}

.trash img {
    width: 30px;
    height: 30px;
}

.dropzone {
    border: 1px dashed #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border-color: #0088cc;
    -webkit-box-shadow:  4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.ui-sortable-placeholder {
    min-width: 124px;
    height: 136px;
    border: 1px dashed #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border-color: #0088cc;
    -webkit-box-shadow:  4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.trash .ui-sortable-placeholder {
    visibility: hidden;
    min-width: 38px;
    height: 38px;
    width: 38px;
}

.myClassPopover{
    position: relative;
}

/* twitter aditional stuff */
/* supporting docs pages */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    /*right: 0; */ /* shouldn't we only define left OR right ? */
    z-index: 999; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }

  .subnav-moved {
    position: relative;
    top: 0;
  }
}

@media (max-width: 600px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Jumbotron buttons */
  .jumbotron .btn {
    margin-bottom: 10px;
  }

  /* Subnav */
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: #fff; /* whole background property since we use a background-image for gradient */
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .subnav .nav > li {
    float: none;
  }
  .subnav .nav > li > a {
    border: 0;
  }
  .subnav .nav > li + li > a {
    border-top: 1px solid #e5e5e5;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
      -webkit-border-radius: 4px 4px 0 0;
         -moz-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
  }
}

.nc-tag {
  font-weight: normal;
}

/* Use btn-group and btn styles in a nav */
.nav.btn-group {
  padding: 0;
}

.nav.btn-group > li.btn {
  margin: 0;
  padding: 0;
  border-top: 0;
  border-bottom: 0;
  text-align: left;
  text-shadow: none;
}

.nav.btn-group > li.btn > a {
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.nav.btn-group > li.btn-primary > a,
.nav.btn-group > li.btn-warning > a,
.nav.btn-group > li.btn-danger > a,
.nav.btn-group > li.btn-success > a,
.nav.btn-group > li.btn-info > a,
.nav.btn-group > li.btn-inverse > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nav.btn-group > li.btn > a {
  padding: 9px 10px 11px;
  line-height: 20px;
}
.nav.btn-group > li.navbar-text {
  padding: 9px 1px 11px;
  line-height: 20px;
}

.nav.btn-group > li > a > .gravatar {
  margin-top: -7px;
  margin-bottom: -3px;
  margin-right: 4px;
}

/* Right column details (ex: question_detail.html and feed.html) */
.well.nc-right-col-well-span4 { /*Maybe we don't want to limit this to nc-right-col-well-span4 ?*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media (min-width: 980px) {
  .nc-right-col-well {
    width: 180px;
  }
  .nc-right-col-well-span4 {
    /*width: 100%;*/
    padding: 5px;
  }
  .nc-right-col-well-span4 .thumbnail {
    margin: 2px;
  }
}

@media (max-width: 979px) {
  .nc-right-col-well {
    width: 172px;
    padding: 2px;
  }
  .nc-right-col-well-span4 {
    /*width: 220px;*/
    /*padding: 2px;*/
  }
}

/* select2 tweaked to be bootstrap friendly */
.select2-bootstrap .select2-choices {
  background-color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;

  border-radius: 4px;
  border: 1px solid #CCC;
  background-image: none;
}

.select2-bootstrap.select2-container-active .select2-choices {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.select2-bootstrap.select2-dropdown-open .select2-choices {
  border-radius: 4px 4px 0 0;
}

/* select2 no results rules, currently used to add products on question_form */
.select2-no-results button {
  float: right;
}
.select2-no-results > span {
  display: inline-block;
  padding: 5px 12px;
}

/* textarea resize option */
textarea#id_content {
  resize: vertical;
}

/* fix for tutorial : NewCo's subnav is z-index: 999; */
.joyride-tip-guide {
  z-index: 1001;
}
/* End of fix for tutorial : NewCo's subnav is z-index: 999; */

/* Fix vertical position of icons in btn-mini */
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
  vertical-align: middle;
  margin-top: -2px;
}

/*
div, span {
  box-shadow:
     inset -1px 0   0 red,
     inset 1px 0   0 red,
     inset  0  -1px 0 red,
     inset  0   1px 0 red;
}
img {
  box-shadow:
     -1px 0   0 orange,
     1px 0   0 orange,
      0  -1px 0 orange,
      0   1px 0 orange;
}
*/
