{% load i18n %}
{% load content_utils %}

{% with question=content.question %}
    <div class="row"><div class="span7">
        <h4>{% include p_link_tpl with object=author %} {% trans "answered a question about" %} {% include i_link_tpl with object=content.items.all.0 %}</h4>
    </div></div>

    <div class="row one_row">
        <div class="span5"><p><small><a href="{{ question.get_absolute_url }}">{% trans "Q:" %}</a>&nbsp;{{ question.content }}</small></p></div>
        <div class="span2 right">{% include "items/_author.html" with object=question %}</div>
    </div>

    <div class="row one_row">
        <div class="span1"><p><a href="{{ content.get_absolute_url }}">{% trans "A:" %}</a></p></div>
        <div class="span3"><p>
            {{ content.content }}
            {% if user.is_superuser or author == user %}
                {% with name=content|to_class_name %}{% edit name content.id %}{% endwith %}
            {% endif %}
        </p></div>
        <div class="span1" style="text-align:right;"><h3>{% if score %}{{ score.score }}{% else %}0{% endif %}</h3></div>
        <div class="span2 right">{% include "items/_author.html" with object=content %}</div>
    </div>
    {% if user != author %}
        <div class="row"><div class="span4 offset3 block_controls"><a href='{% url item_create "answer" %}?question_id={{ content.question.id }}' class="btn btn-mini"><i class="icon-share-alt"></i> {% trans "Add an answer" %}</a></div></div>
    {% endif %}
{% endwith %}
