
{% load i18n %}
{% load voting_tags %}
{% load content_utils %}

{% for content in contents|slice:slicing %}{% with class_name=content|to_class_name %}
    {% if not forloop.first and not mini_feed %}<hr>{% elif not forloop.first and mini_feed %}<br>{% endif %}
    <div class="row content"><div class="span{% if mini_feed %}4{% else %}7{%endif%}">

        {% dict_entry_for_item content from score_dict as score %}

        {% with tpl="profiles/content_display/_"|add:class_name|add:".html" %}
            {% include tpl with content=content author=content.author score=score user=request.user path=request.path p_link_tpl=p_link_tpl i_link_tpl=i_link_tpl mini_feed=mini_feed only %}
        {% endwith %}

    </div></div>
{% endwith %}{% endfor %}
