{% load i18n %}
{% load content_utils %}

<div class="row"><div class="span7">
    <h4>{% include p_link_tpl with object=author %} {% trans "suggested a feature on" %} {% include i_link_tpl with object=content.items.all.0 %}</h4>
</div></div>

<div class="row {% if content.is_public %}one_row{% elif content.is_draft %}well{% endif %}">
    <div class="span4"><p>
        <a href="{{ content.get_absolute_url }}"><i class="icon-thumbs-{% if content.positive %}up{% else %}down{% endif %}"></i></a>&nbsp;{{ content.content }}
        {% if user.is_superuser or author == user %}
            {% with name=content|to_class_name %}{% edit name content.id %}{% endwith %}
        {% endif %}
    </p></div>
    <div class="span1" style="text-align:right;"><h3>{% if score %}{{ score.score }}{% else %}0{% endif %}</h3></div>
    <div class="span{% if content.is_public %}2{% elif content.is_draft %}1{% endif %} right">{% include "items/_author.html" with object=content %}</div>
</div>
