{% load url from future %}
{% load i18n %}
{% load content_utils %}
{% load date_utils %}

{% if display == "mini_feed" %}
    <blockquote{% if content.is_draft %} class="draft"{% endif %}>
        <h5><a href="{{ author.get_absolute_url }}">{% profile_pic author 18 %}</a> {% include prof_tpl with object=author display=display %} {% blocktrans with url=content.get_absolute_url %}asked a <a href="{{ url }}">question</a> about{% endblocktrans %} {% include prod_tpl with object=content.items.all.0 display=display %}{% trans ":" %}</h5>
        <p>
            <small class="black" style="font-size: 11px !important; font-weight: normal !important; line-height: 11px; text-rendering: optimizelegibility;">{% autoescape off %}{{ content.content }}{% endautoescape %}
            </small>
            <span class="pull-right" style="color: #999; font-size: 11px; line-height: 11px; position: relative; top: -1px; left: 0px">{{ content.pub_date|datediff:"SHORT_DATE_FORMAT" }}</span>
        </p>
    </blockquote>
{% elif display == "thumbnail" %}
    {% include prof_tpl with object=content.author display=display color="black" %} {% blocktrans with url=content.get_absolute_url %}asked a <a href="{{ url }}" class="black">question</a> about{% endblocktrans %} {% include prod_tpl with object=item display=display color="black" %}
{% elif display == "text" %}
    <div class="row"><div class="span7">
        <h4>{% include prof_tpl with object=author display=display %} {% trans "asked a question about" %} {% include prod_tpl with object=content.items.all.0 display=display %}</h4>
    </div></div>

    <div class="row {% if content.is_public %}one_row{% elif content.is_draft %}draft{% endif %}">
        <div class="span4"><p>
            <a href="{{ content.get_absolute_url }}">{% trans "Q:" %}</a>&nbsp;{{ content.content }}
            {% if user.is_superuser or author == user %}
                {% with name=content|to_class_name %}{% edit name content.id path %}{% endwith %}
            {% endif %}
        </p></div>
        <div class="span1 right"><h3>{% if score %}{{ score.score }}{% else %}0{% endif %}</h3></div>
        <div class="span2 right">{% include "items/_author.html" with object=content %}</div>
    </div>

    {% if user != author %}
        <div class="row block_controls"><div class="span4 offset3"><a href="{% url 'item_create' 'answer' %}?question_id={{ content.id }}" class="btn btn-mini"><i class="icon-share-alt"></i> {% trans "Answer this question" %}</a></div></div>
    {% endif %}
{% endif %}
