{% extends "site_base.html" %}

{% load i18n %}
{% block head_title %}{% trans item.name %}{% endblock %}

{% block body %}

<h1>{{ item }}</h1>
<br />
<dl class="dl-horizontal">
    <dt> ID </dt> <dd> {{ item.id }} </dd>
    <dt> Created </dt> <dd> {{ item.created }} </dd>
    <dt> Modified </dt> <dd> {{ item.modified }} </dd>
    <h2>Data:</h2>
    {% for key, value in item.data.iteritems %}
        <dt> {{ key }} </dt> <dd> {{ value }} </dd>
    {% endfor %}
</dl>
<h2>Relations:</h2>
{{  item.get_items  }}<br>
{% for item in item.get_items %}
    {{  item.id  }} {{  item.data.name  }} {{  item.data  }}<br>
{% endfor %}
<br><hr>
{{  item.get_relations  }}<br>
{% for relation in item.get_relations %}
    {{  relation.from_item  }} {{  relation.data.relationship  }} 
    <a href="{{  relation.to_item.get_absolute_url  }}">{{  relation.to_item  }}</a><br>
{% endfor %}
<br><hr>
{{  item.get_related_items  }}<br>
{% for item in item.get_related_items %}
    {{  item.id  }} {{  item.data.name  }} {{  item.data  }}<br>
{% endfor %}
<br><hr>
{{  item.get_related_relations  }}<br>
{% for relation in item.get_related_relations %}
    <a href="{{  relation.from_item.get_absolute_url  }}">{{  relation.from_item  }}</a> {{  relation.data.relationship  }} {{  relation.to_item  }}<br>
{% endfor %}
<hr>
<p>
<a class="btn" href="{% url model_index model %}">
    <i class="icon-list"></i> Items list</a>
<a class="btn" href='{% url content_edit model item.id %}'>
    <i class="icon-edit"></i> Edit Item</a>
{% if user.is_superuser %}
<a class="btn" href='{% url content_delete model item.id %}'>
    <i class="icon-trash"></i> Delete Item</a>
{% endif %}
</p>

{% endblock %}