{% load i18n %}

{% load url from future %}

<ul class="nav nav-list">
{% if items %}
  <li class="nav-header"><em>{% trans 'Items' %}</em></li>
  {% for item in items %}<li><a href="{{ item.get_absolute_url }}" class="black"><h5>{{ item }}</h5></a></li>{% endfor %}
{% endif %}
{% if tags %}
  <li class="nav-header"><em>{% trans 'Tags' %}</em></li>
  {% for tag in tags %}<li class="tag"><a href="{% url 'tagged_items' tag.slug %}" class="black"><h5>{{ tag }}</h5></a></li>{% endfor %}
{% endif %}
  <li class="divider"></li>
  <li><a class="black" href="{% url 'item_create' 'item' %}"><b>{% trans '+ Create a new page' %}</b></a></li>
</ul>
